.bot-nav-xs {
  &__list {

  }
  &__left {
    width: 50%;
    padding-right: 7%;

    @include phone {
      width: 100vw;
      padding-right: 0;
      transition: 0.6s;

      transform: translateX(0);

      &.active {
        transform: translateX(-100vw);
      }
    }
  }
  &__right {
    width: 50%;
    transition: 0.6s;

    @include phone {
      width: 88vw;
      transform: translateX(100vw);

      &.active {
        transform: translateX(-100vw);
      }
    }
  }
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    position: relative;
    font-size: 22px;
    margin-bottom: 24px;
    color: $black;

    &:after {
      content: url("../img/right-arrow-gray.svg");
      position: absolute;
      right: -21px;
      top: -4px;
      transition: 0.4s;
    }

    &.active {
      &:after {
        content: url("../img/right-arrow-black.svg");
      }
    }
  }
}
