.city-dropdown {
  display: block;
  opacity: 0;
  position: absolute;
  top: 32px;
  z-index: 5;
  left: 0;
  background-color: $white;
  color: $black;
  width: calc(100% + 43px);
  margin-left: -6px;
  padding: 20px 30px 20px 34px;
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.13);
  transition: 0.3s;
  pointer-events: none;

  &:before {
    content: '';
    display: block;
    height: 17px;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  &__item {
    margin-top: 10px;
    &:hover {
      color: $spindrift;
    }

    &--active {
      color: $strawberry;
    }
  }
}
