.header-top {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__left {
    display: flex;
  }
  &__right {
    display: flex;

    .header-top__item {
      @include tablets {
        margin-right: 10px;
      }

      .header-top__icon {
        @include tablets {
          margin-right: 0;
        }
      }
    }

    .header-top__title {
      @include tablets {
        display: none;
      }
    }
  }
  &__item {
    color: $white;
    margin-right: 36px;
    cursor: pointer;
    transition: 0.3s;

    display: flex;

    &:last-child {
      margin-right: 0;
    }
    @include phone {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      transition: 0.3s;
      path {
        transition: 0.3s;
      }
    }

    &:hover {
      color: $spindrift;

      .header-top__icon, .search__icon {
        svg {
          fill: $spindrift;
          path {
            fill: $spindrift;
          }
        }

      }
    }

    &--city {
      position: relative;


        &:hover {
          .city-dropdown {
            opacity: 1;
            pointer-events: initial;
          }
        }

    }
  }
  &__icon {
    margin-right: 8px;
    svg {
      display: block;
    }
  }

  &__mobile-hidden {
    @include tablets {
      display: none;
    }
  }
}
