.lg-dropdown {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 100%;
  width: 100vw;
  background-color: $white;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.4s;

  &:before {
    content: '';
    display: block;
    height: 21px;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  &__subnav {
    width: 33.33333%;
    padding-right: 7%;
  }

  &__subnav-item {
    margin-bottom: 27px;
  }
  &__subnav-link {
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;
    color: $black;
    transition: 0.4s;

    &:hover {
      color: $spindrift;
    }
  }
  &__articles {
    width: 33.33333%;
    padding-right: 7%;
  }
  &__articles-item {
    margin-bottom: 24px;
  }
  &__article-link {
    line-height: 19px;
    font-size: 16px;
    color: $black;
    transition: 0.4s;

    &:hover {
      color: $spindrift;
    }
  }

  &__all {
    text-transform: uppercase;
    text-decoration-color: black;
    text-decoration: underline;
    font-weight: 600;
    font-size: 13px;
    margin-top: 39px;
    color: $black;
    transition: 0.4s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  &__promo {
    width: 33.33333%;
    padding-left: 6%;

    @include tablets {
      display: none;
    }
  }
}
