.menu-top {
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;

  @include tablets {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-bottom: none;
  }

  &__logo {
    display: block;

    @include tablets {
      display: none;
    }
  }

  &__nav {
    @include tablets {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-menu {
    display: none;

    @include tablets {
      display: block;
      height: 12px;
      border: none;
      outline: none;
      position: relative;
      z-index: 11;


      &.active {
        .mobile-menu__top {
          transform: rotate(135deg);
          width: 32px;
          left: 3px;
          top: 13px;
        }
        .mobile-menu__middle {
          transform: rotate(45deg);
          width: 32px;
          left: 3px;
          top: 13px;
        }
      }
    }
  }
}
