.menu-bottom {
  padding: 20px 0;
  position: relative;
  z-index: 10;

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__item {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      .lg-dropdown {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
      }
    }
  }

  &__link {
    color: $black;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: calc(100% + 18px);
      height: 2px;
      background-color: transparent;
      top: 40px;
      left: -9px;
      transition: background-color 0.4s;
    }

    &.active {
      &:after {
        background-color: #d9007e;
      }
    }

    &:hover {
      &:after {
        background-color: #d9007e;
      }
    }
  }
}
