.mobile-menu {
  display: none;

  &.active {
    height: 24px;
  }

  @include tablets {
    display: inherit;
    position: relative;
    width: 32px;
  }
  &__top {

    position: absolute;
    width: 34px;
    height: 3px;
    left: 0;
    top: 0;
    background: $strawberry;
    transition: 0.4s;
  }

  &__middle {
    position: absolute;
    width: 34px;
    height: 3px;
    left: 0;
    top: 10px;
    background: $strawberry;
    opacity: 1;
    transition: transform 0.4s;

  }
}

