.promo-header {

  &__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 184px;
    margin-bottom: 30px;
    padding: 21px 24px;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(0,0,0,.5);
    }
  }

  &__title {
    position: relative;
    z-index: 3;
    font-size: 20px;
    color: $white;
    font-weight: 600;
    margin-bottom: 53px;
  }

  &__btn {
    position: relative;
    z-index: 3;
    max-width: 132px;
  }
}
