.search-header {

  svg {
    display: block;
  }

  &__closed {
    display: flex;
  }

  input {
    border-radius: 0;
  }
  &__form {
    position: relative;
    align-self: center;
    margin-bottom: -6px;
  }

  &__input {
    margin-right: -2px;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    margin-left: 0;
    width: 0;
    pointer-events: none;
    color: transparent;

    &.active {
      pointer-events: initial;
      transition: 0.4s;
      width: 369px;
      margin-left: 17px;
      color: white;
      border-bottom: 1px solid $white;

      @include media(1130px) {
        width: 266px;
      }

      @include tablets {
        width: 369px;
      }
      @include phone {
        width: 200px;
      }

    }
  }

  &__button {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    top: -5px;
    right: -4px;

    @supports (-webkit-overflow-scrolling: touch) {
      top: -1px;
      right: -2px;
    }


    &.active {
      display: initial;

    }

  }


}
