.top-nav-xs {

  margin-bottom: 20px;
  padding-bottom: 20px;

  @include tablets {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: calc(100% + 51px);
      height: 1px;
      background-color: #e7e7e7;
      left: -28px;
      bottom: 0;
      margin-top: 5px;
    }
  }

  @include phone {
    margin-bottom: 24px;
  }

  &__active {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    &:after {
      content: url("../img/down-arrow.svg");
      position: absolute;
      right: -21px;
      top: 0;
      transition: 0.4s;
    }

    &.opened {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    padding: 20px 20px 20px 0;
    display: none;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    font-size: 14px;
    color: #808080;
    transition: 0.4s;
    &:hover {
      color: $spindrift;
    }
  }
}


