.top-nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 30px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 38px);
      height: 2px;
      background-color: transparent;
      top: 47px;
      left: -16px;
      transition: background-color 0.4s;
    }

    &.active {
      &:before {
        background-color: #d9007e;
      }
    }

    &:hover {
      &:before {
        background-color: #d9007e;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--has-dropdown {
      position: relative;
      cursor: pointer;

      &:after {
        content: url("../img/down-arrow.svg");
        position: absolute;
        right: -21px;
        top: 0;
        transition: 0.4s;
      }

      &.opened {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link {
    color: $black;
    font-size: 13px;
  }

  &__dropdown {
    opacity: 0;
    pointer-events: none;
    left: -140px;
    top: 32px;
    width: 286px;
    position: absolute;
    background-color: $white;
    padding: 24px 24px 32px 24px;
    text-transform: initial;
    z-index: 11;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.13);
    transition: 0.4s;

    &.active {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &__more-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__more-link {
    color: $black;
    font-size: 16px;

    &:hover {
      color: $spindrift;
    }
  }

}
