.xs-menu-slide {
  &__list {

  }
  &__item {
    font-size: 18px;
    margin-bottom: 16px;
  }
  &__link {
    font-size: 16px;
    color: #808080;
  }
  &__articles {
    margin-bottom: 60px;
  }
  &__all {
    text-transform: uppercase;
    text-decoration-color: black;
    text-decoration: underline;
    font-weight: 600;
    font-size: 13px;
    margin-top: 39px;
    color: $black;
    transition: 0.4s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .promo__container {
    margin-bottom: 16px;
  }

  &__back {
    display: none;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    color: $black;
    padding-left: 20px;
    cursor: pointer;

    &:before {
      content: url("../img/right-arrow-gray.svg");
      position: absolute;
      left: 0;
      top: 1px;
      transition: 0.4s;
      transform: rotate(180deg);
    }

    @include phone {
      display: inline-block;
    }
  }
}
