.xs-menu {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.4s;
  overflow-y: scroll;

  &.opened {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }
  &__container {
    padding: 33px 24px;
    background-color: $white;
    margin-bottom: 170px;

    @include phone {
      padding: 10px;
    }
  }
  &__bottom {
    display: flex;

    @include phone {
      width: 200vw;

    }
  }
}
