mixin icon(id,name,mod)
    - mod = mod || '';
    - name = name || '';
    svg(class= name + ' ' + mod)
        use(xlink:href="assets/img/sprite.svg#" + id)
//- +icon('github_round')

block variables


doctype html
html(lang='ru-RU')
    head

        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="format-detection" content="telephone=no")
        title #{title}
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //- favicon block start
        link(rel='apple-touch-icon' sizes='57x57' href='assets/img/apple-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='assets/img/apple-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='assets/img/apple-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='assets/img/apple-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='assets/img/apple-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='assets/img/apple-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='assets/img/apple-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='assets/img/apple-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='assets/img/apple-icon-180x180.png')
        link(rel='icon' type='image/png' sizes='192x192' href='assets/img/android-icon-192x192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='assets/img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='assets/img/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='assets/img/favicon-16x16.png')
        link(rel='manifest' href='assets/img/manifest.json')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='assets/img/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')

        //link(rel='icon', type='image', href='assets/img/favicon-16x16.png', sizes='16x16')
        //- favicon block end

        link(rel='stylesheet', type='text/css', href='assets/css/app.css', media='screen, projection, print')
        link(rel='stylesheet', type='text/css', href='dist-top/css/chunk-vendors.css', media='screen, projection, print')
        link(rel='stylesheet', type='text/css', href='dist-top/css/app.css', media='none', onload="if(media!='all')media='all'")
        link(rel='stylesheet', type='text/css', href='dist-bot/css/chunk-vendors.css', media='screen, projection, print')
        link(rel='stylesheet', type='text/css', href='dist-bot/css/app.css', media='none', onload="if(media!='all')media='all'")
        link(rel='stylesheet', type='text/css', href='exchRates/css/chunk-vendors.css', media='screen, projection, print')
        link(rel='stylesheet', type='text/css', href='exchRates/css/app.css', media='none', onload="if(media!='all')media='all'")
        link(rel='stylesheet', type='text/css', href='vue-rko/css/chunk-vendors.css', media='screen, projection, print')
        link(rel='stylesheet', type='text/css', href='vue-rko/css/app.css', media='none', onload="if(media!='all')media='all'")


        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->


    body
        block content

        script(src='dist-top/chunk-vendors.js' defer)
        script(src='dist-top/app.js' defer)
        script(src='assets/js/foundation.js' defer)
        script(src='assets/js/app.js' defer)
