.sm-acco {
  margin-bottom: 58px;

  @include phone {
    margin-bottom: 22px;
  }

  &__title {
    text-align: center;
  }

  &__content {
    margin-top: 20px;
  }

  &__section {
    padding-bottom: 33px;
    border-bottom: 1px solid #E6E6E6;

    @include tablets {
      padding-bottom: 20px;
    }
  }

  &__subtitle {
    padding-top: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #000000;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;

    &:hover {
      color: $spindrift;
    }

    @include tablets {
      padding-top: 20px;
    }

    @include phone {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__trigger {
    position: static !important;

    &:hover {
      svg {
        path {
          stroke: $spindrift;
        }
      }
    }
    svg {
      path {
        stroke: #000000;
      }
    }
  }

  &__sub-text {
    margin-right: 40px;
  }
}
