.sm-banner {
  margin-top: 65px;
  margin-bottom: 48px;
  min-height: 461px;

  &:hover {
    .sm-banner__img {
      transform: translateX(20px);
    }
  }

  @include tablets {
    margin-top: 57px;

  }

  @include phone {
    margin-top: 26px;
    margin-bottom: 36px;
    min-height: auto;
  }

  &__container {
    background-color: #F5F7F7;
    position: relative;
    border-radius: 6px;
    padding-bottom: 138px;


    @include tablets {
      padding-bottom: 164px;
      padding-left: 25px;
    }

    @include phone {
      margin-bottom: 30px;
      padding-bottom: 0;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__content {
    padding-top: 128px;
    padding-left: 110px;
    max-width: 43%;

    @include tablets {
      padding-top: 131px;
      padding-left: 0;
      max-width: 52%;
    }

    @include phone {
      max-width: 100%;
      padding-top: 47px;
      margin-bottom: 40px;
      padding-left: 0;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 23px;

    @include tablets {
      font-size: 38px;
      line-height: 44px;
    }
    @include phone {
      font-size: 28px;
      line-height: 32px;
    }
  }
  &__text {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
  }

  &__img {
    transition: 0.4s;
    max-width: 359px;
    position: absolute;
    bottom: 0;
    right: 19%;

    @include tablets {
      right: 2%;
    }

    @include phone {
      position: static;
      max-width: 184px;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
    }
  }
}
