.sm-devices {
  margin-bottom: 85px;

  @include tablets {
    margin-bottom: 69px;
  }
  @include phone {
    margin-bottom: 44px;
  }
  &__container {

  }

  &__heading {
    max-width: 800px;
    line-height: normal;
    margin-bottom: 33px;
  }
  &__devices {
    display: flex;
    margin-bottom: 48px;

    @include tablets {
      display: block;
    }
  }
  &__left {
    width: calc(50% - 59px);
    margin-right: 59px;

    @include tablets {
      width: 100%;
      margin-right: 0;
      margin-bottom: 23px;
    }
  }
  &__right {
    width: 50%;

    @include tablets {
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 17px;
    position: relative;
    padding-left: 14px;
    font-size: 16px;

    &:before {
      content: '';
      width: 5px;
      height: 5px;
      background: black;
      border-radius: 50%;
      margin-right: 9px;
      @include centered(y);
      left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__sup {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.3;
    max-width: 587px;

    @include phone {
      max-width: 100%;
    }
  }
}
