.sm-info {
  margin-bottom: 105px;

  &__heading {
    line-height: normal;
    margin-bottom: 38px;
  }
  @include phone {
    margin-bottom: 60px;
  }

  &__content {
    max-width: 683px;
    margin: 0 auto;
    text-align: center;

    @include phone {
      text-align: left;
    }
  }

  &__text {
    font-size: 16px;
  }
}
