.sm-promo {
  margin-bottom: 109px;

  @include phone {
    margin-bottom: 36px;
  }

  &__container {
    background-color: #F5F7F7;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      .sm-promo__img {
        transform: scale(1.05) translateX(-20px);
      }
    }
  }

  &__content {
    padding-top: 49px;
    padding-bottom: 61px;
    padding-left: 574px;
    padding-right: 70px;
    position: relative;
    z-index: 1;

    @include tablets {
      padding: 33px 49px 51px 332px;
    }

    @include phone {
      padding: 33px 16px 40px;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 19px;

    @include tablets {
      margin-bottom: 13px;
    }
    @include phone {
      margin-bottom: 23px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    p {
      color: #000000;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &__img {
    transition: 0.4s;
    max-width: 359px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    @include media(1366px) {
      left: -15%;
    }

    @include media(1145px) {
      left: 0;
      display: none;
    }

    @include phone {
      display: none;
    }
    img {
      min-height: 100%;
    }

    &_mob {
      display: none;

      @include media(1145px) {
        display: block;
      }

      @include phone {
        display: none;
      }
    }
  }
}
