.sm-steps {
  margin-bottom: 95px;

  @include phone {
    margin-bottom: 40px;
  }
  &__container {

  }

  &__heading {
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
    line-height: normal;
    margin-bottom: 66px;
  }

  &__list {
    display: flex;
    margin-left: 74px;

    @include tablets {
      flex-wrap: wrap;
      margin-left: 20px;
    }

    @include phone {
      display: block;
    }
  }

  &__item {
    width: 25%;
    padding-top: 36px;
    padding-right: 47px;
    padding-left: 34px;
    border-top: 1px dashed #C6C6C6;
    position: relative;

    @include tablets {
      width: 50%;
      margin-bottom: 36px;
    }

    @include phone {
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 20px;
    }

    &:before {
      transition: 0.4s;
      content: '';
      width: 47px;
      height: 89px;
      position: absolute;
      left: -32px;
      top: -6px;
      background-image: url('../img/sams-step-1.svg');
      background-position: center center;
      background-repeat: no-repeat;

      @include phone {
        background-image: url('../img/st-1-small.svg');
        width: 63px;
        height: 40px;

        left: -5px;
        top: -14px;

      }

    }

    &:nth-child(2) {
      &:before {
        background-image: url('../img/sams-step-2.svg');

        @include phone {
          background-image: url('../img/st-2-small.svg');
        }
      }
      @include media-min(1024px) {
        &:hover {
          &:before {
            background-image: url('../img/sams-step-2-active.svg');
          }
        }
      }
    }

    &:nth-child(3) {
      &:before {
        background-image: url('../img/sams-step-3.svg');

        @include phone {
          background-image: url('../img/st-3-small.svg');
        }
      }
      @include media-min(1024px) {

        &:hover {
          &:before {
            background-image: url('../img/sams-step-3-active.svg');
          }
        }
      }
    }

    &:last-child {
      &:before {
        background-image: url('../img/sams-step-4.svg');

        @include phone {
          background-image: url('../img/st-4-small.svg');
        }
      }
      @include media-min(1024px) {
        &:hover {
          &:before {
            background-image: url('../img/sams-step-4-active.svg');
          }
        }
      }
      @include phone {
        border: none;
      }
    }

    @include phone {
      border: none;
      border-left: 1px dashed #C6C6C6;
    }
    @include media-min(1024px) {
      &:hover {
        .sm-steps__text {
          transform: translateY(-10px);
        }

        &:before {
          background-image: url('../img/sams-step-1-active.svg');
        }
      }
    }
  }

  &__text {
    transition: 0.4s;
    cursor: default;
    font-size: 16px;
    line-height: 19px;
  }
}
