footer.footer
    .footer__top
        .light-footer.container
            .light-footer__nav.footer-nav
                ul.footer-nav__list
                    li.footer-nav__item
                        ul.footer-nav__column
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link О банке
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Вакансии
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Пресс-служба

                    li.footer-nav__item
                        ul.footer-nav__column
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Отделения и банкоматы
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Полезное
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Новости об&nbsp;изменениях условий продуктов и&nbsp;услуг

                    li.footer-nav__item
                        ul.footer-nav__column
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Реквизиты
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Карта сайта
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Курсы валют

                    li.footer-nav__item.footer-nav__item--2col
                        ul.footer-nav__column.footer-nav__column--2
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link О банке
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Вакансии
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Пресс-служба
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Отделения и банкоматы
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Полезное
                    li.footer-nav__item.footer-nav__item--2col
                        ul.footer-nav__column.footer-nav__column--2
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Реквизиты
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Карта сайта
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Курсы валют
                            li.footer-nav__menu-item
                                a(href="#").footer-nav__menu-link Новости об&nbsp;изменениях условий продуктов и&nbsp;услуг
            .light-footer__currencies
                a(href='#').light-footer__insured
                    //img.light-footer__insured-pic(src="assets/img/insured.png")
                    img.light-footer__insured-pic(src="assets/img/insured-coloured-3.png")
                .light-footer__currency.currency
                    ul.currency__list
                        li.currency__item
                            .currency__name usd
                            .currency__number 65,50
                        li.currency__item
                            .currency__name eur
                            .currency__number 74,28
                .light-footer__to-top
                    include ../../images/to-top.svg

    .footer__bottom
        .container
            .footer-info
                .footer-info__contacts.footer-contacts
                    .footer-contacts__address &copy;&nbsp;2016-2019 Прио-Внешторгбанк (ПАО). Основан&nbsp;06.12.1989&nbsp;г. Лицензия Банка России &#8470;&nbsp;212. Россия, г.&nbsp;Рязань, ул.&nbsp;Есенина, д.82/26
                    .footer-contacts__number
                        a(href="tel:+1234567890") +7 (4912) 200-003

                .footer-info__socials.footer-socials
                    .footer-socials__col.footer-socials__col--socials.socials
                        ul.socials__list
                            li.socials__item
                                a(href="#").socials__link
                                    include ../../images/fb.svg
                            li.socials__item
                                a(href="#").socials__link
                                    include ../../images/ok.svg
                            li.socials__item
                                a(href="#").socials__link
                                    include ../../images/vk.svg
                            li.socials__item
                                a(href="#").socials__link
                                    include ../../images/youtube.svg
                    .footer-socials__col.footer-socials__col--pay.pay
                        ul.pay__list
                            li.pay__item
                                a(href="#").pay__link
                                    include ../../images/apple-pay.svg
                            li.pay__item
                                a(href="#").pay__link
                                    include ../../images/gpay.svg
                            li.pay__item
                                a(href="#").pay__link
                                    include ../../images/samsungpay.svg


                    .footer-socials__col.footer-socials__col--download.download
                        ul.download__list
                            li.download__item
                                a(href="#").download__link
                                    include ../../images/appstore.svg
                            li.download__item
                                a(href="#").download__link
                                    include ../../images/gplay.svg


            .footer-additional
                .footer-additional__text Прио-Внешторгбанк (ПАО) использует файлы &laquo;cookie&raquo; с&nbsp;целью персонализации сервисов и&nbsp;повышения удобства пользования веб-сайтом.
                .footer-additional__text
                    a.footer-additional__link(href="#") Информация о&nbsp;процентных ставках
                    | &ensp;по&nbsp;договорам банковского вклада с&nbsp;физическими лицами.
                .footer-additional__text
                    a.footer-additional__link(href="#") Информация о&nbsp;лицах,
                    | &ensp;под контролем либо значительным влиянием которых находится кредитная организация.
                .footer-additional__text
                    | Разработкой сайта занимались:&nbsp;
                    a.footer-additional__link(href="#") Hands App
                    | ,&nbsp;
                    a.footer-additional__link(href="#") Air Production
                    | ,&nbsp;
                    a.footer-additional__link(href="#") Adrus
