header.header
	.header__top.header-top
		.container.header-top__container
			.header-top__left
				.header-top__item.header-top__item--city
					.header-top__icon
						include ../../images/city.svg
					.header-top__title Москва
					.header-top__dropdown.city-dropdown
						ul.city-dropdown__list
							li.city-dropdown__item.city-dropdown__item--active Москва
							li.city-dropdown__item Рязань
							li.city-dropdown__item Город 1
							li.city-dropdown__item Город 2
				a(href="#").header-top__item.header-top__item--locations
					.header-top__icon
						include ../../images/locations.svg
					.header-top__title Отделения&ensp;
					.header-top__mobile-hidden и банкоматы
			.header-top__right
				.header-top__item.search-header
					.search-header__closed
						.search-header__icon.header-top__icon
							include ../../images/search.svg
						.search-header__title.header-top__title Поиск
					form.search-header__form(action="" method="get" autocomplete="off")
						input.search-header__input(type="text" name="search" placeholder="Что вы хотите найти?")
						button(type='submit').search-header__button
							.search-header__icon-search
								include ../../images/search.svg

				.header-top__item
					.header-top__icon
						include ../../images/brightness.svg
					.header-top__title Слабовидящим
				.header-top__item
					.header-top__icon
						include ../../images/language.svg
					.header-top__title English

	.header__bottom.header-bottom
		.header__menu-top.menu-top
			.container.menu-top__container
				a(href="#").menu-top__logo
					img.menu-top__logo-pic(src="assets/img/logo.svg")
				.menu-top__nav.top-nav
					ul.top-nav__list
						li.top-nav__item.active
							a(href="#").top-nav__link Частным клиентам
						li.top-nav__item
							a(href="#").top-nav__link Самозанятым
						li.top-nav__item
							a(href="#").top-nav__link Бизнесу и ип
						li.top-nav__item.top-nav__item--has-dropdown
							a(href="#").top-nav__link еще
							.top-nav__dropdown
								ul.top-nav__more-list
									li.top-nav__more-item
										a(href="#").top-nav__more-link О банке
									li.top-nav__more-item
										a(href="#").top-nav__more-link Новости
									li.top-nav__more-item
										a(href="#").top-nav__more-link Работа в банке
									li.top-nav__more-item
										a(href="#").top-nav__more-link Реквизиты
									li.top-nav__more-item
										a(href="#").top-nav__more-link Акционерам и инвесторам
									li.top-nav__more-item
										a(href="#").top-nav__more-link Финансовым организациям
									li.top-nav__more-item
										a(href="#").top-nav__more-link Партнеры
									li.top-nav__more-item
										a(href="#").top-nav__more-link Обратная связь
				.menu-top__online-bank
					a(href="#").menu-top__btn.btn.btn--spindrift-icon
						.btn__icon
							include ../../images/online-bank.svg
						.btn__text Онлайн-банк
				.menu-top__mobile-menu.mobile-menu
					.mobile-menu__top
					.mobile-menu__middle

		.header__menu-bottom.menu-bottom
			.container.menu-bottom__container
				ul.menu-bottom__list
					li.menu-bottom__item
						.menu-bottom__link.active Кредиты
						.menu-bottom__dropdown.lg-dropdown
							.lg-dropdown__container.container
								.lg-dropdown__subnav
									ul.lg-dropdown__subnav-list
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Все вклады
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в рублях
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в иностранной валюте
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в рублях
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Все вклады
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в иностранной валюте
								.lg-dropdown__articles
									ul.lg-dropdown__articles-list
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Популярные вопросы о вкладах
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Почему могут арестовать или взыскать деньги
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Как найти потерянный счёт
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Компенсации по вкладам
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Популярные вопросы о вкладах
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Почему могут арестовать или взыскать деньги
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Доверьте вложения профессионалам
									a(href="#").lg-dropdown__all все статьи
								.lg-dropdown__promo.promo-header
									.promo-header__container(style="background-image: url('./assets/img/promo.jpg')")
										.promo-header__title Программа рефинансирования кредитов
										.promo-header__btn
											a(href="#").btn.btn--white подробнее
									a(href="#").lg-dropdown__all все программы


					li.menu-bottom__item
						.menu-bottom__link Ипотека
						.menu-bottom__dropdown.lg-dropdown
							.lg-dropdown__container.container
								.lg-dropdown__subnav
									ul.lg-dropdown__subnav-list
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Ипотека
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в рублях
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в иностранной валюте
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Ипотека
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Ипотека
										li.lg-dropdown__subnav-item
											a(href="#").lg-dropdown__subnav-link Вклады в иностранной валюте
								.lg-dropdown__articles
									ul.lg-dropdown__articles-list
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Популярные вопросы о вкладах
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Почему могут арестовать или взыскать деньги
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Как найти потерянный счёт
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Компенсации по вкладам
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Популярные вопросы о вкладах
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Почему могут арестовать или взыскать деньги
										li.lg-dropdown__articles-item
											a(href="#").lg-dropdown__article-link Доверьте вложения профессионалам
									a(href="#").lg-dropdown__all все статьи

								.lg-dropdown__promo.promo-header
									.promo-header__container(style="background-image: url('./assets/img/promo.jpg')")
										.promo-header__title Программа рефинансирования кредитов
										.promo-header__btn
											a(href="#").btn.btn--white подробнее
									a(href="#").lg-dropdown__all все программы
					li.menu-bottom__item
						.menu-bottom__link Вклады
					li.menu-bottom__item
						.menu-bottom__link Платежи и переводы
					li.menu-bottom__item
						.menu-bottom__link Карты
					li.menu-bottom__item
						.menu-bottom__link Обмен валют
					li.menu-bottom__item
						.menu-bottom__link Дополнительные услуги
			.menu-bottom__dropdown.lg-dropdown
		.header__xs-menu.xs-menu
			.xs-menu__container
				.xs-menu__top.top-nav-xs
					span.top-nav-xs__active Частным клиентам
					ul.top-nav-xs__list
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Самозанятым
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Самозанятым
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Бизнесу и ип
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Пункт 1
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Пункт 2
						li.top-nav-xs__item
							a(href="#").top-nav-xs__link Пункт 3
				.xs-menu__bottom.bot-nav-xs
					.tabs.bot-nav-xs__left
						ul.tabs__list.bot-nav-xs__list
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="1")
								a.bot-nav-xs__link(href="#") Обмен валют
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="2")
								a.bot-nav-xs__link(href="#") Кредиты
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="3")
								a.bot-nav-xs__link(href="#") Платежи и переводы
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="4")
								a.bot-nav-xs__link(href="#") Ипотека
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="5")
								a.bot-nav-xs__link(href="#") Вклады
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="6")
								a.bot-nav-xs__link(href="#") Дополнительные услуги
							li.tabs__item.bot-nav-xs__item(data-tab-trigger="7")
								a.bot-nav-xs__link(href="#") Карты
					.tab-scenes.bot-nav-xs__right
						ul.tab-scenes__list.xs-menu-tabs
							li.tab-scenes__item.xs-menu-slide(data-tab-scene="1")
								.xs-menu-slide__back Обмен валют
								ul.xs-menu-slide__list
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
								//.xs-menu-slide__articles
								//	a(href="#").xs-menu-slide__all статьи
								//.xs-menu-slide__promo.promo
								//	.promo__container
								//		.promo__title Программа рефинансирования кредитов
								//		.promo__btn
								//			a(href="#").btn.btn--white подробнее
								//	a(href="#").xs-menu-slide__all все программы
							li.tab-scenes__item.xs-menu-slide(data-tab-scene="2")
								.xs-menu-slide__back Кредиты
								ul.xs-menu-slide__list
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link 2 пункт меню Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link 2 пункт меню Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
								.xs-menu-slide__articles
									a(href="#").xs-menu-slide__all статьи
								.xs-menu-slide__promo.promo-header
									.promo-header__container(style="background-image: url('./assets/img/promo.jpg')")
										.promo-header__title Программа рефинансирования кредитов
										.promo-header__btn
											a(href="#").btn.btn--white подробнее
									a(href="#").xs-menu-slide__all все программы
							li.tab-scenes__item.xs-menu-slide(data-tab-scene="3")
								.xs-menu-slide__back Платежи и переводы
								ul.xs-menu-slide__list
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link 3 пункт меню Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Все вклады
								.xs-menu-slide__articles
									a(href="#").xs-menu-slide__all статьи
								.xs-menu-slide__promo.promo-header
									.promo-header__container(style="background-image: url('./assets/img/promo.jpg')")
										.promo-header__title Программа рефинансирования кредитов
										.promo-header__btn
											a(href="#").btn.btn--white подробнее
									a(href="#").xs-menu-slide__all все программы
							li.tab-scenes__item.xs-menu-slide(data-tab-scene="4")
								.xs-menu-slide__back Ипотека
								ul.xs-menu-slide__list
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link четвертый Все вклады
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в иностранной валюте в иностранной валюте
									li.xs-menu-slide__item
										a(href="#").xs-menu-slide__link Вклады в рублях
								.xs-menu-slide__articles
									a(href="#").xs-menu-slide__all статьи
								.xs-menu-slide__promo.promo-header
									.promo-header__container
										.promo-header__title Программа рефинансирования кредитов
										.promo-header__btn
											a(href="#").btn.btn--white подробнее
									a(href="#").xs-menu-slide__all все программы








