.access-ways {
  margin-bottom: 83px;

  @include tablets {
    margin-bottom: 57px;
  }

  @include phone {
    margin-bottom: 46px;
  }

  &__section {
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;

    @include tablets {
      padding-bottom: 20px;
    }
  }

  &__sub-text {
    @include phone {
      font-size: 18px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 22px;
    padding-top: 40px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @include tablets {
      padding-top: 20px;
    }

  }
  &__content {
    margin-top: 40px;
    display: flex;
  }

  &__wrapper {
    display: flex;

    @include tablets {
      display: block;
    }
  }

  &__left {

    @include tablets {
      max-width: 800px;
    }
    img {
      max-width: 655px;
      border-radius: 6px;


      @include tablets {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__right {
    padding-left: 59px;
    padding-top: 40px;

    @include tablets {
      padding-left: 0;
    }
  }

  &__h2 {
    font-size: 22px;
    line-height: 25px;

    @include phone {
      font-size: 20px;
      line-height: normal;
    }
  }
  &__text {
    font-size: 16px;
    max-width: 543px;

    @include tablets {
      max-width: 100%;
    }
  }

}
