.accordion {
  &__block {
    &.active {
      .accordion__icon-trigger {
          transform: rotate(180deg);
      }
    }
  }

  &__trigger {
    position: relative;
  }

  &__icon-trigger {
    align-items: center;
    position: absolute;
    right: 0;
    top: 54px;
    display: flex;
    transition: 0.4s ease-out;

    @include tablets {
      top: 34px;
    }

    @include phone {
      top: 30px;
    }
  }
  &__sliding-part {
    display: none;
  }

  &__action {
    &:hover {
      cursor: pointer;
    }
  }
}



