.actions-card {
  &__input-wrapper {
    position: relative;
    margin-bottom: 28px;

    label.error {
      height: auto !important;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      font-size: 12px;
      line-height: 22px;
      color: rgb(255, 64, 64);
    }
  }

  &__input {
    border-radius: 3px !important;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
    position: relative;
    width: 100%;
    font-size: 20px;
    outline: none;

    @include placeholder {
      position: relative;
      font-size: 20px;
      color: #E7E7E7;

    }

    &.error {
      border: 1px solid #eb5757;
      color: #333333;
      height: auto !important;
      position: static;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }

    &_black-border {
      border-color: black;
    }

  }

  &__rub {
    position: absolute;
    top: 55px;
    right: 24px;
    font-size: 17px;
    line-height: 19px;
    text-align: right;
    color: #000000;
  }

  &__label {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
  }

  &__comission {
    font-size: 14px;
    color: $strawberry;
    margin-bottom: 37px;
  }
  &__sum {
    color: black;
  }
  &__text {
    color: #000;
  }

  &__checkboxes {
    margin-bottom: 54px;

    .check {
      margin-bottom: 16px;
    }
  }

  &__btn {
    .btn {
      border-color: transparent;
      min-width: 195px;

      @include tablets {
        width: 100%;
      }
    }

  }

}
