.addresses {
  margin-bottom: 43px;

  &__tel-number {
    color: #898989 !important;
  }
  &__tels {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;

    @include phone {
      font-size: 14px;
    }
  }

  &__tel-item {
    margin-bottom: 54px;
    width: 20%;
    padding-right: 50px;

    @include tablets {
      width: 33.3333%;
    }

    @include phone {
      width: 100%;
      padding-right: 0;
      display: flex;

    }

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(5n) {
      padding-right: 0;

      @include tablets {
        padding-right: 20px;
      }

      @include phone {
        padding-right: 0;
      }
    }

    &:nth-child(3n) {
      @include tablets {
        padding-right: 0;
      }
    }
  }
  &__tel-name {
    margin-bottom: 20px;
    min-height: 46px;

    @include phone {
      margin-bottom: 0;
      padding-right: 28px;
      width: 40%;
    }
  }

  &__bot {
    color: #898989;

    @include phone {
      width: 60%;
    }
  }

  &__link {
    color: #898989;
    text-decoration: underline;

    @include phone {
      margin-left: 7px;
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }
}
