.article-card {
  width: 100%;

  &__container {
    padding: 36px 99px 32px 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 328px;

    display: flex;
    flex-direction: column;

    position: relative;


    @include tablets {
      padding: 36px 218px 32px 36px;
    }

    @include phone {
      padding: 24px 21px 21px 17px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: linear-gradient(180deg, rgba(36, 36, 36, 0.3) 0%, rgba(36, 36, 36, 0) 100%);

    }
  }

  &__top {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $white;
    margin-bottom: 20px;

    @include tablets {
      font-size: 22px;
    }
  }

  &__text {
    font-size: 17px;
    color: $white;
    margin-bottom: 15px;
  }

  &__btn {
    margin-top: auto;
    position: relative;
    z-index: 1;
    width: 132px;
  }


}
