.articles {
  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include tablets {
      height: 728px;
    }

    @include phone {
      height: 718px;
    }
  }
  .swiper-slide {
    height: auto;

    @include tablets {
    }

  }

  &__controls {
    @include tablets {
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 1;
    }
  }
}

