.articles {

  &-static {
    margin-bottom: 70px;

    @include phone {
      margin-bottom: 37px;
    }
  }

  &__container {
    overflow: hidden;
    margin-bottom: 100px;

    @include tablets {
      margin-bottom: 46px;
    }
  }

  &__controls-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dots {

    .swiper-pagination-bullet {
      background-color: transparent;
      vertical-align: middle;
      position: relative;
      display:inline-block;
      margin-left:0;
      cursor:pointer;
      transform: matrix(0.3, 0, 0, 0.3, 0, 0);
      transition: transform 0.3s;
      outline: none;
      overflow: hidden;

      height: 21px;
      width: 21px;

      path {
        stroke: #C6C6C6;
        stroke-width: 10px;
        fill: transparent;
        stroke-dasharray: 31.4876;
        stroke-dashoffset: 0;
      }

      &.swiper-pagination-bullet-active {
        background-color: transparent;
        height: 21px;
        width: 21px;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0);;

        svg {
          height: 21px;
          width: 21px;
        }
        path {
          animation: packman 10s;
        }
      }
    }

  }
  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 32px;




    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: '';
    }

    .swiper-bot-button-next, .swiper-bot-button-prev {
      outline: none;
    }
    .swiper-bot-button-next {
      position: relative;
      top: -3px;
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      //svg {
      //  width: 21px;
      //  height: 21px;
      //}
    }

    .swiper-button__icon-left {
      transform: rotate(180deg);
      margin-right: 20px;
      cursor: pointer;

      svg {
        path {
          transition: 0.4s;
        }
      }

      &:hover {
        svg {
          path {
            fill: #A1A1A1;

            @include phone {
              fill: #DCDCDC;
            }
          }}
      }
    }
    .swiper-button__icon-right {
      margin-left: 20px;
      cursor: pointer;

      svg {
        path {
          transition: 0.4s;
        }
      }

      &:hover {
        svg {
          path {
            fill: #A1A1A1;
          }}
      }
    }


    .swiper-button-next, .swiper-button-prev {
      background-color: transparent;
      margin-top: 0;
      height: 100%;
      width: 10%;
      max-width: 125px;
      top: 0;
      transition: 0.4s;
      outline: none;

      @include phone {
        top: -45px;
      }

      &:hover {
        background-color: rgba(0,0,0,0.05);

        @include phone {
          background-color: transparent;
        }
      }
    }

    .swiper-button-next {
      right: 0;
      outline: none;
    }

    .swiper-button-prev {
      left: 0;
      outline: none;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 21px;
  }

  .swiper-slide {
    margin-top: 0 !important;
  }


}
