.articles-static {
  &__list {
    display: flex;


    @include tablets {
      flex-wrap: wrap;
    }
  }
  &__item {

    margin-right: 15px;
      margin-bottom: 15px;
      width: 50%;

      @include tablets {
        width: 100%;
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }

}
