.breadcrumbs {
  margin-bottom: 59px;
  @include tablets {
    margin-bottom: 30px;
  }
  &__item {
    display: inline;
    padding-right: 3px;

    &:after {
      content: url("../img/right-arrow-breadcrumbs.svg");
      padding-left: 9px;
      opacity: 1;
      max-height: 8px;
      max-width: 3px;
    }

    &:nth-last-child(2) {
      &:after {
        content: url("../img/last-arrow-breadcrumbs.svg");
      }
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: 0.4s ease-out;
    text-decoration: underline;

    font-size: 14px;
    line-height: 16px;

    @include tablets {
      font-size: 16px;
    }

    @include  phone {
      font-size: 14px;
    }

    &_current {
      pointer-events: none;
      text-decoration: none;
    }

    &:hover {
      color: $spindrift;
      text-decoration: none;
    }

  }

  &_main {

  }

  &_marg {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}
