.btn {
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  text-transform: uppercase;
  transition: 0.4s;
  color: $white;
  cursor: pointer;

  height: 40px;

  font-weight: 500;
  font-size: 13px;

  &_large {
    padding: 0 22px;
  }

  &__icon {
    margin-right: 12px;
    svg {
      display: block;
    }
  }

  &__text {
    color: $white;
  }
  &--spindrift {
    background-color: $spindrift;
    &:hover {
      background-color: #00A186;
    }
  }

  &--spindrift-icon {
    background-color: $spindrift;
    &:hover {
      background-color: #00A287;
    }
  }
  &--spindrift-bordered {
    background-color: transparent;
    border: 1px solid $spindrift !important;
    color: $spindrift;

    &:hover {
      background-color: $spindrift;
      color: white;
    }
  }
  &--white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: #F4F4F4
    }
  }
  &--strawberry {
    background-color: $strawberry;

    &:hover {
      background-color: #BD006E !important;
    }
  }
  &--black-bordered {
    background-color: transparent;
    border: 1px solid black;
    color: black;

    &:hover {
      background-color: $spindrift;
      color: white;
      border-color: $spindrift;
    }
  }

  &--black {
    background-color: black;

    &:hover {
      background-color: #444;

    }
  }

  &--grey {
    background-color: #A4A4A4;

    &:hover {
      background-color: darken(#A4A4A4, 40%);
    }
  }
}
