.calc-rko {
  margin-bottom: 116px;

  @include tablets {
    margin-bottom: 102px;
  }

  @include phone {
    margin-bottom: 54px;
  }
  &__h1 {
    max-width: 504px;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 32px;

    @include tablets {
      font-size: 28px;
      line-height: normal;
    }

    @include phone {
      font-size: 22px;
    }

  }
}
