.card {
  display: flex;

  @include tablets {
    display: none;
  }


  &__left {
    width: 33%;
    padding-right: 84px;
  }

  &__link {
    font-size: 17px;
    color: $black;
    transition: 0.4s;

    &:hover {
      color: $spindrift;
    }
  }

  &__question {
    margin-bottom: 30px;
  }

  &__right {
    width: 66%;
    .card__heading {
      margin-left: 51px;
    }
  }

  &__subheading {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 22px;
    direction: ltr;
  }

  p {
    font-size: 17px;
    margin-bottom: 45px;
    direction: ltr;
  }

  &__answers {
    max-height: 537px;
    overflow-y: scroll;
    position: relative;
    direction: rtl;
    padding-left: 51px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 3px;
      background-color: #E6E6E6;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 0 solid #E6E6E6; /* should match background, can't be transparent */
      background-color: $black;
      cursor: pointer;
    }

    scrollbar-color: $black #E6E6E6; /* thumb and track color */
    scrollbar-width: thin;
  }


}
