.card-profits {
  margin-bottom: 107px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -23px;

    @include tablets {
      margin-top: -44px;
    }

    @include phone {
      display: block;
      margin-top: 0;
    }

  }

  &__item {
    display: flex;
    width: 50%;
    padding-right: 30px;
    margin-top: 23px;

    &:nth-child(even) {
     padding-right: 0;
    }

    @include tablets {
      margin-top: 44px;
    }

    @include phone {
      width: 100%;
    }

  }

  &__descr {
    width: calc(100% - 100px);
    max-width: 451px;
    font-size: 17px;
    color: rgba(#000000, 0.56);

    @include tablets {
      max-width: 220px;
    }

    @include phone {
      max-width: 100%;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 5px;
  }

  &__icon {
    width: 85px;
    margin-right: 15px;

    @include phone {
      padding-top: 6px;
    }

    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
