.card-xs {
  display: none;

  @include tablets {
    display: initial;
  }

  &__h1 {
  }

  &__item {
    &.active {

      .card-xs__question {
        color: $spindrift;
      }
    }
  }

  &__question {
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    &:hover {
      color: $spindrift;
    }

    @include phone {
      font-size: 16px;
    }
  }

  &__answer {
    font-size: 17px;
    margin-bottom: 20px;

    @include phone {
      font-size: 16px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E6E6E6;
    }
  }
}
