.card-overview {
  background-color: #F5F7F7;
  padding: 44px 84px 44px 112px;
  margin-bottom: 16px;


  @include media(1330px) {
    padding: 44px;
  }

  @include tablets {
    padding: 32px 0 28px;
  }

  &__container {
    display: flex;

    @include tablets {
      display: block;
    }
  }

  &__img {
    width: 39%;
    max-width: 100%;
    display: block;

    img {
      max-width: 100%;

      @include tablets {
        margin: 0 auto;
      }
    }

    @include media(1330px) {
      margin-right: 81px;
    }

    @include tablets {
      margin: 0 auto 28px;
      width: 100%;
      max-width: 400px;
    }

    @include phone {
      max-width: 100%;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 58px;
    padding-right: 12%;

    @include media(1240px) {
      padding-right: 0;
      flex-wrap: wrap;
    }

    @include phone {
      display: block;
    }
  }

  &__heading {
    margin-bottom: 19px;
    font-size: 28px;
    font-weight: 600;

    @include phone {
      font-size: 22px;
    }
  }

  p {
    margin-bottom: 37px;
    font-size: 16px;
  }

  &__info-item {
    width: 33.3333%;
    padding-right: 20px;
    color: rgba(#000, 0.5);


    &:last-child {
      @include media(1240px) {
        margin-top: 30px;
        width: 100%;
      }

      @include tablets {
        margin-top: 0;
        width: 33.33333%;
      }

      @include phone {
        width: 100%;
      }
    }


    @include media(1240px) {
      width: 50%;
    }

    @include tablets {
      width: 33.3333%;
    }



    @include phone {
      width: 100%;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__number {
    font-size: 20px;
    color: #000;
    font-weight: 600;

    @include media(1240px) {
      font-size: 18px;
    }

    @include tablets {
      font-size: 20px;
    }
  }

  &__text {
    width: 61%;

    @include tablets {
      width: 100%;
    }
  }

  .btn {
    margin-right: 16px;
    min-width: 232px;

    @include media(1240px) {
      min-width: auto;
    }

    @include tablets {
      width: 100%;
      margin-bottom: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
