.career-blocks {
  margin-bottom: 97px;

  &_small-m {
    margin-bottom: 50px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;

    @include tablets {
      display: block;
    }
  }

  &__h1 {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 56px;

    @include tablets {
      font-size: 28px;
      line-height: normal;
      margin-top: 52px;
    }

    @include phone {
      font-size: 22px;
      margin-bottom: 32px;
    }

  }

  &__left {
    width: calc(50% - 60px);
    margin-right: 60px;
    max-width: 609px;

    @include tablets {
      max-width: none;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__right {
    max-width: 609px;
    width: 50%;

    @include tablets {
      max-width: none;
      width: 100%;
      margin-bottom: 15px;
    }

  }

  &__text {
    font-size: 17px;
    line-height: 24px;
    color: #000000;

    &_small {
      max-width: 188px;
    }

    @include phone {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__highlight {
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    color: #000000;

    @include phone {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 40px;
    line-height: 39px;
    color: #000;
    margin-bottom: 7px;
  }
}
