.career-banner {
  min-height: 496px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;

  &_mb {
    margin-bottom: 57px;
  }

  @include phone {
    min-height: 360px;
  }

  &:after {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.65;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    min-height: 100%;
  }

  &__container {
    padding-top: 128px;

    @include phone {
      padding-top: 90px;
    }
  }

  &__descr {
    position: relative;
    z-index: 3;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
  }

  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;


    @include phone {
      font-size: 28px;
      line-height: 32px;
      margin: 0 auto;
      margin-bottom: 16px;
      max-width: 255px;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  &__btn {

  }

}
