.check {

  &__control {
    display: none;
    &:checked ~ label:after {
      opacity: 1;
    }
  }
  &__label {
    font-family: 'Suisse Intl', sans-serif;font-display: swap;
    position: relative;
    padding-left: 25px;
    font-size: 12px;
    line-height: 23px;
    color: #808080;
    cursor: pointer;
    user-select: none;
    &:after {
      content: '';
      display: block;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../img/checkbox.svg');
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: .2s;
    }
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      border: 1px solid #E6E6E6;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 23px;
    color: #000;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &_large {
    .check__label {
      font-size: 16px;
    }

    .check__link {
      font-size: 16px;
      color: $spindrift;
    }
  }

  &_rounded {
    .check {
      &__label {
        padding-left: 30px;
        font-size: 16px;
        &:after {
          border-radius: 50%;
          background-color: $spindrift;
          width: 14px;
          height: 14px;
          left: 5px;
          top: 1px;
          background-image: none;

        }
        &:before {
          top: -4px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }
  }

}
