.credit-card {
  display: flex;
  flex-direction: column;
  margin-right: 55px;

  @include tablets {
    margin-right: 0;
    margin-bottom: 34px;
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    color: #BABABA;
    margin-bottom: 13px;
  }

  &__body {
    flex-grow: 1;
    width: 461px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 36px 29px 16px;

    @include tablets {
      width: 100%;
    }

    @include phone {
      padding: 15px 16px;
    }
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 28px;

    &_period {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 20px;
      color: rgba(#000000, 0.5);
      margin-right: 73px;

      label {
        width: 100%;
        color: black;
      }
      input {
        width: calc(50% - 15px);
      }
    }

    label.error {
      display: none !important;
      height: auto !important;
      min-height: auto !important;
      background-color: transparent !important;
      position: absolute;
      bottom: -20px;
      left: 0;
      font-size: 12px;
      line-height: 22px;
      color: rgb(255, 64, 64);
    }

  }

  &__separator {
    margin-right: 11px;
    margin-left: 11px;
  }

  &__bottom-line {
    display: flex;
    justify-content: space-between;


    .credit-card__input-wrapper {
      &:last-child {
        @include phone {
          margin-bottom: 0;
        }
      }
    }

    @include phone {
      display: block;
    }
  }

  &__input {
    border-radius: 3px !important;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
    position: relative;
    width: 100%;
    font-size: 20px;
    outline: none;

    @include placeholder {
      position: relative;
      font-size: 20px;
      color: #E7E7E7;

    }

    &.error {
      border: 1px solid #eb5757;
      color: #333333;
      height: auto !important;
      position: static;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }

  }

  &__label {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;

    &.error {
      border: 1px solid #eb5757;
      color: #333333;
      height: auto !important;
      position: static;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }
  }
}
