.currency {
  &__name {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-right: 21px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phone {
      justify-content: initial;
    }
  }

  &__number {
    font-size: 28px;
    font-weight: 700;

    @include phone {
      font-size: 22px;
    }
  }
  &__list {
    @include tablets {
      margin-bottom: 18px;
    }
  }
}
