.customer-calc {
  margin-bottom: 53px;


  &__container {
    display: flex;

    @include phone {
      display: block;
    }
  }

  &__calc {
    width: 75%;
    padding-right: 60px;

    @include media(1200px) {
      padding-right: 30px;
      width: 100%;
    }

    @include tablets {
      padding-right: 0;
    }

    @include phone {
      padding-right: 0;
      width: 100%;
    }
  }

  &__promo {
    width: 25%;

    @include media(1200px) {
      display: none;
    }

    @include phone {
      margin-top: 67px;
      display: block;
      width: 100%;
    }
  }
}
