.desktop-slider {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 39px;

  @include tablets {
    display: none;
  }

  &__container {
    position: relative;
    padding: 0;
  }

  &__photo-list {
  }
  &__item {
    overflow: hidden;
    display: flex;
    min-height: 580px;
    height: auto !important;
  }
  &__left {
    height: 100%;
    width: calc(50% - 16px);
    margin-right: 16px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
  }
  &__right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  &__top {
    height: calc(50% - 20px);
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }
  &__bot {
    height: 50%;
    border-radius: 4px;
    overflow: hidden;
  }
  &__photo {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-left: -16px;

    .swiper-button-desk-next:after, .swiper-container-rtl .swiper-button-desk-prev:after,
    .swiper-button-desk-prev:after, .swiper-container-rtl .swiper-button-desk-next:after {
      content: '';
    }

    .swiper-button-desk-next, .swiper-button-desk-prev {
      outline: none;
      &:hover {
        svg {
          cursor: pointer;
          path {
            fill: #b9b9b9;
          }
        }
      }
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      svg {
        width: 21px;
        height: 21px;
        path {
          transition: 0.4s;
        }
      }

    }
    .swiper-button__icon-left {
      width: 21px;
      height: 21px;
      transform: rotate(180deg);

      svg {
        width: 21px;
        height: 21px;
      }
    }

    .swiper-button-desk-next, .swiper-button-desk-prev {
      background-color: transparent;
      margin-top: 0;
      height: 100%;
      top: 0;
      transition: 0.4s;
    }

    .swiper-button-desk-next {
      right: 0;
    }

    .swiper-button-desk-prev {
      left: 0;
      margin-right: 30px;
    }

  }

}
