.document-string {
  margin-bottom: 106px;
display: inline-block;
  &__container {
    display: flex;

    &:hover {
      .document-string__heading {
        text-decoration-color: transparent;
      }
    }
  }

  &__pic {
    margin-right: 21px;
  }

  &__heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
  }

  &__ext {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    opacity: 0.56;
  }
}
