.document {
  &__info {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
  }
  &__icon {
    max-width: 19px;
    margin-right: 7px;

    img {
      max-width: 100%;
    }
  }
  &__format {
    font-size: 14px;
    color: #000000;
    opacity: 0.56;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    color: #000000;

    display: inline;
    @include chunky-underline($spindrift, true, 25%, 10%);
    background-size: 0 143%;
    background-repeat: no-repeat;
    transition: .4s background-size;

  }
}
