.documents {
  margin-bottom: 4px;
  @include media(1420px) {
    margin-bottom: 24px;
  }


  hr {
    border-top: 1px solid #E6E6E6;
    border-bottom: none;
    margin-top: 24px;
    margin-bottom: 24px;

    @include phone {
      margin-top: 3px;
    }
  }

  &__text {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    position: relative;

    &:after {
      content: url("../img/open-docs.svg");
      position: absolute;
      left: calc(100% + 9px);
      top: -3px;
    }
  }
  &__open-other {
    display: none;

    @include tablets {
      display: block;
    }
  }

  &__container {
    padding: 0 88px 0 147px;
    @include media(1420px) {
      padding: 0 68px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -150px;
    padding-left: 150px;
    width: calc(100% + 300px);

    @include media(1420px) {
      margin: 0;
      padding: 0;
      width: 100%;
    }

  }

  &__item {
    width: calc(25% - 150px);
    margin-right: 150px;
    margin-bottom: 62px;

    @include media(1420px) {
      width: calc(50% - 60px);
      margin-right: 60px;
      margin-bottom: 40px;
    }

    @include tablets {
      &:nth-of-type(1n+5) {
        display: none;
      }
    }

    @include phone {
      width: calc(100% - 60px);
      &:nth-of-type(1n+3) {
        display: none;
      }
    }
  }

  &__link {
    display: block;

    &:hover {
      .document__name {
        background-size: 100% 143%;
      }
    }
  }
}
