.dropzone {
  border: 1px dashed #E7E7E7;
  border-radius: 6px;
  min-height: auto;

  &__url {
    margin-bottom: 0 !important;
    &.drop-hidden {
      pointer-events: auto;
    }
  }

  &.hidden {
    pointer-events: none;
  }

  &.dz-clickable * {
    cursor: inherit;
  }

  .dz-message {
    margin: 0;
    padding-bottom: 9px;


    @include phone {
      margin-bottom: 0;
    }
    span {
      font-size: 16px;
      color: #000000;
    }

    &__underline {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

  }

  &.dz-clickable {
    display: block;
    cursor: default;
    align-items: center;
    justify-content: center;
  }

  .dz-preview {
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    display: block;
    margin: 0;
    min-height: 73px;
    .dz-details {
      z-index: 1;
      display: flex;
      flex-wrap: wrap;

      .dz-size {
        order: 2;
        width: 100%;
        text-align: left;
      }

      .dz-filename {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        text-align: left;

        &:hover {
          span {
            border: none;
            background-color: transparent;
          }
        }

        &:not(:hover) span {
          border: none;
        }
      }
    }

    .dz-error-message {
      font-size: 12px;
      opacity: 1;
      left: 59px;
      top: auto;
      bottom: 2px;
      width: 80%;
      background: transparent;
      color: red;

      height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0;
      display: block;

      @include phone {
        left: 12px;
        width: 91%;
      }

      &:after {
        display: none;
      }
    }

    &.dz-file-preview {
      .dz-image {
        display: none;
      }

      & .dz-details {
        opacity: 0.7;
      }
    }

    .dz-details {
      padding: 10px;
      padding-left: 55px;
    }

    .dz-progress {
      display: none;
    }

    .dz-error-mark, .dz-success-mark {
      top: 6px;
      left: 8px;
      margin: 0;
      width: 44px;
      height: 44px;

      img {
        width: 44px;
        height: 44px;
      }
    }

    .dz-remove {
      position: absolute;
      z-index: 2;
      cursor: pointer !important;
      right: 4px;
      top: 6px;
    }
  }

}


