.error {
  height: 62vh;
  position: relative;
  min-height: 537px;
  background-color: #F9FBFB;
  overflow: hidden;
  display: flex;

  @include tablets {
    min-height: 829px;
  }

  @include phone {
    min-height: 520px;
  }

  &__container {
    display: flex;
    width: 100%;
    position: relative;
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    @include tablets {
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 180%;
    }

    @include phone {
      top: -30%;
      width: 240%;
    }

    img {
      @include centered();
      max-width: 100%;

    }
  }

  &__pic {
    max-width: 571px;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media(1076px) {
      max-width: 511px;
    }

    @include phone {
      width: 332px;
      max-width: 332px;
      @include centered('x');
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    @include centered();
    text-align: center;
    width: 100%;
    max-width: 356px;

    @include tablets {
      z-index: 1;
      @include centered('x');
      top: 20%;
    }

    @include phone {
      max-width: 213px;
      top: 6%;
    }
  }

  &__h1 {
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #000000;

    @include phone {
      font-size: 45px;
      line-height: 52px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px;

    @include phone {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 19px;
    }
  }
  &__btn {
    min-width: 195px;
  }
}
