.exch-rates {
  max-width: 1010px;

  @include tablets {
    display: block;
  }
  &__left {
    width: 45%;
    margin-right: 5%;
    max-width: 457px;

    @include tablets {
      display: block;
      width: 100%;
      margin: 0;
      max-width: none;
    }
  }
  &__right {
    width: 45%;
    max-width: 457px;
    margin-left: 5%;

    @include tablets {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      max-width: none;
    }
  }

 &__name {
   width: 48%;

   @include tablets {
     width: 100%;
     max-width: 35%;
   }

 }

  &__row {
    justify-content: space-between;
    min-height: 83px;
    padding: 14px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;

  }

  &__currency {
    font-size: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid black;
  }

  &__value {
    width: 26%;
    text-align: right;

    @include tablets {
      width: 100%;
    }

  }

}
