.faded {
  min-height: 1060px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  padding-top: 84px;

  @include phone {
    padding-bottom: 380px;
  }

  &:before {
    background: linear-gradient(180deg, #FFFFFF 31.7%, rgba(255, 255, 255, 0.865993) 51.67%, rgba(255, 255, 255, 0.718462) 63.76%, rgba(255, 255, 255, 0) 100.19%);;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    min-height: 100%;
  }

  &:after {
    background: linear-gradient(179.91deg, #FFFFFF 29.41%, rgba(255, 255, 255, 0.88) 48.13%, rgba(255, 255, 255, 0) 99.9%), rgba(85, 140, 166, 0.8);
    mix-blend-mode: multiply;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    min-height: 100%;
  }

  &__container {
    position: relative;
    z-index: 2;
  }
}
