.feedback {
  &__container {
    display: flex;

    position: relative;
    padding-bottom: 85px;

    @include tablets {
      flex-wrap: wrap-reverse;
      padding-bottom: 420px;
    }

    @include phone {
      padding-bottom: 266px;
    }

    .request__dropzone {
      border: none !important;
      cursor: default !important;

      svg {
        cursor: pointer;
      }
    }

    .dropzone.dz-clickable .dz-message * {
      cursor: default !important;
    }

    .dropzone.dz-clickable .dz-message {
      div {
        svg, rect {
          cursor: pointer !important;
        }
      }
    }
  }

  &__left {
    width: 67%;
    min-height: 700px;
    margin-right: 60px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 45px 55px 17px 55px;

    @include tablets {
      width: 100%;
      margin-right: 0;
    }

    @include phone {
      min-height: 420px;
    }

    @include phone {
      padding: 24px 14px 0 16px;
    }

    .heading_l {
      margin-bottom: 32px;

      @include phone {
        margin-bottom: 19px;
      }
    }

    .request__input-wrapper_area {
      margin-bottom: 0;
      textarea {
        height: 154px;
        resize: none;

        @include phone {
          height: 61px;
        }
      }
    }

    .request__dropzone {
      margin-bottom: 0;

      @include phone {
        padding-top: 35px;
      }
    }

    .info__tab-scenes {
      min-height: 357px;
      padding: 36px 0 17px 0;

      @include phone {
        min-height: 300px;
        padding: 23px 0 29px 0;
      }
    }
    .request__flex-wrap_70-30 .request__input-wrapper {
      width: 50%;

      @include phone {
        width: 100%;
      }
    }

  }

  &__right {
    width: 27%;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 21px 25px 21px 24px;
    max-height: 277px;

    @include tablets {
      width: 100%;
      margin-bottom: 32px;
      max-height: none;
    }

    .request__btn {
      margin-top: 17px;
      width: 100%;
    }
  }

  &__text {
    font-size: 16px;

    b {
      font-size: 20px;
      margin-top: 7px;
      display: block;

      @include phone {
        margin-top: 4px;
      }
    }
  }

  &__btn {

    &.btn {
      margin-top: 18px;
      min-width: 237px;
    }
  }

  &__bottom-pic {
    width: 575px;
    height: 387px;
    position: absolute;
    right: -11px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include tablets {
      @include centered(x);
    }
    @include tablets {
      width: 350px;
      height: 236px;
    }
  }

  .heading_m {
    margin-bottom: 15px;

    @include phone {
      max-width: 90%;
    }
  }

  .thankyou-form {
    margin-top: 220px;

    @include phone {
      margin-top: 100px;
    }
  }
}
