.heading {
  &_l {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 43px;

    @include phone {
      font-size: 22px;
      margin-bottom: 27px;
    }
  }

  &_inner {
    margin-bottom: 30px;
  }
  &_bordered {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  &_top-m {
    margin-top: 82px;

    @include tablets {
      margin-top: 48px;
    }

    @include phone {
      margin-top: 28px;
    }

  }
  &_m {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 30px;

    @include tablets {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &_s {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &_xs {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}
