.how-to {
  margin-bottom: 100px;

  @include tablets {
    margin-bottom: 56px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 60px;

    &_samsung {
      max-width: 687px;
      margin-left: auto;
      margin-right: auto;
      line-height: normal;
      margin-bottom: 71px;


      @include phone {
        margin: 0;
        margin-bottom: 40px;
      }
    }

    @include phone {
      margin-bottom: 22px;
      text-align: left;
    }
  }

  &__comment {
    margin-top: 37px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;

    @include phone {
      max-width: 90%;
    }

    a {
      color: #000000;
      text-decoration: underline;
      text-decoration-color: black;
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}
