.info {
  margin-bottom: 74px;

  @include tablets {
    margin-bottom: 37px;
  }

  @include phone {
    margin-bottom: 30px;
  }

  &__tab-scenes {
    min-height: 400px;
    padding: 53px 84px 17px 55px;

    @include phone {
      padding: 23px 16px 17px 16px;
      min-height: auto;
    }

  }
}

