.info-small-title {
  display: flex;

  @include phone {
    display: block;
  }

  &__left {
    width: 40%;
    padding-right: 74px;

    @include phone {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__right {
    width: 60%;
    display: flex;

    @include phone {
      width: 100%;
    }
  }

  &__col {
    width: 50%;
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}
