.join {
  padding-top: 50px;
  padding-bottom: 46px;
  &__container {

  }

  &__card {
    background: #EBEFF1;
    border-radius: 6px;
    max-width: 725px;
    text-align: center;
    padding: 56px 65px 50px 59px;
    margin: 0 auto;

    @include tablets {
      max-width: none;
    }

    @include phone {
      padding: 48px 30px 40px;
    }
  }

  &__h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;

    @include phone {
      font-size: 20px;
      line-height: 23px;
    }
  }
  &__text {
    font-size: 17px;
    line-height: 20px;
    color: #808080;
    max-width: 378px;
    margin: 0 auto 27px;

    @include tablets {
      max-width: 378px;
    }
  }
  &__link {
    display: block;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    transition: 0.4s;

    &:hover {
      text-decoration: none;
    }
  }
}
