.main-hero {
  min-height: 496px;
  background-color: $slider-background;
  margin-bottom: 20px;

  @include phone {
    min-height: 360px;
  }

  &__container {
    position: relative;
    overflow: hidden;

    @include phone {

      overflow: visible;
    }
  }

  &__dots {

    .swiper-pagination-bullet {
      background-color: transparent;
      vertical-align: middle;
      position: relative;
      display:inline-block;
      margin-left:3rem;
      cursor:pointer;
      transform: matrix(0.3, 0, 0, 0.3, 0, 0);
      transition: transform 0.3s;
      outline: none;

      height: 21px;
      width: 21px;


      path {
        stroke: #C6C6C6;
        stroke-width: 10px;
        fill: transparent;
        stroke-dasharray: 31.4876;
        stroke-dashoffset: 0;
      }

      &.swiper-pagination-bullet-active {
        background-color: transparent;
        height: 21px;
        width: 21px;
        transform: matrix(0.8, 0, 0, 0.8, 0, 0);;

        svg {
          height: 21px;
          width: 21px;
        }
        path {
          animation: packman 10s;
        }
      }
    }

    @include phone {
      display: none;
    }
  }

  &__controls {
    display: none;

    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: '';
    }

    .swiper-button-next, .swiper-button-prev {
      outline: none;
      &:hover {
        svg {
          path{
            fill: #b9b9b9;


            @include phone {
              fill: black;
            }
          }
        }
      }
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      @include tablets {
        margin-left: 0;
      }

      svg {
        width: 21px;
        height: 21px;
        path {
          transition: 0.4s;
        }
      }

    }
    .swiper-button__icon-left {
      width: 21px;
      height: 21px;
      margin-left: 40px;
      transform: rotate(180deg);

      svg {
        width: 21px;
        height: 21px;
      }

      @include phone {
        margin-left: 0;
      }

    }
    .swiper-button__icon-right {
      margin-right: 40px;

      @include phone {
        margin-right: 0;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      background-color: transparent;
      margin-top: 0;
      height: 100%;
      width: 10%;
      max-width: 125px;
      top: 0;
      transition: 0.4s;

      @include phone {
        top: -45px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        @include phone {
          background-color: transparent;
        }
      }
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;

    }

    @include phone {
      position: relative;
      margin: 0 auto;
      max-width: 82px;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 1px;
      opacity: 1!important;
    }
    bottom: 21px;
  }
}

@-webkit-keyframes packman {
  0%   { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -31.4876; }
}
