.main-static {
  min-height: 496px;
  background-color: white;
  padding-top: 112px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #E6E6E6;

  @include tablets {
    background-position: right -146px top 0;
    padding-top: 28px;
  }

  @include phone {
    background-image: none !important;

  }
  &__container {
  }

  &__rates {
    @include tablets {
      margin-bottom: 34px;
    }
    @include phone {
      margin-bottom: 49px;
    }
  }
}
