.map-popups {
  background-color: white;
  height: 100vh;
  padding-top: 90px;

  @include tablets {
    padding-top: 0;
    height: auto;
  }

  &__popups-wrapper {
    position: relative;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: absolute;
      top: 200px;
      right: 22px;
    }

    &.map-popups__popups-wrapper--contact {
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
      }
    }

    &_atm {
      @include phone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        .map-popups__popup {
          @include phone {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
          }
        }
        .map-popups__close-btn {
          @include phone {
            display: none;
          }
        }

        .map-popups__drag-down {
          @include phone {
            display: block;
          }
        }
      }

    }
  }


  &__container {
    max-width: 100%;
    padding: 0 51px;


    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: relative;
    }



    @include tablets {
      padding-top: 30px;
      padding-bottom: 66px;
    }

    @include phone {
      padding: 0;
    }

    .heading {
      position: relative;
      z-index: 1;

      @include tablets {
        margin-bottom: 120px;
      }

      @include phone {
        margin-left: 15px;
        margin-bottom: 0;
      }
    }
  }
  &__popup {
    display: none;

    padding: 37px 30px 20px;


    &.active {
      display: block;
    }

    @include tablets {
      margin-top: -408px;
    }

  }


  @include tablets {
    &__popups-wrapper {
      position: absolute;

      &.map-popups__popups-wrapper--contact {
        position: relative;
      }
    }
  }

  &__close-btn {
    background-color: transparent;
    outline: none;
    border: none;
    top: 7px;
    right: 0px;
    position: absolute;
    cursor: pointer;
  }


  &__drag-down {
    display: none;

    width: 36px;
    height: 5px;
    border-radius: 19px;
    top: 8px;
    background-color: rgba(black, 0.4);
    @include centered(x);

  }


}

.ymap {
  #zoom-in, #zoom-out {
    display: none;
  }
}


.map-popup {
  font-size: 16px;
  color: black;

  &_atm {
    @include phone {
      position: fixed;
      bottom: 0;
      top: auto !important;
      width: 100vw;
    }
  }

  @include suisseFont;

  width: 364px;
  height: 434px;
  background: white;
  box-shadow: 0px 10px 25px rgba(0, 47, 103, 0.23);
  border-radius: 6px;
  position: relative;
  margin-left: auto;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: 0;
  }

  &--contact {
    z-index: 9;
    left: 10%;
    top: 39px;
    position: absolute;


    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      top: 55px;
      margin-top: 0;
    }

    @include tablets {
      top: 55px;
      left: 5%;
      margin-top: 0;
    }

    @include phone {
      top: 11px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 12px;
    padding-bottom: 11px;
  }

  &__address {
    margin-bottom: 8px;
  }


  &__description {
    overflow: hidden;
    height: 234px;
    scrollbar-color: $black #E6E6E6; /* thumb and track color */
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 3px;
      background-color: rgba(0,0,0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      border: 0px solid rgba(0,0,0,0.5); /* should match background, can't be transparent */
      background-color: rgba(0,0,0,0.9);
    }
  }

  p, &__info {
    margin: 0;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 9px;
    margin-top: 15px;
  }


}
