.numbers {

  &__container {
    max-width: 925px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    margin-left: -96px;
    padding-left: 96px;
    width: calc(100% + 192px);

    @include phone {
      display: block;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  &__item {
    width: calc(33.333% - 96px);
    margin-right: 96px;
    text-align: center;

    @include phone {
      width: 100%;
      margin-bottom: 76px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__value {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #D9007E;
    margin-bottom: 15px;
  }

  &__h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: rgba(#000000, 0.56);
  }
}
