.numbered-steps {
  margin-bottom: 116px;

  @include phone {
    margin-bottom: 61px;
  }

 &__heading {
   text-align: center;
 }

  &__content {
    background: #F5F7F7;
    border-radius: 6px;
    padding: 14px 82px 18px 22px;
    margin-left: 24px;
    width: calc(100% - 70px - 24px);


    @include phone {
      padding: 14px 17px 18px 12px;
      margin-left: 11px;
      width: calc(100% - 35px - 11px);
    }
  }

  &__list {
    max-width: 700px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    @include phone {
      align-items: stretch;
    }

    &:last-child {
      margin-bottom: 0;
      .numbered-steps__num {
        &:after {
          display: none;
        }
      }
    }
  }

  &__num {
    padding: 9px;
    background-color: white;
    position: relative;

    width: 70px;

    @include phone {
      padding: 0;
      padding-bottom: 10px;
      width: auto;
    }

    &:after {
      content: '';
      z-index: -1;
      border-left: 1px dashed #C6C6C6;
      position: absolute;
      top: 100%;
      left: 50%;
      height: 180%;

      @include phone {
        z-index: auto;
        top: 45px;
        height: calc(100% - 45px + 28px - 10px);
      }
    }
  }

  &__circle {
    border: 3px solid #00B295;
    border-radius: 50px;
    width: 52px;
    height: 52px;

    &_squared {
      border: 4px solid $strawberry;
      box-sizing: border-box;
      border-radius: 10px;
      transform: rotate(-45deg);

      .numbered-steps__value {
        transform: rotate(45deg);
        color: $strawberry;
      }
    }

    @include phone {
      width: 35px;
      height: 35px;
    }
  }

  &__value {
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #00B295;

    @include phone {
      line-height: 29px;
      font-size: 20px;
    }
  }


  &__h1 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    margin-bottom: 14px;

    @include phone {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    opacity: 0.56;
    max-height: 176px;
    overflow: hidden;

    @include phone {
      font-size: 14px;
      line-height: 16px;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      opacity: 0.56;
      margin: 0;

      @include phone {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &_top-m {
    margin-top: 30px;
  }
}
