.palette {
  margin-top: 89px;
  margin-bottom: 92px;

  @include tablets {
    margin-top: 48px;
    margin-bottom: 45px;
  }

  @include phone {
    margin-top: 32px;
    margin-bottom: 41px;
  }

  &__container {
    display: flex;
    min-height: 800px;

    @include phone {
      display: block;
    }
  }

  &__left {
    width: calc(50% - 16px);
    display: flex;
    flex-direction: column;
    margin-right: 16px;

    @include phone {
      margin-bottom: 17px;
    }

    .palette {
      &__bot {
        width: 100%;
        height: 47%;
      }
      &__top {
        width: 100%;
        height: calc(53% - 17px);
        margin-bottom: 17px;
      }
    }

  }
  &__right {
    width: 50%;
    .palette {
      &__bot {
        height: 53%;
      }
      &__top {
        height: calc(47% - 17px);
        margin-bottom: 17px;
      }
    }
  }

  &__left, &__right {
    width: 100%;
  }

  &__bot, &__top {
    display: flex;

    @include phone {
      min-height: 192px;
    }
  }

}
