.perspective {
  max-width: 1214px;
  margin: 0 auto;
  margin-bottom: 115px;

  &_sm {
    margin-bottom: 94px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include phone {
      display: block;
    }
  }

  &__item {
    width: 33.333%;
    max-width: 265px;
    padding-right: 10px;

    @include phone {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &_more-space {
      max-width: 321px;

      @include phone {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
      }

      .perspective {
        &__pic {
          margin-bottom: 9px;

          @include phone {
            min-width: 53px;
          }
        }

        &__h2 {
          margin-bottom: 7px;

          @include phone {
            text-align: left;
          }
        }

        &__text {
          @include phone {
            text-align: left;
          }
        }
      }
    }

    &_bigger {
      max-width: 294px;

      &:first-child {
        .perspective__bottom {
          @include phone {
            margin-top: -20px;
          }
        }
      }

      @include tablets {
        padding-right: 25px;

        &:last-child {
          padding-right: 0;
        }
      }

      @include phone {
        padding-right: 0;
      }

      .perspective {

        &__pic {
          img {
            max-width: 100%;

            @include tablets {
              max-width: 246px;
            }

            @include phone {
              max-width: 130px;
            }
          }
        }
        &__bottom {
          text-align: center;

          @include tablets {
            margin-top: 20px;
          }

          @include phone {
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 68%;
          }
        }
      }
    }
  }

  &__h1 {
    text-align: center;
  }

  &__h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(#000, 0.56);
  }

  &__pic {
    img {
      margin: 0 auto;
      max-width: 106px;
    }
  }

  &__bottom {
    font-size: 16px;
    @include phone {
      margin-left: 23px;
    }
  }

}
