.pink-form {
  max-width: 882px;
  margin: 0 auto;
  margin-bottom: 160px;

  &__title {
    background-color: #e50086;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 21px 10px 19px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

  }
  &__input {
    border-radius: 3px !important;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
    position: relative;
    width: 100%;
    font-size: 16px;
    outline: none;

    &.error {
      border: 1px solid #eb5757;
      color: #333333;
      height: auto !important;
      position: static;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }
  }

  &__content {
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 28px 50px;

    @include phone {
      padding: 28px 15px;
    }

    &.with-thankyou {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__input-wrapper {
    position: relative;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    label.error {

      position: absolute;
      top: 0;
      left: 0;
      margin-left: 8px;
      font-size: 12px;
      line-height: 22px;
      color: rgb(255, 64, 64);

      height: auto !important;

      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }
  }

  &__dragdrop {
    max-width: 570px;
    margin: 0 auto;
    &.dropzone {
      min-height: 68px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    max-width: 502px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  &__or {

    @include phone {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
  &__flex-wrap {
    display: flex;
    justify-content: space-between;

    @include phone {
      display: block;
    }

    .request__input-wrapper {
      width: 50%;

      @include phone {
        width: 100%;
        margin-bottom: 14px;
      }

      &:first-child {
        margin-right: 10px;
        width: calc(50% - 10px);

        @include phone {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &_70-30 {
      margin-top: 26px;
      color: rgba(#000, 0.5);
      align-items: center;

      @include phone {
        display: flex;
        flex-wrap: wrap;

      }
      .check {
        margin-bottom: 18px;
      }
      .request__input-wrapper {
        width: 35%;
        margin-bottom: 0;

        @include phone {
          width: 100%;
        }

        &:first-child {
          margin-right: 10px;
          width: calc(65% - 10px);

          @include phone {
            margin-right: 0;
            width: 100%;
          }
        }
      }

    }
  }

  .check__label {
    &:before {
      top: -5px;
    }
    &:after {
      top: -5px;
    }
  }
}
