.overlay {
  position: fixed;
  padding: 0 60px;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;


  @include tablets {
    padding: 0 16px;
  }

  &_atm {
    z-index: 1;
    pointer-events: none;
    @include phone {
      padding: 0;
    }
  }
}

.fixed {
  overflow: hidden;
}

.popup {
  position: fixed;
  display: flex;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 1.5s;
  width: calc(100% - 60px - 60px);
  max-width: 1600px;
  background-color: #fff;
  height: 400px;
  border-radius: 6px;

  @include tablets {
    width: calc(100% - 32px);
    height: 530px;
  }

  @include phone {
    height: 67%;
  }

  &_vacancies {
    padding: 43px 54px;
    height: auto;
    width: fit-content;

    @include tablets {
      padding: 23px 30px;
      width: fit-content;
      height: 530px;
      .popup__container {
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }

    }

    @include phone {
      height: 67%;
    }

    .socials__list {
      padding-right: 10px;

      @include media(1125px) {
        padding-right: 25px;
      }
    }
  }

  &_request {
    width: auto;
    height: auto;
    max-height: 90vh;
    padding: 36px 49px;
    min-width: 60vw;


    @include phone {
      padding: 36px 19px;
    }
  }


  &__container {
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    width: 100%;


    &_request {
      overflow-y: scroll;

      .request__form {
        width: 100%;
      }

      .request__thankyou {
        width: 100%;

        @include phone {
          margin-top: 18%;
        }
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
      }
    }
  }


  &__subheading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 38px;

    @include phone {
      margin-bottom: 20px;
    }
  }
  &__left {
    width: 33%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @include phone {
      display: none;
    }
  }

  &__right {
    width: 67%;
    padding: 52px 52px 63px 56px;

    @include phone {
      overflow: hidden;
      padding: 35px 20px 40px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    @include phone {
      font-size: 24px;
      line-height: 29px;
    }

    &_last {
      margin-bottom: 15px;

      @include phone {
        margin-bottom: 10px;
      }
    }
  }
  &__job {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-height: 134px;
    overflow: hidden;
    padding-right: 14px;

    @include tablets {
      max-height: 264px;
    }

    @include phone {
      max-height: 60%;
      -webkit-overflow-scrolling: touch;
    }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical {
        width: 3px;
        background-color: rgba(0,0,0,0.1);
      }
      &::-webkit-scrollbar-thumb {
        border: 0px solid rgba(0,0,0,0.5); /* should match background, can't be transparent */
        background-color: rgba(0,0,0,0.9);
      }
    scrollbar-color: $black #E6E6E6; /* thumb and track color */
    scrollbar-width: thin;



    p {
      margin: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  &__close-btn {
    outline: none;
    padding: 15px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: -43px;
    right: 1px;
    width: 21px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    z-index: 4;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 8px;
      width: 14px;
      height: 2px;
      border-radius: 2px;
      background-color: #979797;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

  }
}
