.prod-card {

  border: 1px solid #E7E7E7;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.4s ease-out;

  &_management {
    display: flex;
    flex-wrap: wrap;

    .prod-card {
      &__link {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        &:hover {
          .prod-card__link-bottom {
            text-decoration: none;
          }
        }

      }

      &__img {
        width: 100%;
        filter: none;
        padding-top: 100%;
      }

      &__name {
        font-weight: 600;
        color: black;
        font-size: 20px;
        margin: 0;
        line-height: 23px;
        width: 100%;

        &_last {
          margin-bottom: 11px;
        }
      }

      &__text {
        font-size: 16px;
        line-height: 19px;
        color: rgba(black, 0.5);
        margin-bottom: 24px;

        @include phone {
          margin-bottom: 17px;
        }
      }

      &__link-bottom {
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #000000;
      }

      &__hidden-descr-popup {
        display: none;
      }

    }
  }

  &_overflowed {
    overflow: visible;
    padding-top: 119px;

    &:hover {
      .prod-card__img {
        transform: translateY(-10px);
      }
    }

    .prod-card {
      &__img img {
        left: 50%;
        transform: translateX(-50%);
        width: initial;
        max-width: 100%;
        object-fit: contain;
        object-position: unset;
      }

      &__img {
        filter: saturate(1);
        margin-top: -200px;
      }

      &__descr {
        padding-top: 21px;
      }
    }

  }

  &_small {
    display: flex;
    flex-wrap: wrap;

    &.swiper-slide {
      height: auto !important;
    }

    .prod-card {

      &__link {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      &__img {
        width: 100%;
        filter: none;
      }
      &__heading {
        padding: 15px 28px 7px 13px;
        margin: 0;

        font-size: 16px;
        line-height: 20px;
        width: 100%;
      }
      &__field {
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        opacity: 0.4;
        padding: 0 28px 7px 13px;
        margin-top: auto;
      }
      &__img {
        padding-top: 75%;
      }
    }
  }

  &:hover {
    transition: 0.4s ease-out;
    box-shadow: 0 18px 32px rgba(0, 47, 103, 0.23);
    .prod-card__img {
      filter: saturate(1);
    }
  }

  &__img {
    filter: saturate(0);
    padding-top: 56%;
    overflow: hidden;
    position: relative;
    transition: all .25s linear;

    &_large {
      padding-top: 58%;
    }
    @include phone {
      margin-bottom: 10px;
    }

    img {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 100%;
      transition: all .25s linear;
    }
  }

  &__heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 12px;
    color: black;

    @include phone {
      font-size: 22px;
      margin-bottom: 29px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 31px;
    color: black;
  }

  &__info {
    color: rgba(#000, 0.5);
    margin-bottom: 25px;

  }

  &__number {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-top: 7px;

    @include tablets {
      margin-top: 3px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 13px;

    @include tablets {
      margin-top: 0;
    }
  }

  &__descr {
    padding: 30px 28px 36px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-grow: 1;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__bottom {
    margin-top: auto;
  }
}
