.prons {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    min-width: 41%;
    padding-right: 30px;
    font-size: 16px;
    color: #808080;
    position: relative;
    display: flex;
    margin-bottom: 11px;

    @include phone {
      font-size: 14px;
      margin-bottom: 8px;
      padding-right: 0;
    }

    &:before {
      content: url("../img/vacancy-prons.svg");
      width: 11px;
      height: 16px;
      margin-right: 10px;
    }
  }
}
