.quote {
  max-width: 839px;
  padding-left: 33px;

  @include tablets {
    max-width: 659px;
  }

  @include phone {
    padding-left: 19px;
  }

  &__text {
  position: relative;
  color: #00B295;
  font-family: 'Merriweather','Times New Roman' ,serif;font-display: swap;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.02em;

    @include tablets {
      font-size: 25px;
      line-height: 31px;
    }

    @include phone {
      font-size: 24px;
      line-height: 30px;
    }

    &:before {
      position: absolute;
      content: url("../img/quote.svg");
      top: -8px;
      left: -31px;

      @include phone {
        top: -27px;
        left: -17px;
      }
    }
  }

  &__author {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #000000;
    opacity: 0.4;

    @include tablets {
      font-size: 15px;
      line-height: 35px;
    }
  }
}
