.rate {
  &__text {
    font-size: 16px;
    line-height: 19px;
    color:rgba(#000000, 0.5);
  }

  &__value {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    position: relative;
    display: inline;

    &:before {
      position: absolute;
      background-image: url("../img/arrow-rates-up.svg");
      content: '';
      left: -16px;
      bottom: 50%;
      width: 11px;
      height: 7px;
    }

    &_up {
      &:before {
        background-image: url("../img/arrow-rates-up.svg");
      }
    }

    &_down {
      &:before {
        background-image: url("../img/arrow-rates-down.svg");
      }
    }
  }
}
