.request {
  background-color: #F5F7F7;
  margin-bottom: 60px;

  &_right {
    background-color: #E8E8EA;

    .request {
      &__container {
        padding: 76px;
        padding-right: 168px;
        display: flex;
        justify-content: flex-end;

        @include tablets {
          display: block;
          padding: 92px 56px;
        }

        @include phone {
          padding: 38px 16px;
        }
      }

      &__card {
        margin-left: 0;

        @include media(1209px) {
          margin-right: 60px;
        }

        @include tablets {
          margin: 0 auto;
        }
      }
    }
  }

  &_incassacia {
    background-color: #F5F7F7;

    .request {

      &__container {
        padding: 41px;

        @include phone {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }

      &__card {
        background-color: transparent;
        border: none;
        max-width: 718px;
        padding-top: 76px;
        @include tablets {
          padding: 0;
          min-height: auto;
        }
      }

      &__h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.02em;
        color: #000000;
        margin-bottom: 16px;

        @include phone {
          font-size: 28px;
          line-height: 32px;
        }
      }

      &__text {
        font-size: 16px;
        color: #4F4F4F;
        margin-bottom: 36px;
      }
    }
  }

  &_right-cropped {
    background-color: transparent;

    @include tablets {
      padding: 0 16px;
    }

    .request {
      &__container {
        max-width: 1329px;

        @include tablets {
          background-color: #F5F7F7;
          padding: 49px 25px 20px 25px;
        }
      }

      &__text {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #4F4F4F;

        p {
          b {
            margin-bottom: 0;
          }
          margin: 0;
        }
      }
    }
  }

  &_no-b-m {
    margin-bottom: 0;
  }

  &_dropzoned {

    .request {
      &__container {
        min-height: 850px;
      }
      &__card {
        width: 65%;
        max-height: 630px;

        @include tablets {
          max-height: none;
        }

        .request__input-container {
          margin-bottom: 0;
        }

        @include media(1264px) {
          width: 75%;
        }

        @include phone {
          width: 100%;
          padding-bottom: 20px;
        }

      }

      &__input-wrapper_link-resume {
        @include tablets {
          display: none;
        }

      }

      &__input-container {
        @include phone {
          margin-bottom: 0;
        }
      }
    }
  }

  &__container {
    min-height: 501px;
    padding-top: 59px;
    padding-bottom: 59px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablets {
      background-image: none !important;
      min-height: auto;
      padding: 92px 56px;
    }

    @include phone {
      padding: 38px 16px;
    }

  }

  &__card {
    min-height: 420px;
    max-width: 655px;
    width: 55%;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    padding: 36px 50px 43px;

    &.with-thankyou {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include tablets {
      margin: 0 auto;
      width: 100%;
    }

    @include phone {
      padding: 28px 15px 42px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;

    @include phone {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 9px;
    }

    &_bot-m {
      margin-bottom: 47px;

      @include phone {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 30px;
    @include phone {
      margin-bottom: 27px;
      line-height: 20px;
    }
  }

  &__btn {
    min-width: 196px;
    border: none;
    outline: none;

    @include phone {
      width: 100%;
    }
  }

  &__input-container {
    margin-bottom: 35px;

    .check__label {
      &:before {
        top: -5px;
      }
      &:after {
        top: -5px;
      }
    }

    .check_rounded .check__label:before {
      top: -4px;
    }

    .check_rounded .check__label:after {
      top: 1px;
    }
  }

  &__input {
    border-radius: 6px !important;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
    position: relative;
    width: 100%;
    font-size: 16px;
    outline: none;

    &.error {
      border: 1px solid #eb5757;
      color: #333333;
      height: auto !important;
      position: static;
      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }

    &_url {
      border: none;
      border-radius: 0 !important;
      border-bottom: 1px solid #E7E7E7;
      padding-bottom: 7px;
      padding-top: 9px;

      @include phone {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    label.error {

      position: absolute;
      top: 0;
      left: 0;
      margin-left: 8px;
      font-size: 12px;
      line-height: 22px;
      color: rgb(255, 64, 64);

      height: auto !important;

      min-height: auto !important;
      background-color: transparent !important;
      display: block;
    }

  }

  &__half-group {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    @include phone {
      display: block;
    }

    &_m-b {
      margin-bottom: 43px;
    }

    .request__input-wrapper {
      flex-grow: 1;
    }
  }

  &__comment-input {
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    color: #B3B3B3;
    top: calc(100% + 7px);
    left: 0;
  }

  &__input-name {
    width: 26%;
    padding-right: 28px;
    font-size: 16px;
    line-height: 19px;

    @include phone {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__label {
    position: absolute;
    left: 25px;
    top: 20px;
    color: rgba(black, 0.5);
    font-size: 16px;
  }

  &__dropzone {
    margin-bottom: 14px;

    &_reserve {
      margin-bottom: 40px;
    }
  }

  &__text-socials {
    font-size: 12px;
    line-height: 25px;
    color: #000;
    opacity: 0.3;
    margin-bottom: 16px;

    @include phone {
      text-align: center;
    }
  }

  &__flex-wrap {
    display: flex;

    @include phone {
      display: block;
    }

    .request__input-wrapper {
      width: 50%;

      @include phone {
        width: 100%;
        margin-bottom: 14px;
      }

      &:first-child {
        margin-right: 10px;
        width: calc(50% - 10px);

        @include phone {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &_70-30 {
      margin-top: 26px;

      @include phone {
        display: flex;
        flex-wrap: wrap-reverse;
      }
      .check {
        margin-bottom: 18px;
      }
      .request__input-wrapper {
        width: 35%;
        margin-bottom: 0;

        @include phone {
          width: 100%;
        }

        &:first-child {
          margin-right: 10px;
          width: calc(65% - 10px);

          @include phone {
            margin-right: 0;
            width: 100%;
          }
        }
      }

    }
  }

  &__group {
    display: flex;
    margin-bottom: 42px;

    @include phone {
      display: block;
      margin-bottom: 28px;

      .feedback__text {
        margin-bottom: 25px;
      }
    }

    &_cheks {
      margin-bottom: 0;
    }

    .check {
      margin-left: 34px;

      @include phone {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    &_reserve {
      margin-top: 20px;
      margin-bottom: 30px;

      .check {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__comment {
    font-size: 16px !important;
    line-height: 22px;
    text-align: center;
    color: #B9B9B9 !important;

  }

  &__form {
    .tabs-main__item {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__checkboxes {
    margin-left: 26%;

    @include phone {
      margin-left: 0;
    }

    .check {
      margin-bottom: 19px;

      &:nth-child(2) {
        margin-bottom: 46px;
      }
    }
  }

  &__tooltip {
    font-size: 16px !important;
    line-height: 19px;
    color: #7C7C7C !important;
    margin-top: 10px;
    border-bottom: 1px dashed #7C7C7C;
  }
}
