.requirements {
  &__name {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    opacity: 0.56;
    margin-bottom: 8px;

    @include media(1314px) {
      margin-bottom: 3px;
    }

    @include phone {
      font-size: 14px;
      margin-bottom: 1px;
    }
  }

  &__value {
    font-weight: bold;
    font-size: 30px;
    color: #000000;

    @include phone {
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include phone {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-right: 20px;

    @include phone {
      min-width: auto;
      margin-bottom: 10px;
    }

    &:last-child {
      padding-right: 0;
      flex-shrink: initial;
    }
  }
}
