.reviews {
  margin-bottom: 50px;
  position: relative;

  @include phone {
    margin-bottom: 161px;
  }

  @include phone {
    min-height: 181px;
  }

  &__heading {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin-bottom: 29px;

    @include phone {
      font-size: 22px;
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
    padding-bottom: 74px;

    @include phone {
      overflow: visible;
      min-height: 181px;
      padding: 0 16px;
    }
  }

  &__list {
    @include phone {
      min-height: 181px;
    }
  }


  &__controls {
    .swiper-button-career-next:after, .swiper-container-rtl .swiper-button-career-prev:after,
    .swiper-button-career-prev:after, .swiper-container-rtl .swiper-button-career-next:after {
      content: '';
    }

    .swiper-button-career-next, .swiper-button-career-prev {
      outline: none;
      &:hover {
        svg {
          path{
            fill: #b9b9b9;

            @include phone {
              fill: black;
            }
          }
        }
      }
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      @include tablets {
        margin-left: 40px;
      }

      svg {
        width: 21px;
        height: 21px;
        path {
          transition: 0.4s;
        }
      }

    }
    .swiper-button__icon-left {
      width: 21px;
      height: 21px;
      margin-left: 40px;

      svg {
        width: 21px;
        height: 21px;
      }

      @include phone {
        margin-left: 0;
      }

    }
    .swiper-button__icon-right {
      margin-left: 40px;

      @include phone {
        margin-right: 0;
      }
    }

    .swiper-button-career-next, .swiper-button-career-prev {
      margin-top: 0;
      height: 100%;
      width: 10%;
      max-width: 125px;
      top: 0;
      transition: 0.4s;
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;

      @include phone {
        width: auto;
        height: 21px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .swiper-button-career-next {
      right: 0;
      background: linear-gradient(270deg, #FFFFFF -1.99%, rgba(255, 255, 255, 0) 92.79%);

    }

    .swiper-button-career-prev {
      left: 0;
      background: linear-gradient(270deg, #FFFFFF -1.99%, rgba(255, 255, 255, 0) 92.79%);
      transform: matrix(-1, 0, 0, 1, 0, 0);

    }

    @include phone {
      position: relative;
      margin: 0 auto;
      max-width: 96px;
      margin-top: 92px;
    }
  }

}
