.search-results {
  margin-bottom: 60px;

  @include tablets {
    margin-bottom: 30px;
  }

  p {
    margin: 0;
  }
}

.search-result {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border-bottom: 1px solid #E6E6E6;
  padding: 29px 0;

  &:first-child {
    border-top: 1px solid #E6E6E6;
  }
  &__heading {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 22px;
  }

  &__text {
    margin-bottom: 20px;
    p {

    }
  }
  &__link {
    color: #000000;
    text-decoration: underline;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}
