

.select2-container {
  .select2-selection {
    background: #fff;
    color: #1f1f1f;
    padding: 18px 20px 16px !important;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    outline: none;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    height: auto;
  }

  .select2-search__field {
    display: none;
  }

  .select2-dropdown {
    z-index: 0;
    border: 1px solid #e7e7e7;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .select2-selection--single {
    .select2-selection__rendered {
      padding-left: 5px;
    }
  }
  @include suisseFont;

  //options in a dropdown list
  .select2-results {
    overflow-x: auto;
    max-height: 208px;

    &__options {
      max-height: 208px !important;
    }

    &__option {
      font-size: 16px;
      padding: 15px 25px;
      white-space: nowrap;
      color: rgba(#000, 0.5);

      &--highlighted {
        color: black !important;
        background-color: rgba(196, 196, 196, 0.2) !important;
      }
    }
  }

  .select2-selection--single .select2-selection__arrow {
    top: 20px;
    right: 12px;
    b {
      border-color: #000 transparent transparent transparent;
    }
  }

  &--default {
    &.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #000 transparent;
    }
  }

}

.select2-results {

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 0px solid rgba(255, 255, 255, 0.2); /* should match background, can't be transparent */
    background-color: grey;
  }
}
