.services {

    margin-bottom: 55px;

    .swiper-services-button-next {
      outline: none;
    }

    .swiper-services-button-prev {
      outline: none;
    }

    &__container {
      padding-left: 24px;
      padding-right: 24px;
      margin-left: -24px;
      width: calc(100% + 48px);

      @include phone {
        padding-left: 84px;
        padding-right: 84px;
      }

      &_small {
        @include tablets {
          padding-bottom: 44px;
        }

        .services {
          &__controls {
            z-index: 1;
            padding: 0;
            width: 97%;
            position: absolute;
            top: 45%;
            transform: translateY(-45%);
            margin-top: 0;

            @include tablets {
              position: static;
              display: flex;
              justify-content: center;
              margin-top: 30px;
            }
          }
        }
      }
    }

    .swiper-container {

    }

    &__list {
      display: flex;
      margin-bottom: 50px;

      @include tablets {
        margin-bottom: 0;
      }
    }

    &__item {
      width: 33.333%;
    }

    &__controls {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .swiper-button-disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: '';
    }

    .swiper-bot-button-next, .swiper-bot-button-prev {
      outline: none;
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      svg {
        width: 21px;
        height: 21px;
      }
    }

    .swiper-button__icon-left {
      transform: rotate(180deg);
      margin-right: 20px;
      cursor: pointer;

      position: absolute;
      left: -14px;


      @include tablets {
        position: static;
      }


      svg {
        path {
          transition: 0.4s;
        }
      }

      &:hover {
        svg {
          path {
            fill: #A1A1A1;

            @include phone {
              fill: black;
            }
          }}
      }
    }
    .swiper-button__icon-right {
      margin-left: 20px;
      cursor: pointer;


      position: absolute;
      right: -8px;

      @include tablets {
        position: static;
      }



      svg {
        path {
          transition: 0.4s;
        }
      }

      &:hover {
        svg {
          path {
            fill: #A1A1A1;

            @include phone {
              fill: black;
            }
          }}
      }
    }


    .swiper-button-next, .swiper-button-prev {
      background-color: transparent;
      margin-top: 0;
      height: 100%;
      width: 10%;
      max-width: 125px;
      top: 0;
      transition: 0.4s;
      outline: none;

      @include phone {
        top: -45px;
      }

      &:hover {
        background-color: rgba(0,0,0,0.05);

        @include phone {
          background-color: transparent;
        }
      }
    }

    .swiper-button-next {
      right: 0;
      outline: none;
    }

    .swiper-button-prev {
      left: 0;
      outline: none;

    }

}
