.slider-top {

  &_static {
    .slider-top {
      &__descr {
        max-width: 432px;
        padding-top: 128px;
        margin-top: 0;

        @include tablets {
          max-width: 295px;
        }
        @include phone {
          max-width: none;
          margin: 0;
          padding: 0;
          padding-top: 45px;
          padding-left: 18px;
          padding-right: 15px;
          padding-bottom: 70px;
        }
      }

      &__subtitle {
        color: #4F4F4F;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;

        @include phone {
          margin-bottom: 16px;
        }

        p {
          color: #4F4F4F;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.02em;
        }
      }

      &__item {
        @include phone {
          min-height: 309px;
        }
      }
    }
  }

  &__quote {
    margin-bottom: 36px;
    font-size: 20px;
    letter-spacing: -0.02em;

    color: #000000;
  }
  &__author {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  &__position {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
  }
  &__comment {
    position: absolute;
    top: 106%;
    text-align: center;
    width: 100%;
    padding: 0 30px;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    max-height: 49px;
    overflow: hidden;

    @include phone {
      font-size: 16px;
      position: relative;
      top: auto;
      padding: 0 10px;
      margin-top: 13px;
    }
  }

  &__play {
    position: absolute;
    @include centered();
    z-index: 1;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;

    @include phone {
      display: none;
    }

    &_mobile {
      display: none;
      @include phone {
        display: block;
      }
    }

    &_reviews {
      overflow: hidden;
      border-radius: 6px;
      @include phone {
        display: block;
        position: relative;
      }
    }

  }

  &__subtitle {
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-bottom: 35px;

    @include tablets {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      margin-bottom: 28px;
    }

    @include phone {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      margin-bottom: 0;
    }
  }

  &__text {
    p {
      margin: 0;
      @include phone {
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    padding: 0 29px;

    @include phone {
      flex-shrink: 0;
      display: flex;
      margin-top: auto;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    margin-bottom: 22px;

    &_career {
      font-size: 38px;
    }

    @include tablets {
      font-size: 38px;
      line-height: 44px;
      letter-spacing: -0.02em;
    }

    @include phone {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -0.02em;
    }
  }

  &__item {
    min-height: 496px;
    overflow: hidden;

    &_reviews {
      max-width: 880px;
      min-height: 368px;

      @include tablets {
        max-width: 631px;
        min-height: 361px;
      }

      @include phone {
        max-width: 100%;
        min-height: 181px !important;
        overflow: visible;
      }
    }

    &_large {
      @include phone {
        min-height: 600px;
      }
    }

    @include phone {
      min-height: 360px;
      height: auto;
      overflow: hidden;
    }

  }
  &__descr {
    position: relative;
    margin-top: 128px;
    margin-left: 149px;
    margin-bottom: 30px;
    max-width: 500px;

    &_career {
      margin-top: 142px;
      margin-left: 208px;
      margin-bottom: 30px;
    }

    //tablet
    @include tablets {
      max-width: 400px;
      margin-left: 70px;
      margin-bottom: 20px;
    }

    @include phone {
      margin-top: 45px;
      margin-left: 18px;
      margin-right: 15px;
      margin-bottom: 70px;
      max-width: none;
      height: 60%;
      display: flex;
      flex-direction: column;
    }
  }

  &__hero {
    position: absolute !important;
    max-width: 501px;
    bottom: 0 !important;
    right: 12% !important;
    left: auto !important;
    top: auto !important;
    pointer-events: none;
    img {
      transition: 0.4s ease-out;
    }

    @include tablets {
      right: -12% !important;
    }

    @include phone {
      display: none !important;
    }

    img {
      max-width: 100%;
    }
  }

  &__deco {
    position: absolute !important;
    max-width: 918px;
    left: 74% !important;
    top: -50% !important;
    right: auto !important;

    &_strawberry {
      div {
        svg {
          path {
            &:nth-child(2) {
              fill: $strawberry;
            }
            stroke: $strawberry;
          }
        }
      }
    }

    @include tablets {
      left: 72% !important;
    }

    @include phone {
      right: auto !important;
      left: 75% !important;
      top: -94% !important;
      display: none !important;
    }
  }

  &__value {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
  &__small-text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  &__row {
    margin-bottom: 24px;
    &_flex {
      display: flex;

      @include tablets {
        display: block;
      }

      .slider-top__prone {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__prone {
    @include tablets {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__overview {
    margin-top: 23px;
    margin-bottom: 48px;

    @include phone {
      margin-top: 32px;
      margin-bottom: 20px;
    }
  }

  &_more-text {
    .slider-top {
      &__descr {
        margin-top: 68px;
        margin-bottom: 61px;

        @include phone {
          margin-top: 40px;
          margin-bottom: 37px;
          height: auto;
        }
      }
    }
  }

}
