.static-banner {

  min-height: 496px;
  background-color: $slider-background;
  margin-bottom: 82px;

  &_decored {
    min-height: 501px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("../img/static-banner-decored.png");
    position: relative;
    overflow: hidden;

    @include tablets {
      background-image: none;
    }

    .static-banner {
      &__left {
        max-width: 574px;
        padding-top: 124px;

        @include phone {
          padding-top: 0;
        }

      }
      &__container {
        position: static;

        @include tablets {
          margin-left: 90px;
        }

        @include phone {
          margin-left:  auto;
          padding-top: 48px;
          padding-bottom: 66px;
        }
      }
      &__pic {
        position: absolute;
        right: 13%;
        bottom: 0;
        max-width: 30%;

        @include media(1118px) {
          bottom: -80px;
        }

        @include tablets {
          display: none;
        }

        img {
          max-width: 100%;
        }
      }

      &__h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.02em;
        color: #000000;
        margin-bottom: 16px;

        @include phone {
          font-size: 28px;
          line-height: 32px;
        }
      }

      &__text {
        font-size: 16px;
        color: #4F4F4F;
        margin-bottom: 36px;
        p {
          font-size: 16px;
          color: #4F4F4F;
         margin: 0;

        }

      }
    }
  }

  @include tablets {
    margin-bottom: 57px;
  }

  @include phone {
    min-height: 309px;
    margin-bottom: 43px;
  }

  &__container {
    position: relative;
    overflow: hidden;
  }
}
