.steps {
  display: flex;
  max-width: 1090px;
  margin: 0 auto;
  justify-content: center;

  @include phone {
    display: block;
  }

  svg {
    display: block;
  }

  &__item {
    position: relative;
    width: 33.333%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include phone {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      margin-bottom: 4px;
    }

    &_wider {
      padding-left: 20px;
      padding-right: 20px;

      @include phone {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--3 {
      .steps__pic {
        &:after {
          display: none;
        }
      }
    }

    &_samsung {

      @include phone {
        min-height: 130px;
      }
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;

    &_samsung {
      @include phone {
        margin-top: 0;
        max-width: 80%;
      }
    }

    @include phone {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.56);
  }

  &__pic {
    width: 100%;

    @include phone {
      width: auto;
    }
    svg {
      margin: 0 auto;
      display: block;

      //@include phone {
      //  width: 96px;
      //}
    }

    position: relative;

    &:after {
      content: url("../img/steps-line.svg");
      position: absolute;
      width: 80%;
      right: -47%;
      top: 44%;
      z-index: -1;

      @include tablets {
        width: 100%;
      }

      @include phone {
        content: url("../img/steps-arrow-small.svg");
        left: 36%;
        top: 74%;
      }
    }

    &_samsung {
      &:after {
        content: '';
        background-image: url(../img/steps-line.svg);
        position: absolute;
        width: 75%;
        right: -38%;
        top: 44%;
        z-index: -1;
        height: 16px;
        background-repeat: no-repeat;

        @include tablets {
          top: 37%;
        }

        @include phone {
          content: '';
          background-image: url("../img/steps-line-small.svg");
          left: 51%;
          height: 42%;
          right: auto;
          top: 54%;
        }

      }

      svg {
        circle {
          transition: 0.3s ease;
        }
        &:hover {
          circle {
            fill: $spindrift;
          }
        }
      }
    }

    &_desk {
      @include phone {
        display: none;
      }
    }

    &-small {
      display: none;

      @include phone {
        display: block;
      }
    }

  }
  &__content {
    text-align: center;

    @include phone {
      margin-left: 26px;
      text-align: left;

      width: 73%;
    }
  }
}
