.tab-info {

  &_single {
    margin-bottom: 71px;

    .tab-info__subtitle {

      @include phone {
        padding-right: 60px;
      }
    }
    @include tablets {
      margin-bottom: 59px;
    }
    @include phone {
      margin-bottom: 32px;
    }
  }

  hr {
    padding-bottom: 10px;
    padding-top: 18px;
    border: none;
    border-bottom: 1px solid #E6E6E6;
  }
  &__exchRate-subtitle {
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    max-width: 638px;
    margin-bottom: 15px;

    svg {
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  &__text {
    font-size: 20px;
    color: #000000;
    margin-bottom: 24px;
    &_b {
      font-weight: 600;
    }
  }

  &__section {
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;

    @include tablets {
      padding-bottom: 20px;
    }
  }

  &__sub-text {
    @include phone {
      font-size: 18px;
    }
  }
  &__content {
    margin-top: 40px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    @include phone {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__left-item {
    width: 40%;
    font-size: 17px;
    color: #808080;
    padding-right: 74px;

    @include tablets {
      font-size: 16px;
      padding-right: 44px;
    }

    @include phone {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__right-item {
    width: 60%;
    font-size: 17px;
    display: flex;

    @include tablets {
      font-size: 16px;
    }

    @include phone {
      width: 100%;
    }

    ul {
      li {
        margin-bottom: 25px;
      }
    }
  }

  &__col {
    width: 50%;
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    transition: 0.4s ease-out;

    &:hover {
      transition: 0.4s ease-out;
      text-decoration-color: transparent;
    }
  }

  &__title {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;

    &_wo-border {
      border: none;
      padding-bottom: 45px;
      margin-bottom: 0;
    }

    @include phone {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 22px;
    padding-top: 40px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @include tablets {
      padding-top: 20px;
    }

  }

  &__title-small {
    font-weight: 600;
    font-size: 17px;
    margin-top: 40px;
    padding-bottom: 30px;

    &_no-m {
      margin-top: 0;
    }
  }

  &__table {
    border: 1px solid #e6e6e6;
    border-radius: 6px;

    .tab-info {
      &__item {
        align-items: center;

        margin-bottom: 0;

        @include phone {
          display: flex;
        }

        &:nth-child(even) {
          background-color: #F5F7F7;
        }
      }

      &__left-item {
        padding-top: 12px;
        padding-bottom: 17px;
        min-height: 74px;
        padding-left: 22px;
        display: flex;
        align-items: center;
        border-right: 1px solid #e6e6e6;

        @include tablets {
          width: 70%;
        }

        @include phone {
          margin-bottom: 0;
          font-size: 12px;
          line-height: 22px;
          color: #5C5C5C;
          padding-left: 15px;
          border: none;
        }
      }

      &__right-item {
        display: flex;
        justify-content: center;

        @include tablets {
          width: 30%;
        }

        @include phone {
          justify-content: flex-end;
          font-size: 14px;
          text-align: right;
          color: #000000;
          padding-right: 15px;
        }
      }
    }

  }

}
