.tab-docs {
  max-width: 1193px;
  ol {
    padding-inline-start: 16px;
    margin-bottom: 35px;

  }
  ol li {
    list-style: decimal;
    margin-bottom: 28px;
    font-size: 16px;
    padding-left: 4px;

    @include tablets {
      font-size: 17px;
    }

    @include phone {
      margin-bottom: 12px;
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__heading {

    @include tablets {
      margin-bottom: 40px;
    }

  }

  &__heading-xs {
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__links {
    font-size: 17px;
  }

  &__link {
    display: block;
    font-size: 17px;
    text-decoration-line: underline;
    color: #000000;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}
