.table {
  margin-bottom: 57px;

  @include phone {
    overflow-y: scroll;
    margin-left: 16px;
    padding-right: 16px;
    scrollbar-color: $black #E6E6E6; /* thumb and track color */
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      margin-left: 16px;
      height: 3px;
      background-color: #E6E6E6;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 0 solid #E6E6E6; /* should match background, can't be transparent */
      background-color: $black;
      cursor: pointer;
    }
  }

  &__container {
    min-width: 768px;
    padding-top: 20px;
    position: relative;

    @include tablets {
      padding-top: 20px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 56px;
      top: 0;
      height: 1px;
      width: calc(100% - 118px);
      border-top: 1px solid #E6E6E6;

      @include tablets {
        left: 0px;
        width: 100%;
      }
    }

    @include phone {
      margin-bottom: 20px;
      padding: 0;
      padding-top: 20px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px;

    font-size: 15px;
    color: rgba(#000000, 0.5);

    &:nth-child(2n) {
      background-color: rgba(#F5F7F7, 0.8);
    }

    &_head {
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
    }

    a {
      font-size: 15px;
      color: #2E2E2E;
      transition: 0.4s;

      &:hover {
        color: #00A186;
      }
    }

    &.active {
      a {
        color: #00B395;
      }
    }
  }

  &__1col {
    width: 10%;
    padding-left: 29px;

    @include phone {
      padding-left: 20px;
    }
  }
  &__2col {
    width: 14%;
    padding-right: 20px;

    @include tablets {
      padding-right: 10px;
    }
  }
  &__3col {
    width: 26%;
    padding-right: 20px;

    @include tablets {
      width: 31%;
      padding-right: 10px;
    }
  }
  &__4col {
    width: 32%;
    overflow-wrap: break-word;
    padding-right: 10px;

    @include tablets {
      width: 16%;
    }
  }
  &__5col {
    width: 18%;
    padding-right: 43px;

    @include tablets {
      width: 29%;
      padding-right: 10px;
    }
  }
}
