.tablet-slider {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 39px;
  display: none;

  @include tablets {
    display: initial;
  }

  &__container {
    position: relative;
    padding: 0;

    @include tablets {
      padding: 0;
    }

    @include phone {
      padding: 0;
    }
  }

  &__photo-list {
  }
  &__photo-item {
    border-radius: 6px;
    overflow: hidden;
  }
  &__photo {
    min-height: 368px;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;

    @include tablets {
      min-height: 280px;
    }

    @include phone {
      min-height: 290px;
    }
  }

  &__controls {
    .swiper-button-tablet-next:after, .swiper-container-rtl .swiper-button-tablet-prev:after,
    .swiper-button-tablet-prev:after, .swiper-container-rtl .swiper-button-tablet-next:after {
      content: '';
    }

    .swiper-button-tablet-next, .swiper-button-tablet-prev {
      outline: none;
      &:hover {
        svg {
          cursor: pointer;
          path {
            fill: #b9b9b9;

            @include phone {
              fill: black;
            }
          }
        }
      }
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 21px;
      height: 21px;

      @include tablets {
        margin-left: 0;
      }

      svg {
        width: 21px;
        height: 21px;
        path {
          transition: 0.4s;
        }
      }

    }
    .swiper-button__icon-left {
      width: 21px;
      height: 21px;
      margin-left: 40px;
      transform: rotate(180deg);

      svg {
        width: 21px;
        height: 21px;
      }

      @include phone {
        margin-left: 0;
      }

    }
    .swiper-button__icon-right {
      margin-right: 40px;

      @include phone {
        margin-right: 0;
      }
    }

    .swiper-button-tablet-next, .swiper-button-tablet-prev {
      background-color: transparent;
      margin-top: 0;
      height: 100%;
      width: auto;
      max-width: 125px;
      top: 0;
      transition: 0.4s;

      @include phone {
        top: -45px;
      }

    }

    .swiper-button-tablet-next {
      right: 0;
    }

    .swiper-button-tablet-prev {
      left: 0;
      @include phone {
        margin-right: 52px;
      }

    }

    @include tablets {
      display: flex;
      justify-content: center;
      margin-top: 27px;
    }

    @include phone {
      position: relative;
      margin: 0 auto;
      margin-top: 21px;
    }
  }
}
