.tabs-main {

  border-bottom: 1px solid #E6E6E6;
  overflow-x: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablets {
    overflow-x: scroll;
  }

  &__list {
    white-space: nowrap;

    &_flex {
      display: flex;
      align-items: center;
    }
  }


  &__item {
    display: inline-block;
    white-space: nowrap;
    margin-right: 42px;
    padding-bottom: 13px;
    border-bottom: 2px solid transparent;

    &_last {
      margin-left: auto;
      margin-right: 0 !important;
      border-bottom: 2px solid transparent;


      &:hover {
        border-bottom: 2px solid transparent !important;
      }

      &.active {
        border-bottom: 2px solid transparent;
      }

      @include phone {
        margin-right: 100px !important;
      }
    }

    &:hover {
      border-bottom: 2px solid $black;
    }

    &.active {
      border-bottom: 2px solid $black;
    }

    &:last-child {
      margin-right: 100px;
      position: relative;

    }
  }

  &__link {
    font-size: 17px;
    color: $black;
    transition: 0.4s;
    white-space: nowrap;
  }

  &_feedback {
    margin-left: -55px;
    width: calc(100% + 110px);
    margin-top: 44px;

    @include phone {
      margin-left: 0;
      width: 100%;
      overflow-x: hidden;
    }

    .tabs-main {
      &__list {
        display: flex;
        justify-content: center;
      }

      &__item {
        @include phone {
          margin: 0;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &__link {
        @include phone {
          font-size: 15px;
        }
      }
    }
  }

}
