.tags {
  color: #808080;
  font-size: 16px;
  display: flex;

  &__item {
    color: #000;
    position: relative;
    margin-right: 8px;


    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:first-child {
      margin-left: 5px;
    }

    &:after {
      position: absolute;
      content: ',';
      right: -4px;
      color: #808080;
      top: 0;
    }

    &_pink {
      color: $strawberry;
    }
  }
}
