.thankyou-form {
  text-align: center;
  display: none;
  &__img {
    margin-bottom: 25px;
  }
  &__heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 7px;

    @include phone {
      font-size: 19px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: rgba(#000000, 0.5);
  }
}
