.tooltip {
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;

  &_grey {
    .tooltip_open {
      svg {
        circle {
          fill: #808080;
        }
      }
    }
  }


  &__content_ul {

    li {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
    }
  }
}

.tooltip_close {
  pointer-events: auto;
  position: absolute;
  right: 13px;
  top: 7px;
  cursor: pointer;
}

.tooltip_link {
  margin-left: 5px;
  color: #00B295;
  text-decoration: underline;
  text-decoration-color: #00B295;
  transition: 0.3s ease-out;

  &:hover {
    text-decoration-color: transparent;
    transition: 0.3s ease-out;
  }
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 10px 25px rgba(0, 47, 103, 0.23);
  max-width: 560px;

  @include phone {
    max-width: 260px;
  }
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
  color: #808080;
  font-size: 14px;
  font-family: 'Suisse Intl', 'Helvetica', sans-serif;
  font-display: swap;
  padding: 32px 37px 32px 27px;
}
