.transfer {
  margin-bottom: 88px;

  &__link {
    text-decoration: underline;
    color: $spindrift;
    text-decoration-color: $spindrift;

    &:hover {
      text-decoration-color: transparent;
    }
    &_strawberry {
      color: $strawberry;
      text-decoration-color: $strawberry;
    }
  }

  &__tab-scenes {
    padding-top: 34px;
  }

  &__links {
    display: flex;
    left: 0;
    top: 0;

    a {
      display: block;
    }
  }

  &__link-item {
    margin-right: 45px;
    font-size: 17px;
    color: #7E7E7E;
    transition: 0.4s;

    &:hover {
      color: $strawberry;
    }

    &:last-child {
      margin-right: 0;
      @include phone {
        margin-right: 100px;
      }

    }
  }

  &__heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 18px;
  }

  &__subheading {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-width: 540px;
    margin-bottom: 46px;
  }

  &__form {
    margin-bottom: 88px;
  }

  &__cards {
    display: flex;
    margin-bottom: 55px;

    @include tablets {
      display: block;
    }
  }

  &__support {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 14px;
    position: relative;

    @include phone {
      display: flex;
      align-items: center;
    }

    &:before {
      content: '';
      background-image: url("../img/support.svg");
      position: absolute;
      vertical-align: middle;
      right: 100%;
      @include centered('y');
      margin-right: 14px;
      width: 27px;
      height: 27px;

      @include phone {
        position: relative;
        top: auto;
        transform: none;
        right: auto;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    margin-bottom: 44px;

    @include tablets {
      margin-right: 35px;
    }

    @include phone {
      margin-right: 0;
    }
  }

  &__logos {
    display: flex;
  }

  &__logo {
    max-width: 89px;
    margin-right: 20px;
  }

  &__bottom {
    display: flex;

    @include tablets {
      display: block;
    }
  }

  &__bot-logo-text {
    @include tablets {
      display: flex;
    }

    @include phone {
      display: block;
    }
  }

  &__actions {
    width: 461px;
    margin-right: 99px;

    @include tablets {
      width: 100%;
      margin-bottom: 53px;
    }
  }

  &__info {
    max-width: 336px;

    @include tablets {
      max-width: 100%;
      padding-left: 40px;
    }

    @include phone {
      padding-left: 0;
    }
  }
}
