.vacancy {
  border: 1px solid #E1E2E4;
  border-radius: 6px;
  padding: 42px 97px 40px 42px;

  @include media(1314px) {
    padding-top: 31px;
    padding-right: 52px;
  }

  @include phone {
    padding: 17px 15px 33px 15px;
  }

  &__name {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 18px;

    @include phone {
      font-size: 18px;
      line-height: normal;
      margin-bottom: 9px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;

    @include media(1314px) {
      display: block;
    }
  }

  &__left {
    width: calc(53% - 26px);
    margin-right: 26px;

    @include media(1314px) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__right {
    width: 47%;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 47px;

    @include media(1314px) {
      width: 100%;
      margin-bottom: 39px;
    }

    @include phone {
      margin-bottom: 33px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 25px;

    @include phone {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 19px;
    }

    p {
      margin: 0;
      font-size: 16px;
      @include phone {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__requirments {
    width: 100%;

    @include media(1314px) {
      margin-bottom: 28px;
    }

    @include phone {
      margin-bottom: 11px;
    }
  }
  &__docs {
    width: 100%;
    margin-top: auto;
    display: block;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;

    @include phone {
      font-size: 14px;
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }

  &__actions {
    .vacancy__btn {
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

  }

  &__btn {
    min-width: 288px;
    margin-right: 19px;

    &.btn--grey {
      min-width: 116px;
    }

    @include phone {
      margin-bottom: 11px;
      margin-right: 0;
      width: 100%;
    }
  }

  &__prons {
    margin-bottom: 36px;

    @include media(1314px) {
      margin-bottom: 21px;
    }

    @include phone {
      margin-bottom: 13px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    color: #000000;
  }

  &__subheading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
  }

  ul {
    margin-bottom: 40px;
    li {
      margin-bottom: 12px;
      font-size: 17px;
      color: #000000;
      position: relative;
      padding-left: 15px;
    }
  }
  &__list {
    &_dots {
      li {
        &:before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          left: 0;
          top: 12px;
          background: #000000;
          border-radius: 50%;
        }
      }
    }

    &_check {
      li {
        &:before {
          position: absolute;
          content: url("../img/check-mark.svg");
          top: -1px;
          left: 0;
        }
      }
    }
  }

}
