.vacancies {
  &__item {
    margin-bottom: 33px;
  }

  &__list {
  }
}

.vacancies-text {
  text-align: center;
  max-width: 906px;
  font-size: 18px;
  color: #000000;
  margin-bottom: 87px;

  @include phone {
    font-size: 17px;
    text-align: left;
  }
   p {
     max-width: 906px;
     font-size: 18px;
     color: #000000;
     margin: 0;
     margin-bottom: 8px;

     @include phone {
       font-size: 17px;
     }
   }
}
