.ymap {

  position: relative;
  height: 552px;

  &_exchange {
    margin-bottom: 80px;
  }

  @include phone {
    height: 481px;
  }

  &__map {
    width: 100%;
    height: 100%;
    & > ymaps {
      & > ymaps {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
      }
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__menu {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 16px;
    box-shadow: 0px 10px 25px rgba(0, 47, 103, 0.23);
    border-radius: 50%;
    width: 49px;
    height: 49px;

    display: none;

    @include phone {
      display: block;
    }
  }

  &__menu-icon {
  }

}
