@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Regular.eot');
  src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Medium.eot');
  src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Black.eot');
  src: url('../fonts/SuisseIntl-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Black.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Thin.eot');
  src: url('../fonts/SuisseIntl-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Thin.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Bold.eot');
  src: url('../fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-SemiBold.eot');
  src: url('../fonts/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
  url('../fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Light.eot');
  src: url('../fonts/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Light.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-LightItalic.eot');
  src: url('../fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Merriweather-LightItalic.woff2') format('woff2'),
  url('../fonts/Merriweather-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;font-display: swap;
}

