@mixin retina {
	@media screen and (-webkit-mon-device-pixel-ratio:1.5), screen and (min-resolution: 144dpi){
		@content;
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}

@mixin centered($axis: 'both'){
	position: absolute;

	@if $axis == 'both'{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@if $axis == 'x'{
		left: 50%;
		transform:translateX(-50%);
	}

	@if $axis == 'y'{
		top: 50%;
		transform:translateY(-50%);
	}
}

@mixin media($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin media-min($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width:1024px){
		@content;
	}
}

@mixin phone {
	@media screen and (max-width:767px){
		@content;
	}
}

@mixin suisseFont {
	font-family: 'Suisse Intl', 'Helvetica', sans-serif;
	font-display: swap;
}

//colors
$strawberry: #D9007E;
$spindrift: #00B295;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$slider-background: #F7FAF9;


@mixin chunky-underline($color, $block: false, $size: 20%, $position: 0%) {
	background-image: linear-gradient(
									transparent 0%,
									transparent (100% - $size - $position),
									$color (100% - $size - $position),
									$color (100% - $position),
									transparent (100% - $position),
									transparent
	)
}

@mixin autofill {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		@content;
	}
}
