html, body {
  width: 100%;
  height: 100%;
  min-width: 355px;
}

html {
  &.fixed {
    overflow: hidden;
  }
}



body {
  @include suisseFont;
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 0px solid rgba(255, 255, 255, 0.2); /* should match background, can't be transparent */
    background-color: $black;
  }

  .rates__plus, .rates__minus {
    &:hover {
      transform: none;
    }
  }
}

* {
  box-sizing: border-box;
}

textarea,
input[type="text"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;

  @include tablets {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42;
}


.progress-bar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
}
