extends ../_template

block variables
    - var title = '404';

block content
    .wrapper
        include ../common/_header.pug

        .error
            .error__circles
                img(src='./assets/img/circles-black-404.svg')
            .error__container.container
                .error__pic
                    img(src='./assets/img/woman.png')
                .error__img
                .error__info
                    .error__h1 ой!
                    .error__text Какая-то ошибка. Сейчас все поправим.
                    .error__btn.btn.btn--spindrift вернуться назад


    include ../common/_footer.pug
