extends ../_template

block variables
    - var title = 'Все тарифы';

block content
    .wrapper
        include ../common/_header

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Платежи и переводы
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Продукты
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Перспектива плюс


        .tab-info.tab-info_single.accordion.container
                .tab-info__title.heading.heading_l Все тарифы

                .tab-info__section.accordion__block
                    .tab-info__subtitle.accordion__action
                        .tab-info__sub-text Клиентам, которые больше работают через интернет-банк и мобильное приложение
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .tab-info__content.accordion__sliding-part
                        .tab-info__title-small.tab-info__title-small_no-m Открытие расчетного счета
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Мин. сумма кредита
                                .tab-info__right-item 30 000 рублей
                            .tab-info__item
                                .tab-info__left-item Макс. сумма кредита
                                .tab-info__right-item 300 000 рублей
                            .tab-info__item
                                .tab-info__left-item Срок кредитования
                                .tab-info__right-item до 3 лет


                        .tab-info__title-small Базовые процентные ставки:
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                .tab-info__right-item 16% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                .tab-info__right-item 17% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                .tab-info__right-item 18% годовых


                        .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -0,5% годовых
                            .tab-info__item
                                .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -1% годовых

                .tab-info__section.accordion__block
                    .tab-info__subtitle.accordion__action
                        .tab-info__sub-text Клиентам, которые больше работают на бумаге
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .tab-info__content.accordion__sliding-part

                        .tab-info__title-small.tab-info__title-small_no-m Открытие расчетного счета
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Мин. сумма кредита
                                    span.tooltip
                                        span.tooltip_open
                                            include ../../images/info.svg

                                        span.tooltip_content

                                            | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                            a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru

                                .tab-info__right-item 30 000 рублей
                            .tab-info__item
                                .tab-info__left-item Макс. сумма кредита
                                .tab-info__right-item 300 000 рублей
                            .tab-info__item
                                .tab-info__left-item Срок кредитования
                                .tab-info__right-item Индивидуально


                        .tab-info__title-small Базовые процентные ставки:
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                .tab-info__right-item 16% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                .tab-info__right-item 17% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                .tab-info__right-item 18% годовых


                        .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -0,5% годовых
                            .tab-info__item
                                .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -1% годовых


                .tab-info__section.accordion__block
                    .tab-info__subtitle.accordion__action
                        .tab-info__sub-text Клиентам-банкротам
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .tab-info__content.accordion__sliding-part
                        .tab-info__title-small.tab-info__title-small_no-m Открытие расчетного счета
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Мин. сумма кредита
                                .tab-info__right-item 30 000 рублей
                            .tab-info__item
                                .tab-info__left-item Макс. сумма кредита
                                .tab-info__right-item 300 000 рублей
                            .tab-info__item
                                .tab-info__left-item Срок кредитования
                                .tab-info__right-item до 3 лет


                        .tab-info__title-small Базовые процентные ставки:
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                .tab-info__right-item 16% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                .tab-info__right-item 17% годовых
                            .tab-info__item
                                .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                .tab-info__right-item 18% годовых


                        .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                        .tab-info__table
                            .tab-info__item
                                .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -0,5% годовых
                            .tab-info__item
                                .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                .tab-info__right-item -1% годовых



        .tarifs
            .tarifs__container.container
                .tarifs__heading.heading.heading_l Все тарифы
                .tarifs__text Единственным акционером (100% уставного капитала Банка) является компания ТиСиЭс Груп Холдинг ПиЭлСи (TCS Group Holding PLC) (Кипр).
                .tarifs__doc.document-string
                    a(href="#").document-string__container
                        .document-string__pic
                            img(src="./assets/img/download-icon.svg")
                        .document-string__descr
                            .document-string__heading Информация о лицах, входящих в состав органов управления
                            .document-string__ext PDF, 753 KB
        .articles-static
            .container.articles-static__container
                ul.articles-static__list
                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-3.jpg')")
                                .article-card__top
                                    .article-card__title Ипотечная копилка или кредит наличными под 9,9%
                                    .article-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                a(href="#").btn.btn--white.article-card__btn подробнее

                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-4.jpg')")
                                .article-card__top
                                    .article-card__title Как получить налоговые вычеты
                                    .article-card__text Пошаговая инструкция
                                a(href="#").btn.btn--white.article-card__btn подробнее
        .pink-form
            .pink-form__container.container
                .pink-form__title Заявка на открытие расчетного счета
                .pink-form__content
                    form(id="open-deposit-request" autocomplete="off").pink-form__form
                        .pink-form__input-wrapper
                            input.pink-form__input.phone_number(type="text" name="numberInput" id='numberInput' placeholder='Телефон')
                        .pink-form__input-wrapper
                            input.pink-form__input(type="text" name="orgName" id='orgName' placeholder='Название организации')
                        .pink-form__input-wrapper
                            input.pink-form__input(type="text" name="inn" id='inn' placeholder='ИНН')
                        .pink-form__input-wrapper
                            input.pink-form__input(type="text" name="username" id='username' placeholder='ФИО')

                        .pink-form__flex-wrap.pink-form__flex-wrap_70-30
                            button(type='submit' id="submit-all").btn.btn--spindrift.request__btn отправить заявку
                            .pink-form__or или
                            button(type='button' id="reserve-bill").btn.btn--spindrift-bordered.request__btn зарезервировать счет
                    .pink-form__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!
    .overlay
        .products__popup.popup.popup_request
            .popup__container.popup__container_request
                form(id="reserve" autocomplete="off").request__form
                    .request__title.request__title_bot-m Резервирование счета
                    .popup__subheading Информация об организации
                    .request__input-container
                        .request__half-group
                            .request__input-name Название организации
                            .request__input-wrapper
                                input.request__input(type="text" name="orgNameIs" id='orgNameIs' )

                        .request__half-group
                            .request__input-name ИНН
                            .request__input-wrapper
                                input.request__input(type="text" name="innIs" id='innIs' )

                        .request__half-group
                            .request__input-name ФИО
                            .request__input-wrapper
                                input.request__input(type="text" name="fio" id='fio' )

                        .request__half-group.request__half-group_m-b
                            .request__input-name Мобильный телефон
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="phone_number").phone_number
                                .request__comment-input Для связи

                        .request__half-group.request__half-group_m-b
                            .request__input-name Электронная почта
                            .request__input-wrapper
                                input.request__input(type="text" name="emailInput" id="email")
                                .request__comment-input На нее вышлем реквизиты

                        .request__group.request__group_cheks
                            .request__input-name
                            .request__group.request__group_reserve
                                .check.check_rounded
                                    input.check__control(type="radio" value='5555' name="drone" id='515' checked)
                                    label.check__label(for="515") ИП
                                .check.check_rounded
                                    input.check__control(type="radio" value='5555' name="drone" id='526')
                                    label.check__label(for="526") ООО
                        .request__dropzone.request__dropzone_reserve.dropzone(id="reserveMyDropzone")
                            .dz-message(data-dz-message)
                                span Перетащите сюда (pdf, doc)
                                br
                                span.tooltip.radio-calc__label.request__tooltip Необходимые документы
                                    span.tooltip_content.tooltip__content_ul
                                        ul
                                            li 1. Документ
                                            li 2. Документ
                                            li 3. Документ
                                            li 4. Документ
                        .request__checkboxes
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked)
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации
                            .check
                                input.check__control(type="checkbox" value='5555' id='54' )
                                label.check__label(for="54") Подтверждаю&nbsp;
                                a(href='#').check__link согласие с условиями резервирования счета
                            button(type='submit').btn.btn--spindrift.request__btn резервировать
                .request__thankyou.thankyou-form
                    .thankyou-form__img
                        include ../../images/form-icon-tankyou.svg
                    .thankyou-form__heading Спасибо за оставленную заявку
                    .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!

            button(type="button").popup__close-btn
    include ../common/_footer
