extends ../_template

block variables
    - var title = 'Статья';

block content
    .wrapper
        include ../common/_header.pug

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Еще
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Новости
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Подруга дала в долг без договора, и не смогла вернуть деньги

        .article-photo.container
            .article-photo__pic(style="background-image: url('./assets/img/article-photo.jpg')")
                .article-photo__text
                    | Подруга дала в&nbsp;долг без договора, и&nbsp;не&nbsp;смогла вернуть деньги

        .article-under-pic.container
            .article-under-pic__user.user
                .user__pic
                a(href='#').user__name Кристина Шевчук
            .article-under-pic__tags.tags Тэги:
                a(href='#').tags__item.tags__item_pink #суд
                a(href='#').tags__item #долги

        .article.container
            .article__date 22 ноября 2019
            .article__heading.heading_l Как избежать обмана?
            .article__content
                .article__text
                    p Две приятельницы договорились о&nbsp;займе. Одна женщина дала другой в&nbsp;долг 189 тысяч рублей на&nbsp;покупку посуды для перепродажи. Этот товар должница должна была продать с&nbsp;наценкой&nbsp;30% и&nbsp;в&nbsp;течение пяти лет вернуть всю сумму долга с&nbsp;надбавкой 10%.
                    p Договор займа они не&nbsp;заключили&nbsp;&mdash; сделали расписку, где в&nbsp;произвольной форме отмечали передачу денег в&nbsp;счет долга. Должница отдала 86&nbsp;тысяч рублей за&nbsp;два года и&nbsp;перестала платить. Женщине, которая выручила ее&nbsp;деньгами, пришлось забирать свое через суд. Ситуация осложнялась тем, что договора не&nbsp;было, а&nbsp;в&nbsp;расписке не&nbsp;было указано, что это долг.
                    p Эта история&nbsp;&mdash; урок для тех, кто не&nbsp;платит. И&nbsp;помощь тем, кто дает в&nbsp;долг без оформления.
                .article__ref Источник:
                    a(href='#').article__link.article__ref-name Определение ВС № 49-КГ19-36
            .article__subheading.heading_m Почему должница отказалась платить?
            .article__content
                .article__text
                    p Она заявила, что в&nbsp;долг не&nbsp;брала. Они с&nbsp;приятельницей просто работали, продавали посуду. Расписка и&nbsp;не&nbsp;расписка вовсе, а&nbsp;просто рабочие заметки. И&nbsp;подруге она этот документ не&nbsp;передавала, хранила у&nbsp;себя в&nbsp;папке. Как он&nbsp;попал к&nbsp;истице, женщина не&nbsp;знает. Возвращать деньги она не&nbsp;собирается. Была договоренность о&nbsp;выплате&nbsp;30% с&nbsp;продаж, их&nbsp;она и&nbsp;отдала. А&nbsp;больше ничего не&nbsp;должна.
            .article__subheading.heading_s Итак, вот что вам надо сделать:
            .article__content
                .article__text
                    ol
                        li Обратитесь в&nbsp;налоговую инспекцию с&nbsp;заявлением через&ensp;
                            a(href='#').article__link.article__link_bold специальную форму
                            | &ensp;на&nbsp;сайте.
                        li В&nbsp;заявлении напишите, что никакого юрлица в&nbsp;квартире нет и&nbsp;собственник помещения не&nbsp;хочет, чтобы у&nbsp;него дома было зарегистрировано неизвестное ему предприятие.
                .article__ref Источник:
                    a(href='#').article__link.article__ref-name Определение ВС № 49-КГ19-36
            .article_quote.quote
                .quote__container
                    .quote__text Трудолюбие&nbsp;&mdash; душа бизнеса и&nbsp;краеугольный камень процветания
                    .quote__author Чарльз Диккенс


        .request
            .request__container.container(style="background-image: url('./assets/img/request-banner.jpg')")
                .request__card
                    form(id="request1" method="get" autocomplete="off").request__form
                        .request__title Оставьте заявку
                        .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="username" placeholder='Ваше имя')
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" placeholder='Ваш номер телефона').phone_number
                            .check
                                input.check__control(type="checkbox" value='4444' id='4' checked='true')
                                label.check__label(for="4") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации.
                        button(type='submit').btn.btn--spindrift.request__btn подать заявку

                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!


        .large-slider
            .large-slider__container.container.swiper-container
                ul.large-slider__photo-list.swiper-wrapper
                    li.large-slider__photo-item.swiper-slide
                        .large-slider__photo(style="background-image: url('./assets/img/large-pic.jpg')")
                    li.large-slider__photo-item.swiper-slide
                        .large-slider__photo(style="background-image: url('./assets/img/request-banner.jpg')")
                    li.large-slider__photo-item.swiper-slide
                        .large-slider__photo(style="background-image: url('./assets/img/request-banner-2.jpg')")
                    li.large-slider__photo-item.swiper-slide
                        .large-slider__photo(style="background-image: url('./assets/img/large-banner.jpg')")
                    li.large-slider__photo-item.swiper-slide
                        .large-slider__photo(style="background-image: url('./assets/img/request-banner.jpg')")

            .container.large-slider__controls
                .swiper-button-large-prev
                    .swiper-button__icon-left
                        include ../../images/right-arrow-slider.svg
                .swiper-button-large-next
                    .swiper-button__icon-right
                        include ../../images/right-arrow-slider.svg


        .services.container
            .services__container.services__container_small.swiper-container
                ul.services__list.swiper-wrapper
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic-2.jpg")
                            .prod-card__heading Автоплатеж налога заголо f f f f f ff sd fs df f f s fsd вок
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic.jpg")
                            .prod-card__heading Ипотека 2
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/little-pic-2.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 3
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/little-pic.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 4
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic-2.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 3
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 4
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic-2.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 3
                            .prod-card__field Бизнес
                    li.services__item.swiper-slide.prod-card.prod-card_small
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/slider-7-pic-2.jpg")
                            //.prod-card__descr
                            .prod-card__heading Ипотека 4
                            .prod-card__field Бизнес
                .container.services__controls
                    .swiper-services-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-services-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg










        .table
            .table__container.container
                .table__row.table__row_head
                    .table__1col
                    .table__2col ID
                    .table__3col Компания
                    .table__4col Цена
                    .table__5col Ссылка
                .table__row.ar-t-row.active
                    .table__1col
                        .radio
                            input(type='radio' id='1' name='radioButtons' value='1' checked)
                            label(for='1')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='2' name='radioButtons' value='2')
                            label(for='2')

                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='3' name='radioButtons' value='3')
                            label(for='3')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='10' name='radioButtons' value='4')
                            label(for='10')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='11' name='radioButtons' value='5')
                            label(for='11')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='6' name='radioButtons' value='6')
                            label(for='6')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес
                .table__row.ar-t-row
                    .table__1col
                        .radio
                            input(type='radio' id='7' name='radioButtons' value='7')
                            label(for='7')
                    .table__2col 2334689
                    .table__3col Компания компания
                    .table__4col 400$
                    .table__5col
                        a(href='#') Отправить на этот адрес




    include ../common/_footer.pug


