extends ../_template

block variables
    - var title = 'Отделения и банкоматы';

block content
    .wrapper
        include ../common/_header.pug
        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Отделения и банкоматы
        .container
            .heading.heading_l Отделения и банкоматы

        .search-news.search-news_search-page.search-news_atm.container
            .search-news__container
                a(href="#").search-news__back
                    include ../../images/right-arrow-black.svg
                    | НАЗАД
                .search-news__wrapper.search-news__wrapper_bot-m
                    form.search-news__form(action="" method="get" autocomplete="off")
                        input.search-news__input(type="text" name="search" placeholder='Поиск')
                        button(type='submit').search-news__button
                            include ../../images/search.svg
                .search-news__checkboxes
                    .search-news__left
                        .search-news__checkbox
                            .check.check_large
                                input.check__control(type="checkbox" value='4444' id='98791' checked='true')
                                label.check__label(for="98791") Отделения
                        .search-news__checkbox
                            .check.check_large
                                input.check__control(type="checkbox" value='4444' id='98792' checked='true')
                                label.check__label(for="98792") Банкоматы
                        .search-news__checkbox
                            .check.check_large
                                input.check__control(type="checkbox" value='4444' id='98793' checked='true')
                                label.check__label(for="98793") Терминалы
                    .search-news__right.search-news__right_desk
                        .search-news__two-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98794' )
                                    label.check__label(for="98794") Снять
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98795' checked='true')
                                    label.check__label(for="98795") Пополнить
                        .search-news__two-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98796' checked='true')
                                    label.check__label(for="98796") Работает в выходные
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98797' )
                                    label.check__label(for="98797") Круглосуточно
                        .search-news__two-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98798' )
                                    label.check__label(for="98798") Обслуживание частных лиц
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98799' )
                                    label.check__label(for="98799") Обслуживание бизнеса
                        .search-news__two-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987982' )
                                    label.check__label(for="987982") Купить доллары
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987992' )
                                    label.check__label(for="987992") Купить евро

                    .search-news__right.search-news__right_mob
                        .search-news__three-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987941' )
                                    label.check__label(for="987941") Снять
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987951' checked='true')
                                    label.check__label(for="987951") Пополнить
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987961' checked='true')
                                    label.check__label(for="987961") Работает в выходные
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='9879611' checked='true')
                                    label.check__label(for="9879611") Купить доллары
                        .search-news__three-check
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='98796111' checked='true')
                                    label.check__label(for="98796111") Купить евро
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987971' )
                                    label.check__label(for="987971") Круглосуточно
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987981' )
                                    label.check__label(for="987981") Обслуживание частных лиц
                            .search-news__checkbox
                                .check.check_large
                                    input.check__control(type="checkbox" value='4444' id='987991' )
                                    label.check__label(for="987991") Обслуживание бизнеса



                a(href="#").search-news__btn.btn.btn--spindrift применить
        .map-popups__popups-wrapper.map-popups__popups-wrapper_atm
            .map-popups__popup.map-popup.map-popup--contact.map-popup_atm
                .map-popup__name#officeName Доп. офис &laquo;Операционная касса &#8470;&nbsp;1&raquo;
                .map-popup__address.address г. Рязань, ул. Краснорядская, д. 13 тел: +7 (4912) 25 35 18
                .map-popup__description
                    .map-popup__title Обслуживание физических лиц:
                    .map-popup__content
                        p.map-popup__info ПН-ПТ с 9:15 до 19:00, перерыв с 14:00 до 15:00
                        p.map-popup__info.tel СБ с 9:15 до 15:00 без перерыва
                    .map-popup__title Обслуживание физических лиц 2:
                    .map-popup__content
                        p.map-popup__info ПН-ПТ с 9:15 до 19:00, перерыв с 14:00 до 15:00
                        p.map-popup__info СБ с 9:15 до 15:00 без перерыва
                button(type="button").map-popups__close-btn.map-popups__close-btn--white-left
                    include ../../images/popup-close.svg
                .map-popups__drag-down

        .ymap
            #YMapsID(class="ymap__map")

            .ymap__menu
                .ymap__menu-icon
                    include ../../images/mob-map-filter-icon.svg

        .overlay.overlay_atm




    include ../common/_footer.pug

    script(src='https://api-maps.yandex.ru/2.1/?apikey=0ca1104f-7293-4f9c-84e6-7ae602db62f6&lang=ru_RU' type='text/javascript')




