extends ../_template

block variables
    - var title = 'Вклад Перспектива Плюс';

block content
    .wrapper
        include ../common/_header

        .main-hero
            .main-hero__container.swiper-container
                ul.main-hero__list.slider-top.slider-top_more-text.swiper-wrapper
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/bg-business.jpg')")
                        .slider-top__descr
                            .slider-top__name Вклад
                                br
                                | перспектива плюс
                            .slider-top__overview
                                .slider-top__row.slider-top__row_flex
                                    .slider-top__prone
                                        .slider-top__small-text Процентная ставка
                                        .slider-top__value от 5,52% до 4,5%

                                    .slider-top__prone
                                        .slider-top__small-text Срок
                                        .slider-top__value от 1 до 5 лет

                                .slider-top__row
                                    .slider-top__prone
                                        .slider-top__small-text Пополняемый
                                        .slider-top__value Досрочное снятие процентов
                            a(href="#").slider-top__btn.btn.btn--spindrift подать заявку
                    //li.slider-top__item.swiper-slide
                    //
                    //    .slider-top__background(style="background-image: url('./assets/img/slider-2.jpg')")
                    //    .slider-top__descr
                    //        .slider-top__name Кредит наличными на любые цели 2
                    //        .slider-top__subtitle
                    //            .slider-top__text
                    //                p Кредит без страхования и комиссий
                    //                p Досрочное погашение кредита без штрафов и санкций
                    //        a(href="#").slider-top__btn.btn.btn--spindrift узнать больше
                    //li.slider-top__item.swiper-slide
                    //
                    //    .slider-top__background(style="background-image: url('./assets/img/slider.jpg')")
                    //    .slider-top__descr
                    //        .slider-top__name Кредит 3
                    //        .slider-top__subtitle
                    //            .slider-top__text
                    //                p Кредит без страхования и комиссий
                    //                p Досрочное погашение кредита без штрафов и санкций
                    //        a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                .main-hero__dots.swiper-pagination
                .container.main-hero__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg
        .container.breadcrumbs
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Вклады
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Перспектива плюс

        .info
            .info__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Условия
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Необходимые документы
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="3")
                        a.tabs-main__link(href="#") Вопросы и ответы

            .info__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    .tab-scenes__item(data-section-tab-scene="1")
                        .tab-info
                            .tab-info__title.heading.heading_l Условия
                            .tab-info__section
                                .tab-info__content
                                    .tab-info__item
                                        .tab-info__left-item Целевое назначение
                                        .tab-info__right-item Кредит предоставляется на&nbsp;любые потребительские цели.
                                    .tab-info__item
                                        .tab-info__left-item Требования к&nbsp;заемщику и&nbsp;поручителю
                                        .tab-info__right-item
                                            ul
                                                li &mdash;&nbsp;Гражданство РФ
                                                li &mdash;&nbsp;Возраст от&nbsp;21&nbsp;года, на&nbsp;дату возврата кредита возраст не&nbsp;должен превышать 65&nbsp;лет
                                                li &mdash;&nbsp;Стаж работы на&nbsp;текущем месте работы не&nbsp;менее 6&nbsp;месяцев
                                                    span.tooltip
                                                        span.tooltip_open
                                                            include ../../images/info.svg
                                                        span.tooltip_content
                                                            | Не&nbsp;распространяется на&nbsp;клиентов, получающих пенсию на&nbsp;счет в&nbsp;Прио-Внешторгбанке.
                                                li &mdash;&nbsp;Наличие постоянной регистрации в&nbsp;регионе присутствия Банка
                                    .tab-info__item
                                        .tab-info__left-item Информация об&nbsp;условиях
                                        .tab-info__right-item
                                            a(href='#').tab-info__link Информация об&nbsp;условиях предоставления, использования и&nbsp;возврата потребительских кредитов
                                    .tab-info__item
                                        .tab-info__left-item Типовой договор
                                        .tab-info__right-item
                                            a(href='#').tab-info__link Типовая форма Кредитного договора

                                    .tab-info__title-small Базовые процентные ставки:

                                    .tab-info__item
                                        .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content
                                                    | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                                    a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
                                        .tab-info__right-item 16% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                        .tab-info__right-item 17% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                        .tab-info__right-item 18% годовых


                                    .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                                    .tab-info__item
                                        .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -0,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -1% годовых

                    li.tab-scenes__item(data-section-tab-scene="2")
                        .tab-docs
                            .tab-docs__heading.heading.heading_l.heading_bordered Необходимая документация
                            ol
                                li Заявление-Анкета на&nbsp;получение кредита (по&nbsp;форме Банка)
                                li Паспорт (оригинал и&nbsp;копия всех страниц, в&nbsp;т.ч.&nbsp;и&nbsp;пустых);
                                li Страховое свидетельство обязательного пенсионного страхования (СНИЛС)
                                li Документы, подтверждающие финансовое состояние и&nbsp;трудовую занятость Заемщика/Поручителя
                                    span.tooltip
                                        span.tooltip_open
                                            include ../../images/info.svg
                                        span.tooltip_content
                                            span.tooltip_close
                                                include ../../images/cross_close.svg
                                            | Для клиентов, получающих заработную плату/пенсию на счет Прио-Внешторгбанка, указанные документы не является обязательным к предоставлению
                                li Документы на&nbsp;имущество, предоставляемое в&nbsp;залог (оригинал и&nbsp;копия)
                                li Копия кредитного договора либо аналогичный договор с&nbsp;иным названием, содержащий условия предоставления/обслуживания, порядок возврата (для кредитных/дебетовых карт с&nbsp;разрешенным овердрафтом)
                            .tab-docs__links
                                .tab-docs__heading-xs Нормативные документы:

                                a(href='#').tab-docs__link Положение о вкладах Прио-Внешторгбанка


                    li.tab-scenes__item.active(data-section-tab-scene="3")
                        .card
                            .card__left
                                .card__heading.heading.heading_l  Вопросы
                                ul.card__questions
                                    li.card__question
                                        a(href="#" data-scroll-link="1").card__link 1 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="2").card__link 2 Как оплатить кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="3").card__link 3 Как погасить кредит досрочно?
                                    li.card__question
                                        a(href="#" data-scroll-link="4").card__link 4 УМВД России по&nbsp;Рязанской области дает рекомендации: как не&nbsp;стать жертвой мошенников?
                                    li.card__question
                                        a(href="#" data-scroll-link="5").card__link 5 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="6").card__link 6 Как оплатить кредит?

                            .card__right
                                .card__heading.heading.heading_l  Ответы
                                .card__answers
                                    .card__subheading(data-scroll-to-element="1") 1 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="2") 2 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="3") 3 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.

                                    .card__subheading(data-scroll-to-element="4") 4 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="5") 5 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="6") 6 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.
                        .card-xs
                            .card-xs__h1.heading.heading_l.heading_bordered Вопросы
                            ul.accordion
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по кредиту и рассчитайте на калькуляторе примерный график Подберите подходящий кредит на нужные вам цели в Сбербанк Онлайн в разделе «Кредиты». Если у вас уже есть другие кредиты и вы хотите снизить платежи по ним, оформите рефинансирование. Если вам нужен кредит на жильё, смотрите раздел «Ипотечные кредиты».
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.


        .card-profits
            .card-profits__container.container
                .card-profits__list
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-free.svg')
                        .card-profits__descr
                            .card-profits__heading Бесплатно
                            .card-profits__text Если пластиковая карта потеряется, ее можно моментально заблокировать и заказать выпуск новой.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-mobile.svg')
                        .card-profits__descr
                            .card-profits__heading Разумно
                            .card-profits__text Банковская карта помогает контролировать бюджет: в приложении можно отслеживать все покупки и прогнозировать траты.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-profit.svg')
                        .card-profits__descr
                            .card-profits__heading Выгодно
                            .card-profits__text Двойной доход: кэшбэк или мили за покупки и до 7% на остаток.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-plane.svg')
                        .card-profits__descr
                            .card-profits__heading Удобно
                            .card-profits__text Дебетовая карта&nbsp;&mdash; практичное и&nbsp;надежное платежное средство для расчетов за&nbsp;рубежом.
        .request.request_right
            .request__container.container(style="background-image: url('./assets/img/request-banner-2.jpg')")
                .request__card
                    form(id="request" autocomplete="off").request__form
                        .request__title Оставьте заявку
                        .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="username" id='username' placeholder='Ваше имя')
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="phone_number" placeholder='Ваш номер телефона').phone_number
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked='true')
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации.
                        button(type='submit').btn.btn--spindrift.request__btn подать заявку
                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!
        .documents
            .documents__container.container
                ul.documents__list
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                .documents__open-other
                    hr
                    .documents__text Все документы

    include ../common/_footer
