extends ../_template

block variables
    - var title = 'Бизнесу и ИП';

block content
    .wrapper
        include ../common/_header.pug
        .main-hero
            .main-hero__container.swiper-container
                ul.main-hero__list.slider-top.swiper-wrapper
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/bg-business.jpg')")
                        .slider-top__descr
                            .slider-top__name Банк, который всегда с тобой!
                            .slider-top__subtitle
                                .slider-top__text
                                    p Управляй счетами и кредитами Дистанционно. Совершай платежи и переводы в мобильном банке.
                            a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                    //li.slider-top__item.swiper-slide
                    //
                    //    .slider-top__background(style="background-image: url('./assets/img/slider-2.jpg')")
                    //    .slider-top__descr
                    //        .slider-top__name Кредит наличными на любые цели 2
                    //        .slider-top__subtitle
                    //            .slider-top__text
                    //                p Кредит без страхования и комиссий
                    //                p Досрочное погашение кредита без штрафов и санкций
                    //        a(href="#").slider-top__btn.btn.btn--spindrift узнать больше
                    //li.slider-top__item.swiper-slide
                    //
                    //    .slider-top__background(style="background-image: url('./assets/img/slider.jpg')")
                    //    .slider-top__descr
                    //        .slider-top__name Кредит 3
                    //        .slider-top__subtitle
                    //            .slider-top__text
                    //                p Кредит без страхования и комиссий
                    //                p Досрочное погашение кредита без штрафов и санкций
                    //        a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                .main-hero__dots.swiper-pagination
                .container.main-hero__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg


        //.static-banner
        //    .static-banner__container
        //        ul.static-banner__list.slider-top.slider-top_static
        //            li.slider-top__item
        //                .slider-top__background(style="background-image: url('./assets/img/bg-business.jpg')")
        //                .slider-top__descr
        //                    .slider-top__name Банк, который всегда с тобой!
        //                    .slider-top__subtitle
        //                        .slider-top__text
        //                            p Управляй счетами и кредитами Дистанционно. Совершай платежи и переводы в мобильном банке.
        //                    a(href="#").slider-top__btn.btn.btn--spindrift подробнее о кредите

        .calc-rko
            .calc-rko__container.container
                .calc-rko__h1 Рассчитайте стоимость
                    br
                    | расчетно-кассового обслуживания
                div(id='calc-rko')
        .products.container.products_swiper
            .products__container.swiper-container
                ul.products__list.swiper-wrapper
                    li.products__item.swiper-slide.prod-card
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/index-pic-2.png")
                            .prod-card__descr
                                .prod-card__heading Ипотека 1
                                .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                .prod-card__info Решение по кредиту
                                    .prod-card__number за 15 минут
                                .prod-card__info Срок кредитования
                                    .prod-card__number от 1 до 5 лет
                                .prod-card__btn.btn.btn--black подробнее о вкладах
                    li.products__item.swiper-slide.prod-card
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/index-pic-1.png")
                            .prod-card__descr
                                .prod-card__heading Ипотека 2
                                .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                .prod-card__info Решение по кредиту
                                    .prod-card__number за 15 минут
                                .prod-card__info Срок кредитования
                                    .prod-card__number от 1 до 5 лет
                                .prod-card__btn.btn.btn--black подробнее о вкладах
                    li.products__item.swiper-slide.prod-card
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/index-pic-2.png")
                            .prod-card__descr
                                .prod-card__heading Ипотека 3
                                .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                .prod-card__info Решение по кредиту
                                    .prod-card__number за 15 минут
                                .prod-card__info Срок кредитования
                                    .prod-card__number от 1 до 5 лет
                                .prod-card__btn.btn.btn--black подробнее о вкладах
                    li.products__item.swiper-slide.prod-card
                        a(href='#').prod-card__link
                            .prod-card__img
                                img(src="./assets/img/index-pic-2.png")
                            .prod-card__descr
                                .prod-card__heading Ипотека 4
                                .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                .prod-card__info Решение по кредиту
                                    .prod-card__number за 15 минут
                                .prod-card__info Срок кредитования
                                    .prod-card__number от 1 до 5 лет
                                .prod-card__btn.btn.btn--black подробнее о вкладах
            .container.products__controls
                .swiper-products-button-prev
                    .swiper-button__icon-left
                        include ../../images/right-arrow-slider.svg
                .swiper-products-button-next
                    .swiper-button__icon-right
                        include ../../images/right-arrow-slider.svg

        .articles-static
            .container.articles-static__container
                ul.articles-static__list
                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-3.jpg')")
                                .article-card__top
                                    .article-card__title Ипотечная копилка или кредит наличными под 9,9%
                                    .article-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                a(href="#").btn.btn--white.article-card__btn подробнее

                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-4.jpg')")
                                .article-card__top
                                    .article-card__title Как получить налоговые вычеты
                                    .article-card__text Пошаговая инструкция
                                a(href="#").btn.btn--white.article-card__btn подробнее
        .request.request_right.request_incassacia
            .request__container.container(style="background-image: url('./assets/img/incassacia.jpg')")
                .request__card
                    .request__h1 Быстрая и удобная инкассация для бизнеса
                    .request__text Заберем наличные из магазина, офиса или сети торговых точек в удобное время. Гибкие тарифы без скрытых комиссий
                    button(type='button').btn.btn--spindrift.request__btn подключить услугу
        .documents
            .documents__container.container
                ul.documents__list
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                .documents__open-other
                    hr
                    .documents__text Все документы
    .overlay
        .products__popup.popup.popup_request
            .popup__container.popup__container_request
                form(id="reserve" autocomplete="off").request__form
                    .request__title.request__title_bot-m Резервирование счета
                    .popup__subheading Информация об организации
                    .request__input-container
                        .request__half-group
                            .request__input-name Название организации
                            .request__input-wrapper
                                input.request__input(type="text" name="orgNameIs" id='orgNameIs' )

                        .request__half-group
                            .request__input-name ИНН
                            .request__input-wrapper
                                input.request__input(type="text" name="innIs" id='innIs' )

                        .request__half-group
                            .request__input-name ФИО
                            .request__input-wrapper
                                input.request__input(type="text" name="fio" id='fio' )

                        .request__half-group.request__half-group_m-b
                            .request__input-name Мобильный телефон
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="phone_number").phone_number
                                .request__comment-input Для связи

                        .request__half-group.request__half-group_m-b
                            .request__input-name Электронная почта
                            .request__input-wrapper
                                input.request__input(type="text" name="emailInput" id="email")
                                .request__comment-input На нее вышлем реквизиты

                        .request__group.request__group_cheks
                            .request__input-name
                            .request__group.request__group_reserve
                                .check.check_rounded
                                    input.check__control(type="radio" value='5555' name="drone" id='515' checked)
                                    label.check__label(for="515") ИП
                                .check.check_rounded
                                    input.check__control(type="radio" value='5555' name="drone" id='526')
                                    label.check__label(for="526") ООО
                        .request__dropzone.request__dropzone_reserve.dropzone(id="reserveMyDropzone")
                            .dz-message(data-dz-message)
                                span Перетащите сюда (pdf, doc)
                                br
                                span.tooltip.radio-calc__label.request__tooltip Необходимые документы
                                    span.tooltip_content.tooltip__content_ul
                                        ul
                                            li 1. Документ
                                            li 2. Документ
                                            li 3. Документ
                                            li 4. Документ
                        .request__checkboxes
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked)
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации
                            .check
                                input.check__control(type="checkbox" value='5555' id='54' )
                                label.check__label(for="54") Подтверждаю&nbsp;
                                a(href='#').check__link согласие с условиями резервирования счета
                            button(type='submit').btn.btn--spindrift.request__btn резервировать
                .request__thankyou.thankyou-form
                    .thankyou-form__img
                        include ../../images/form-icon-tankyou.svg
                    .thankyou-form__heading Спасибо за оставленную заявку
                    .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!

            button(type="button").popup__close-btn
    include ../common/_footer.pug
    script(src='vue-rko/chunk-vendors.js' defer)
    script(src='vue-rko/app.js' defer)


