extends ../_template

block variables
    - var title = 'Карьера в банке';

block content
    .wrapper
        include ../common/_header

        .career-banner(style="background-image: url('./assets/img/career_hero.jpg')")
            .career-banner__container.container
                .career-banner__descr
                    .career-banner__heading Карьера будущего уже здесь
                    .career-banner__text Для нас твои идеи&nbsp;&mdash; вклад в&nbsp;прогресс
                    .career-banner__btn.btn.btn_large.btn--spindrift стань частью команды

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Еще
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Работа в банке
        .career-blocks
            .career-blocks__container.container
                .career-blocks__h1 Работа в Прио
                .career-blocks__left.career-blocks__highlight Прио-Внешторгбанк&nbsp;&mdash; это банк-партнёр, который ежедневно готов помогать каждому
                .career-blocks__right.career-blocks__text Прио-Внешторгбанк&nbsp;&mdash; это банк-партнёр, который ежедневно готов помогать каждому своему клиенту во&nbsp;всём, что связано с&nbsp;финансами, прилагать усилия к&nbsp;тому, чтобы всем вместе делать окружающий мир удобнее, современнее и&nbsp;добрее. Многие годы в&nbsp;своей работе и&nbsp;повседневной жизни мы&nbsp;руководствуемся принципом&nbsp;&mdash; мир денег для мира людей!

        .reviews
            .reviews__heading.container О работе в&nbsp;Прио-Внешторгбанке
            .reviews__container.swiper-container
                ul.reviews__list.slider-top.swiper-wrapper
                    li.slider-top__item.slider-top__item_reviews.swiper-slide
                        .slider-top__background.slider-top__background_reviews(style="background-image: url('./assets/img/slider-review-cover.jpg')")
                        a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__play
                            include ../../images/play-icon.svg
                        //max symbols 100 with backspace. fix height with overflow because of mobile arrows
                        .slider-top__comment Елена Соколова. Руководитель направления (финансы)
                    li.slider-top__item.slider-top__item_reviews.swiper-slide
                        .slider-top__background.slider-top__background_reviews(style="background-image: url('./assets/img/slider-review-2.jpg')")
                        a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__play
                            include ../../images/play-icon.svg
                        .slider-top__comment  Елена Соколова. Руководитель направления (финансы) Елена Соколова. Руководитель направления (финансы)
                    li.slider-top__item.slider-top__item_reviews.swiper-slide
                        .slider-top__background.slider-top__background_reviews(style="background-image: url('./assets/img/management-woman.jpg')")
                        a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__play
                            include ../../images/play-icon.svg
                        .slider-top__comment Елена Соколова. Руководитель направления (финансы)
                .container.reviews__controls
                    .swiper-button-career-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-career-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg



        .palette-slider
            .palette-slider__container.container
                .palette-slider__text.career-blocks.career-blocks_small-m
                    .career-blocks__container
                        .career-blocks__h1 Условия работы в Прио-Внешторгбанке
                        .career-blocks__left.career-blocks__text Две приятельницы договорились о займе. Одна женщина дала другой в долг 189 тысяч рублей на покупку посуды для перепродажи. Этот товар должница должна была продать Наценкой 30% и в течение пяти лет вернуть всю сумму долга
                        .career-blocks__right
                            .career-blocks__number 3500
                            .career-blocks__text.career-blocks__text_small Сотрудников успешно прошли обучение

                .palette-slider__slider
                    .palette-slider__slider-desktop.desktop-slider
                        .desktop-slider__container.swiper-container
                            ul.desktop-slider__photo-list.swiper-wrapper
                                li.desktop-slider__item.swiper-slide
                                    .desktop-slider__left
                                        .desktop-slider__photo(style="background-image: url('./assets/img/big-career-slider.jpg')" data-swiper-parallax="-23%")
                                    .desktop-slider__right
                                        .desktop-slider__top
                                            .desktop-slider__photo(style="background-image: url('./assets/img/small-career-slider.jpg')")
                                        .desktop-slider__bot
                                            .desktop-slider__photo(style="background-image: url('./assets/img/small-career-slider-2.jpg')")

                                li.desktop-slider__item.swiper-slide
                                    .desktop-slider__left
                                        .desktop-slider__photo(style="background-image: url('./assets/img/big-career-slider.jpg')")
                                    .desktop-slider__right
                                        .desktop-slider__top
                                            .desktop-slider__photo(style="background-image: url('./assets/img/small-career-slider-2.jpg')")
                                        .desktop-slider__bot
                                            .desktop-slider__photo(style="background-image: url('./assets/img/small-career-slider.jpg')")
                            .desktop-slider__controls
                                .swiper-button-desk-prev
                                    .swiper-button__icon-left
                                        include ../../images/right-arrow-slider.svg
                                .swiper-button-desk-next
                                    .swiper-button__icon-right
                                        include ../../images/right-arrow-slider.svg

                    .palette-slider__slider-tablet.tablet-slider
                        .tablet-slider__container.swiper-container
                            ul.tablet-slider__photo-list.swiper-wrapper
                                li.tablet-slider__photo-item.swiper-slide
                                    .tablet-slider__photo(style="background-image: url('./assets/img/small-career-slider.jpg')")
                                li.tablet-slider__photo-item.swiper-slide
                                    .tablet-slider__photo(style="background-image: url('./assets/img/small-career-slider-2.jpg')")
                                li.tablet-slider__photo-item.swiper-slide
                                    .tablet-slider__photo(style="background-image: url('./assets/img/small-career-slider.jpg')")
                                li.tablet-slider__photo-item.swiper-slide
                                    .tablet-slider__photo(style="background-image: url('./assets/img/small-career-slider-2.jpg')")
                                li.tablet-slider__photo-item.swiper-slide
                                    .tablet-slider__photo(style="background-image: url('./assets/img/small-career-slider.jpg')")
                            .tablet-slider__controls
                                .swiper-button-tablet-prev
                                    .swiper-button__icon-left
                                        include ../../images/right-arrow-slider.svg
                                .swiper-button-tablet-next
                                    .swiper-button__icon-right
                                        include ../../images/right-arrow-slider.svg


        .faded(style="background-image: url('./assets/img/career-numbers.jpg')")
            .faded__container.container
                .faded__text.career-blocks
                    .career-blocks__container
                        .career-blocks__h1 Условия работы в Прио-Внешторгбанке
                        .career-blocks__left.career-blocks__text Две приятельницы договорились о займе. Одна женщина дала другой в долг 189 тысяч рублей на покупку посуды для перепродажи. Этот товар должница должна была продать Наценкой 30% и в течение пяти лет вернуть всю сумму долга
                        .career-blocks__right.career-blocks__text с надбавкой 10%. Две приятельницы договорились о займе. Две приятельницы договорились о займе. Одна женщина дала другой в долг 189 тысяч рублей на покупку посуды для перепродажи.
                .faded__numbers.numbers
                    .numbers__container
                        .numbers__list
                            .numbers__item
                                .numbers__value 100
                                .numbers__h1 Оставьте заявку
                                .numbers__text На сайте онлайн или в офисе банка
                            .numbers__item
                                .numbers__value 20 000
                                .numbers__h1 Оставьте заявку
                                .numbers__text На сайте онлайн или в офисе банка
                            .numbers__item
                                .numbers__value 790
                                .numbers__h1 Оставьте заявку
                                .numbers__text На сайте онлайн или в офисе банка
        .career-heroes
            .career-heroes__container.swiper-container
                ul.career-heroes__list.slider-top.swiper-wrapper
                    li.slider-top__item.slider-top__item_large.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/career-slider-work.jpg')")
                        .slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/mobile-slider-prio.jpg')")

                        .slider-top__descr.slider-top__descr_career
                            .slider-top__name.slider-top__name_career Наши сотрудники
                            .slider-top__subtitle
                                .slider-top__quote &laquo;Мне за&nbsp;эти 20&nbsp;лет ни&nbsp;разу не&nbsp;было скучно&raquo;
                                .slider-top__author Сергей Володин
                                .slider-top__position Начальник отдела бренда Прио-Внешторгбанк
                    li.slider-top__item.slider-top__item_large.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/career-slider-work.jpg')")
                        .slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/mobile-slider-prio.jpg')")

                        .slider-top__descr.slider-top__descr_career
                            .slider-top__name.slider-top__name_career Наши сотрудники
                            .slider-top__subtitle
                                .slider-top__quote &laquo;Мне за&nbsp;эти 20&nbsp;лет ни&nbsp;разу не&nbsp;было скучно&raquo;
                                .slider-top__author Сергей Володин
                                .slider-top__position Начальник отдела бренда Прио-Внешторгбанк

                    li.slider-top__item.slider-top__item_large.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/career-slider-work.jpg')")
                        .slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/mobile-slider-prio.jpg')")

                        .slider-top__descr.slider-top__descr_career
                            .slider-top__name.slider-top__name_career Наши сотрудники
                            .slider-top__subtitle
                                .slider-top__quote &laquo;Мне за&nbsp;эти 20&nbsp;лет ни&nbsp;разу не&nbsp;было скучно&raquo;
                                .slider-top__author Сергей Володин
                                .slider-top__position Начальник отдела бренда Прио-Внешторгбанк
                .career-heroes__dots.swiper-pagination
                .container.career-heroes__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg

        .join
            .join__container.container
                .join__card
                    .join__h1 Хочешь присоединится к нашей команде?
                    .join__text На сайте онлайн или в офисе банка На сайте онлайн или в офисе банка
                    a(href='#').join__link Вакансии
    include ../common/_footer
