extends ../_template

block variables
    - var title = 'Home page';

block content
    .wrapper
        include ../common/_header.pug

        .main-hero
            .main-hero__container.swiper-container
                ul.main-hero__list.slider-top.swiper-wrapper
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/slider.jpg')")
                        .slider-top__descr
                            .slider-top__name Кредит наличными на любые цели
                            .slider-top__subtitle
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#").slider-top__btn.btn.btn--spindrift подробнее о кредите
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/slider-2.jpg')")
                        .slider-top__descr
                            .slider-top__name Кредит наличными на любые цели 2
                            .slider-top__subtitle
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#").slider-top__btn.btn.btn--spindrift узнать больше
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/slider.jpg')")
                        .slider-top__descr
                            .slider-top__name Кредит 3
                            .slider-top__subtitle
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                .main-hero__dots.swiper-pagination
                .container.main-hero__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg

        .container.breadcrumbs.breadcrumbs_main
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Кредиты
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Продукты
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Потребительский кредит

        .customer-calc.container
            .customer-calc__heading.heading.heading_l Рассчитайте кредит
            #app

        .info
            .info__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Условия
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Процентные ставки
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="3")
                        a.tabs-main__link(href="#") Необходимые документы
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="4")
                        a.tabs-main__link(href="#") Вопросы и ответы

            .info__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    .tab-scenes__item(data-section-tab-scene="1")
                        .tab-info
                            .tab-info__title.heading.heading_l Условия
                            .tab-info__section
                                .tab-info__content
                                    .tab-info__item
                                        .tab-info__left-item Целевое назначение
                                        .tab-info__right-item Кредит предоставляется на&nbsp;любые потребительские цели.
                                    .tab-info__item
                                        .tab-info__left-item Требования к&nbsp;заемщику и&nbsp;поручителю
                                        .tab-info__right-item
                                            ul
                                                li &mdash;&nbsp;Гражданство РФ
                                                li &mdash;&nbsp;Возраст от&nbsp;21&nbsp;года, на&nbsp;дату возврата кредита возраст не&nbsp;должен превышать 65&nbsp;лет
                                                li &mdash;&nbsp;Стаж работы на&nbsp;текущем месте работы не&nbsp;менее 6&nbsp;месяцев
                                                    span.tooltip
                                                        span.tooltip_open
                                                            include ../../images/info.svg
                                                        span.tooltip_content
                                                            | Не&nbsp;распространяется на&nbsp;клиентов, получающих пенсию на&nbsp;счет в&nbsp;Прио-Внешторгбанке.
                                                li &mdash;&nbsp;Наличие постоянной регистрации в&nbsp;регионе присутствия Банка
                                    .tab-info__item
                                        .tab-info__left-item Информация об&nbsp;условиях
                                        .tab-info__right-item
                                            a(href='#').tab-info__link Информация об&nbsp;условиях предоставления, использования и&nbsp;возврата потребительских кредитов
                                    .tab-info__item
                                        .tab-info__left-item Типовой договор
                                        .tab-info__right-item
                                            a(href='#').tab-info__link Типовая форма Кредитного договора

                                    .tab-info__title-small Базовые процентные ставки:

                                    .tab-info__item
                                        .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content
                                                    | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                                    a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
                                        .tab-info__right-item 16% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                        .tab-info__right-item 17% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                        .tab-info__right-item 18% годовых


                                    .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                                    .tab-info__item
                                        .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -0,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -1% годовых

                    li.tab-scenes__item(data-section-tab-scene="2")
                        .tab-info.accordion
                            .tab-info__title.heading.heading_l Процентные ставки

                            .tab-info__section.accordion__block
                                .tab-info__subtitle.accordion__action
                                    .tab-info__sub-text Без обеспечения
                                    .accordion__icon-trigger
                                        include ../../images/down-arrow.svg
                                .tab-info__content.accordion__sliding-part
                                    .tab-info__item
                                        .tab-info__left-item Мин. сумма кредита
                                        .tab-info__right-item 30 000 рублей
                                    .tab-info__item
                                        .tab-info__left-item Макс. сумма кредита
                                        .tab-info__right-item 300 000 рублей
                                    .tab-info__item
                                        .tab-info__left-item Срок кредитования
                                        .tab-info__right-item до 3 лет
                                    .tab-info__title-small Базовые процентные ставки:

                                    .tab-info__item
                                        .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content

                                                    | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                                    a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
                                        .tab-info__right-item 16% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ.
                                        .tab-info__right-item 17% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                        .tab-info__right-item 18% годовых


                                    .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                                    .tab-info__item
                                        .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -0,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item -1% годовых

                            .tab-info__section.accordion__block
                                .tab-info__subtitle.accordion__action
                                    .tab-info__sub-text Под поручительство или залог&nbsp;ТС
                                    .accordion__icon-trigger
                                        include ../../images/down-arrow.svg
                                .tab-info__content.accordion__sliding-part
                                    .tab-info__item
                                        .tab-info__left-item Мин. сумма кредита
                                        .tab-info__right-item 30 000 рублей
                                    .tab-info__item
                                        .tab-info__left-item Макс. сумма кредита
                                        .tab-info__right-item 800 000 рублей
                                    .tab-info__item
                                        .tab-info__left-item Срок кредитования
                                        .tab-info__right-item до 5 лет
                                    .tab-info__title-small.info-small-title
                                        .info-small-title__left Базовые процентные ставки:
                                        .info-small-title__right
                                            .info-small-title__col От 400 тыс. руб
                                            .info-small-title__col До 400 тыс. руб
                                    .tab-info__item
                                        .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content

                                                    | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                                    a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
                                        .tab-info__right-item
                                            .tab-info__col 14% годовых
                                            .tab-info__col 14,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ
                                        .tab-info__right-item
                                            .tab-info__col 15% годовых
                                            .tab-info__col 15,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content

                                                    | Для работников бюджетной сферы, органов государственного управления и&nbsp;контроля, армии, судов, учреждений культуры, образования, медицины и&nbsp;науки, правоохранительных структур и&nbsp;иных организаций, деятельность которых финансируется из&nbsp;федерального, регионального или местного бюджетов; сотрудников государственных (муниципальных) унитарных предприятий, государственных корпораций, государственных (муниципальных) учреджений (автономных, бюджетных, казенных).
                                        .tab-info__right-item
                                            .tab-info__col 16% годовых
                                            .tab-info__col 16,5% годовых

                                    .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                                    .tab-info__item
                                        .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item
                                            .tab-info__col -0,5% годовых
                                            .tab-info__col -0,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item
                                            .tab-info__col -1% годовых
                                            .tab-info__col -1% годовых

                            .tab-info__section.accordion__block
                                .tab-info__subtitle.accordion__action
                                    .tab-info__sub-text Под залог недвиживости
                                    .accordion__icon-trigger
                                        include ../../images/down-arrow.svg
                                .tab-info__content.accordion__sliding-part
                                    .tab-info__item
                                        .tab-info__left-item Мин. сумма кредита
                                        .tab-info__right-item 100 000 рублей
                                    .tab-info__item
                                        .tab-info__left-item Макс. сумма кредита
                                        .tab-info__right-item не&nbsp;более&nbsp;90% от&nbsp;оценочной стоимости залога
                                    .tab-info__item
                                        .tab-info__left-item Срок кредитования
                                        .tab-info__right-item до 10 лет
                                    .tab-info__item
                                        .tab-info__left-item Требования к недвижимости
                                        .tab-info__right-item
                                            ul
                                                li &mdash;&nbsp;предметом залога может выступать жилое помещение, нежилое помещение и/или земельный участок (за&nbsp;исключением комнат,долей в&nbsp;квартирах);
                                                li &mdash;&nbsp;предметом залога не&nbsp;может выступать недвижимость, находящаяся под обременением со&nbsp;стороны третьих лиц;
                                                li &mdash;&nbsp;собственниками недвижимости не&nbsp;должны быть несовершеннолетние дети;
                                                li &mdash;&nbsp;для недвижимости, передаваемой в&nbsp;залог, недопустимо наличие незарегистрированных перепланировок;


                                    .tab-info__title-small.info-small-title
                                        .info-small-title__left Базовые процентные ставки:
                                        .info-small-title__right
                                            .info-small-title__col От 400 тыс. руб
                                            .info-small-title__col До 400 тыс. руб
                                    .tab-info__item
                                        .tab-info__left-item Получателям зарплаты, пенсии в&nbsp;Прио-Внешторгбанке. Работникам бюджетной сферы, или при подтверждении дохода через госуслуги
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content
                                                    | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                                                    a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
                                        .tab-info__right-item
                                            .tab-info__col 12,5% годовых
                                            .tab-info__col 13% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода 2-НДФЛ, 3-НДФЛ или справкой из&nbsp;ПФ
                                        .tab-info__right-item
                                            .tab-info__col 13,5% годовых
                                            .tab-info__col 14% годовых
                                    .tab-info__item
                                        .tab-info__left-item При подтверждении дохода иными документами (ИП&nbsp;с&nbsp;ЕНВД, патент и&nbsp;прочее)
                                            span.tooltip
                                                span.tooltip_open
                                                    include ../../images/info.svg

                                                span.tooltip_content
                                                    | Для работников бюджетной сферы, органов государственного управления и&nbsp;контроля, армии, судов, учреждений культуры, образования, медицины и&nbsp;науки, правоохранительных структур и&nbsp;иных организаций, деятельность которых финансируется из&nbsp;федерального, регионального или местного бюджетов; сотрудников государственных (муниципальных) унитарных предприятий, государственных корпораций, государственных (муниципальных) учреджений (автономных, бюджетных, казенных).
                                        .tab-info__right-item
                                            .tab-info__col 14,5% годовых
                                            .tab-info__col 15% годовых

                                    .tab-info__title-small Что уменьшает ставку (предложения не&nbsp;суммируются)
                                    .tab-info__item
                                        .tab-info__left-item Наличие положительной кредитной истории в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item
                                            .tab-info__col -0,5% годовых
                                            .tab-info__col -0,5% годовых
                                    .tab-info__item
                                        .tab-info__left-item Наличие ипотеки в&nbsp;Прио-Внешторгбанке
                                        .tab-info__right-item
                                            .tab-info__col -1% годовых
                                            .tab-info__col -1% годовых





                    li.tab-scenes__item(data-section-tab-scene="3")
                        .tab-docs
                            .tab-docs__heading.heading.heading_l.heading_bordered Необходимая документация
                            ol
                                li Заявление-Анкета на&nbsp;получение кредита (по&nbsp;форме Банка)
                                li Паспорт (оригинал и&nbsp;копия всех страниц, в&nbsp;т.ч.&nbsp;и&nbsp;пустых);
                                li Страховое свидетельство обязательного пенсионного страхования (СНИЛС)
                                li Документы, подтверждающие финансовое состояние и&nbsp;трудовую занятость Заемщика/Поручителя
                                    span.tooltip
                                        span.tooltip_open
                                            include ../../images/info.svg
                                        span.tooltip_content
                                            span.tooltip_close
                                                include ../../images/cross_close.svg
                                            | Для клиентов, получающих заработную плату/пенсию на счет Прио-Внешторгбанка, указанные документы не является обязательным к предоставлению
                                li Документы на&nbsp;имущество, предоставляемое в&nbsp;залог (оригинал и&nbsp;копия)
                                li Копия кредитного договора либо аналогичный договор с&nbsp;иным названием, содержащий условия предоставления/обслуживания, порядок возврата (для кредитных/дебетовых карт с&nbsp;разрешенным овердрафтом)


                    li.tab-scenes__item.active(data-section-tab-scene="4")
                        .card
                            .card__left
                                .card__heading.heading.heading_l  Вопросы
                                ul.card__questions
                                    li.card__question
                                        a(href="#" data-scroll-link="1").card__link 1 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="2").card__link 2 Как оплатить кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="3").card__link 3 Как погасить кредит досрочно?
                                    li.card__question
                                        a(href="#" data-scroll-link="4").card__link 4 УМВД России по&nbsp;Рязанской области дает рекомендации: как не&nbsp;стать жертвой мошенников?
                                    li.card__question
                                        a(href="#" data-scroll-link="5").card__link 5 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="6").card__link 6 Как оплатить кредит?

                            .card__right
                                .card__heading.heading.heading_l  Ответы
                                .card__answers
                                    .card__subheading(data-scroll-to-element="1") 1 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="2") 2 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="3") 3 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.

                                    .card__subheading(data-scroll-to-element="4") 4 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="5") 5 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="6") 6 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.
                        .card-xs
                            .card-xs__h1.heading.heading_l.heading_bordered Вопросы
                            ul.accordion
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по кредиту и рассчитайте на калькуляторе примерный график Подберите подходящий кредит на нужные вам цели в Сбербанк Онлайн в разделе «Кредиты». Если у вас уже есть другие кредиты и вы хотите снизить платежи по ним, оформите рефинансирование. Если вам нужен кредит на жильё, смотрите раздел «Ипотечные кредиты».
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.

        .how-to
            .container
                .how-to__heading.heading.heading_l Как получить кредит
                .how-to__graphics.steps
                    .steps__item.steps__item--1
                        .steps__pic.steps__pic_desk
                            include ../../images/step-1.svg
                        .steps__pic-small
                            include ../../images/step-1-small.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text На сайте онлайн или в офисе банка​​​​​
                    //.steps__arrow
                    //    include ../../images/steps-line.svg
                    .steps__item.steps__item--2
                        .steps__pic.steps__pic_desk
                            include ../../images/step-2.svg
                        .steps__pic-small
                            include ../../images/step-2-small.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text за 1 рабочий день
                    .steps__item.steps__item--3
                        .steps__pic.steps__pic_desk
                            include ../../images/step-3.svg
                        .steps__pic-small
                            include ../../images/step-3-small.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text Наличными в день одобрения кредита
        .container
            #bottom

        .articles
            .articles__container.container
                .articles__slides.swiper-container
                    ul.articles__list.article-slider.swiper-wrapper
                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-1.png')")
                                    .article-card__top
                                        .article-card__title 1 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее

                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-2.png')")
                                    .article-card__top
                                        .article-card__title 2 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее
                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-1.png')")
                                    .article-card__top
                                        .article-card__title 3 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее

                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-2.png')")
                                    .article-card__top
                                        .article-card__title 4 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее
                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-1.png')")
                                    .article-card__top
                                        .article-card__title 5 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее

                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-2.png')")
                                    .article-card__top
                                        .article-card__title 6 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее

                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-1.png')")
                                    .article-card__top
                                        .article-card__title 5 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее

                        li.article-slider__item.swiper-slide
                            .article-card
                                .article-card__container(style="background-image: url('./assets/img/article-2.png')")
                                    .article-card__top
                                        .article-card__title 6 Как получить налоговые вычеты
                                        .article-card__text Пошаговая инструкция
                                    a(href="#").btn.btn--white.article-card__btn подробнее


                    .container.articles__controls
                        .swiper-bot-button-prev
                            .swiper-button__icon-left
                                include ../../images/right-arrow-light.svg
                        .articles__dots.swiper-bot-pagination
                        .swiper-bot-button-next
                            .swiper-button__icon-right
                                include ../../images/right-arrow-light.svg


        .refuse.container Банк вправе отказать в&nbsp;выдаче кредита. Предложение не&nbsp;является публичной офертой.
    include ../common/_footer.pug
    script(src='dist-bot/chunk-vendors.js' defer)
    script(src='dist-bot/app.js' defer)



