extends ../_template

block variables
    - var title = 'Дебетовые карты';

block content
    .wrapper
        include ../common/_header.pug

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Карты
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Дебетовые карты

        .container
            .debit-heading.heading.heading_l Дебетовые карты

        .info
            .info__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Classic
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Premium

            .info__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    .tab-scenes__item.active(data-section-tab-scene="1")
                        .tab-info
                            .products.products_swiper
                                .products__container.swiper-container
                                    ul.products__list.swiper-wrapper.products__list_overflowed
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Международные карты MasterCard
                                                    .prod-card__text Карта начального уровня, обеспечивающая упрощенный набор услуг и имеющая минимальную стоимость. Принимается в банкоматах и торговых точках, где имеется соответствующий логотип.
                                                    .prod-card__bottom
                                                        .prod-card__info Обслуживание
                                                            .prod-card__number от 200 ₽/месяц
                                                        .prod-card__info Выпуск
                                                            .prod-card__number до 10 рабочих дней
                                                        .prod-card__info Конвертация в валюту
                                                            .prod-card__number + 0,1%
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 2
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-2.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 3
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 4
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                .container.products__controls
                                    .swiper-products-button-prev
                                        .swiper-button__icon-left
                                            include ../../images/right-arrow-slider.svg
                                    .swiper-products-button-next
                                        .swiper-button__icon-right
                                            include ../../images/right-arrow-slider.svg

                    li.tab-scenes__item(data-section-tab-scene="2")
                        .tab-info
                            .products.products_swiper
                                .products__container.swiper-container
                                    ul.products__list.swiper-wrapper.products__list_overflowed
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Международные карты MasterCard
                                                    .prod-card__text Карта начального уровня, обеспечивающая упрощенный набор услуг и имеющая минимальную стоимость. Принимается в банкоматах и торговых точках, где имеется соответствующий логотип.
                                                    .prod-card__bottom
                                                        .prod-card__info Обслуживание
                                                            .prod-card__number от 200 ₽/месяц
                                                        .prod-card__info Выпуск
                                                            .prod-card__number до 10 рабочих дней
                                                        .prod-card__info Конвертация в валюту
                                                            .prod-card__number + 0,1%
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 2
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-2.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 3
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                        li.products__item.swiper-slide.prod-card.prod-card_overflowed
                                            a(href='#').prod-card__link
                                                .prod-card__img.prod-card__img_large
                                                    img(src="./assets/img/deb-card-1.png")
                                                .prod-card__descr
                                                    .prod-card__heading Ипотека 4
                                                    .prod-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                                    .prod-card__bottom
                                                        .prod-card__info Решение по кредиту
                                                            .prod-card__number за 15 минут
                                                        .prod-card__info Срок кредитования
                                                            .prod-card__number от 1 до 5 лет
                                                        .prod-card__btn.btn.btn--black подробнее о вкладах
                                .container.products__controls
                                    .swiper-products-button-prev
                                        .swiper-button__icon-left
                                            include ../../images/right-arrow-slider.svg
                                    .swiper-products-button-next
                                        .swiper-button__icon-right
                                            include ../../images/right-arrow-slider.svg
        .card-profits
            .card-profits__container.container
                .card-profits__list
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-free.svg')
                        .card-profits__descr
                            .card-profits__heading Бесплатно
                            .card-profits__text Если пластиковая карта потеряется, ее можно моментально заблокировать и заказать выпуск новой.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-mobile.svg')
                        .card-profits__descr
                            .card-profits__heading Разумно
                            .card-profits__text Банковская карта помогает контролировать бюджет: в приложении можно отслеживать все покупки и прогнозировать траты.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-profit.svg')
                        .card-profits__descr
                            .card-profits__heading Выгодно
                            .card-profits__text Двойной доход: кэшбэк или мили за покупки и до 7% на остаток.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-plane.svg')
                        .card-profits__descr
                            .card-profits__heading Удобно
                            .card-profits__text Дебетовая карта&nbsp;&mdash; практичное и&nbsp;надежное платежное средство для расчетов за&nbsp;рубежом.
        .how-to
            .container
                .how-to__heading.heading.heading_l Как получить кредит
                .how-to__graphics.steps
                    .steps__item.steps__item--1
                        .steps__pic.steps__pic_desk
                            include ../../images/step-1.svg
                        .steps__pic-small
                            include ../../images/step-1-small.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text На сайте онлайн или в офисе банка​​​​​
                    //.steps__arrow
                    //    include ../../images/steps-line.svg
                    .steps__item.steps__item--2
                        .steps__pic.steps__pic_desk
                            include ../../images/step-2.svg
                        .steps__pic-small
                            include ../../images/step-2-small.svg
                        .steps__content
                            .steps__heading Получите решение
                            .steps__text за 1 рабочий день
                    .steps__item.steps__item--3
                        .steps__pic.steps__pic_desk
                            include ../../images/step-3.svg
                        .steps__pic-small
                            include ../../images/step-3-small.svg
                        .steps__content
                            .steps__heading Получите деньги
                            .steps__text Наличными в день одобрения кредита

        .request.request_right.request_no-b-m
            .request__container.container(style="background-image: url('./assets/img/request-banner-2.jpg')")
                .request__card
                    form(id="request" autocomplete="off").request__form
                        .request__title Оставьте заявку
                        .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="username" id='username' placeholder='Ваше имя')
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="phone_number" placeholder='Ваш номер телефона').phone_number
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked='true')
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации.
                        button(type='submit').btn.btn--spindrift.request__btn подать заявку
                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!

    include ../common/_footer.pug



