extends ../_template

block variables
    - var title = 'Курс валют';

block content
    .wrapper
        include ../common/_header.pug

        .main-static(style="background-image: url('./assets/img/exch-banner.jpg')")
            .main-static__container.container
                .main-static__heading.heading_l Курс валют
                .main-static__rates#exchangeCalc

        .container.breadcrumbs
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Обмен валют
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Курс валют
        .container
            .heading.heading_l Отделения банка
        .info
            .info__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Специальный курс
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Необходимые документы

            .info__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    .tab-scenes__item(data-section-tab-scene="1")
                        .tab-info
                            .tab-info__title.tab-info__title_wo-border.heading.heading_l Специальный курс
                            .tab-info__exchRate-subtitle Уважаемые дамы и господа!
                            .tab-info__exchRate-subtitle Проводя гибкую курсовую политику, банк предлагает Вам выбрать свой курс при проведении операций с иностранной валютой.
                            hr
                            .tab-info__section
                                .tab-info__content
                                    .tab-info__text.tab-info__text_b Специальный курс для операций с&nbsp;наличной валютой (для физических лиц) на 19.12.2019 17:05:01
                                    .tab-info__item.exch-rates
                                        .exch-rates__left
                                            .exch-rates__currency Доллары США
                                            .exch-rates__cur-table
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .rate__text Индивидуальные условия

                                        .exch-rates__right
                                            .exch-rates__currency Евро
                                            .exch-rates__cur-table
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .exch-rates__value.rate
                                                        .rate__text Покупка
                                                        .rate__value.rate__value_up 62,02
                                                    .exch-rates__value
                                                        .rate__text Продажа
                                                        .rate__value.rate__value_down 65,02
                                                .exch-rates__row
                                                    .exch-rates__name До 1000	61.80
                                                    .rate__text Индивидуальные условия




                                    .tab-info__exchRate-subtitle
                                        include ../../images/autootet.svg
                                        | Автоответчик по курсам валют: (4912) 27-17-77
                                    .tab-info__exchRate-subtitle Обменять валюту по специальному курсу Вы можете:
                                    .tab-info__exchRate-subtitle - ул. Есенина, д. 82/26 (Центральный офис). Телефон 24-49-07.
                                    .tab-info__exchRate-subtitle - Проезд Завражнова, д. 5а. Телефон 96-13-05.
                                    .tab-info__exchRate-subtitle - Только по рабочим дням (кроме выходных и праздничных) до 17:30, в пятницу до 16:15
                                    .tab-info__exchRate-subtitle (после указанного времени и в выходные и праздничные дни действует только базовый курс (как для сумм до 1000 единиц)
                    li.tab-scenes__item.active(data-section-tab-scene="2")
                        .tab-docs
                            .tab-docs__heading.heading.heading_l.heading_bordered Необходимая документация
                            ol
                                li Заявление-Анкета на&nbsp;получение кредита (по&nbsp;форме Банка)
                                li Паспорт (оригинал и&nbsp;копия всех страниц, в&nbsp;т.ч.&nbsp;и&nbsp;пустых);
                                li Страховое свидетельство обязательного пенсионного страхования (СНИЛС)
                                li Документы, подтверждающие финансовое состояние и&nbsp;трудовую занятость Заемщика/Поручителя
                                    span.tooltip
                                        span.tooltip_open
                                            include ../../images/info.svg
                                        span.tooltip_content
                                            //span.tooltip_close
                                            //    include ../../images/cross_close.svg
                                            | Для клиентов, получающих заработную плату/пенсию на счет Прио-Внешторгбанка, указанные документы не является обязательным к предоставлению
                                li Документы на&nbsp;имущество, предоставляемое в&nbsp;залог (оригинал и&nbsp;копия)
                                li Копия кредитного договора либо аналогичный договор с&nbsp;иным названием, содержащий условия предоставления/обслуживания, порядок возврата (для кредитных/дебетовых карт с&nbsp;разрешенным овердрафтом)
        .map-popups__popups-wrapper.map-popups__popups-wrapper--contact
            .map-popups__popup.map-popup.map-popup--contact
                .map-popup__name#officeName Доп. офис &laquo;Операционная касса &#8470;&nbsp;1&raquo;
                .map-popup__address.address г. Рязань, ул. Краснорядская, д. 13 тел: +7 (4912) 25 35 18
                .map-popup__description
                    .map-popup__title Обслуживание физических лиц:
                    .map-popup__content
                        p.map-popup__info ПН-ПТ с 9:15 до 19:00, перерыв с 14:00 до 15:00
                        p.map-popup__info.tel СБ с 9:15 до 15:00 без перерыва
                    .map-popup__title Обслуживание физических лиц 2:
                    .map-popup__content
                        p.map-popup__info ПН-ПТ с 9:15 до 19:00, перерыв с 14:00 до 15:00
                        p.map-popup__info СБ с 9:15 до 15:00 без перерыва
                button(type="button").map-popups__close-btn.map-popups__close-btn--white-left
                    include ../../images/popup-close.svg


        .ymap.ymap_exchange
            #YMapsID(class="ymap__map")

        .articles-static
            .container.articles-static__container
                ul.articles-static__list
                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-3.jpg')")
                                .article-card__top
                                    .article-card__title Ипотечная копилка или кредит наличными под 9,9%
                                    .article-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                a(href="#").btn.btn--white.article-card__btn подробнее

                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-4.jpg')")
                                .article-card__top
                                    .article-card__title Как получить налоговые вычеты
                                    .article-card__text Пошаговая инструкция
                                a(href="#").btn.btn--white.article-card__btn подробнее
        .request.request_right.request_no-b-m
            .request__container.container(style="background-image: url('./assets/img/request-banner-2.jpg')")
                .request__card
                    form(id="request" autocomplete="off").request__form
                        .request__title Оставьте заявку
                        .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="username" placeholder='Ваше имя')
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="phone_number" placeholder='Ваш номер телефона').phone_number
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked='true')
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации.
                        button(type='submit').btn.btn--spindrift.request__btn подать заявку
                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!

    include ../common/_footer.pug
    script(src='https://api-maps.yandex.ru/2.1/?apikey=0ca1104f-7293-4f9c-84e6-7ae602db62f6&lang=ru_RU' type='text/javascript')
    script(src='exchRates/chunk-vendors.js' defer)
    script(src='exchRates/app.js' defer)



