extends ../_template

block variables
    - var title = 'Обратная связь';

block content
    .wrapper
        include ../common/_header.pug

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Еще
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Обратная связь


        .addresses
            .addresses__container.container
                .heading.heading_l Обратная связь
                ul.addresses__tels.addresses__tels_top
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Автоответчик курса обмена валют
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email факс: 24-49-17
                    .addresses__tel-item
                        .addresses__tel-name Операционное управление Центрального офиса
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email факс: 24-49-17
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email факс: 24-49-17
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Единая справочная служба
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com
                    .addresses__tel-item
                        .addresses__tel-name Приёмная
                        .addresses__bot
                            .addresses__tel-number (4912) 200-003
                            .addresses__email email:&thinsp;
                                a(href="#").addresses__link inkass@priovtb.com





        .feedback
            .feedback__container.container
                .feedback__left
                    .heading.heading_l Обратная связь с банком
                    form(id="feedback-page" autocomplete="off" action="/upload" enctype="multipart/form-data" method="get").request__form
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="goal" id='goal' placeholder='Цель обращения')
                            .request__input-wrapper.request__input-wrapper_area
                                textarea.request__input(name="textMess" id='textMess' placeholder='Текст обращения')
                            .request__dropzone.dropzone(id="feedbackMyDropzone")
                                .dz-message(data-dz-message)
                                    div
                                        include ../../images/add-files.svg
                                    span.request__comment Прикрепить файлы
                            .request__comment Максимальный размер загружаемого файла 7 МБ в формате txt, jpeg, rtf, doc, docx, pdf, png.
                            .request__comment Максимальное количество файлов - 9 шт.

                            .info__tabs.tabs.tabs-main.tabs-main_feedback
                                ul.tabs__list.container.tabs-main__list
                                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="1")
                                        a.tabs-main__link(href="#") Физическое лицо
                                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                                        a.tabs-main__link(href="#") Юридическое лицо

                            .info__tab-scenes.container.tab-scenes
                                ul.tab-scenes__list
                                    .tab-scenes__item.active(data-section-tab-scene="1")
                                        .request__input-wrapper
                                            input.request__input(type="text" name="username" id="username" placeholder='ФИО')
                                        .request__input-wrapper
                                            input.request__input(type="text" name="numberInput" id="phone_number" placeholder='Телефон').phone_number
                                        .request__input-wrapper
                                            input.request__input(type="text" name="addressInput" id="address" placeholder='Адрес')
                                        .request__input-wrapper
                                            input.request__input(type="text" name="emailInput" id="email" placeholder='E-mail')


                                    li.tab-scenes__item(data-section-tab-scene="2")
                                        .request__input-wrapper
                                            input.request__input(type="text" name="username" id="username1" placeholder='Название')
                                        .request__input-wrapper
                                            input.request__input(type="text" name="numberInput" id="phone_number1" placeholder='Телефон').phone_number
                                        .request__input-wrapper
                                            input.request__input(type="text" name="addressInput" id="address1" placeholder='Адрес')
                                        .request__input-wrapper
                                            input.request__input(type="text" name="emailInput" id="email1" placeholder='E-mail')

                            .request__group
                                .feedback__text Ответ получить по:
                                .check.check_rounded
                                    input.check__control(type="checkbox" value='5555' id='515' checked='true')
                                    label.check__label(for="515") по электронной почте
                                .check.check_rounded
                                    input.check__control(type="checkbox" value='5555' id='526' checked='true')
                                    label.check__label(for="526") по sms
                                .check.check_rounded
                                    input.check__control(type="checkbox" value='5555' id='513' checked='true')
                                    label.check__label(for="513") не нужно высылать ответ



                            .request__flex-wrap.request__flex-wrap_70-30
                                .request__input-wrapper
                                    .check
                                        input.check__control(type="checkbox" value='5555' id='51' checked='true')
                                        label.check__label(for="51") Я уже обращался в банк по этому вопросу
                                    .check
                                        input.check__control(type="checkbox" value='5555' id='52' checked='true')
                                        label.check__label(for="52") Я&nbsp;принимаю&nbsp;
                                        a(href='#').check__link условия передачи информации.
                                    button(type='submit' id="submit-all").btn.btn--spindrift.request__btn.feedback__btn отправить
                                .request__input-wrapper
                                    .feedback__text Номер обращения:
                                        br
                                        b 12345


                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за ваше обращение
                        .thankyou-form__text
                .feedback__right
                    .heading.heading_m Проверить статус рассмотрения обращения
                    form(id="checkData" autocomplete="off" action="/upload"  method="get")
                        .request__input-wrapper
                            input.request__input(type="text" name="username" id='numberOfData' placeholder='Номер обращения')
                            //demo. change btn type further
                            //button(type='submit' id="submit-this").btn.btn--spindrift.request__btn проверить
                            button(type='button' id="submit-this").btn.btn--spindrift.request__btn проверить
                .feedback__bottom-pic(style="background-image: url('./assets/img/feedback-bottom.png')")

    include ../common/_footer.pug
