extends ../_template

block variables
    - var title = 'Home page';

block content
    .wrapper
        include ../common/_header.pug

        .main-hero
            .main-hero__container.swiper-container
                ul.main-hero__list.slider-top.swiper-wrapper
                    //li.slider-top__item.swiper-slide.scene
                    //    .slider-top__deco(data-swiper-parallax="-200")
                    //        div(data-depth="0.1"  data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15")
                    //            include ../../images/slider-deco.svg
                    //    .slider-top__hero(data-swiper-parallax="-1000")
                    //        //img(src='./assets/img/slider-person.png')
                    //        img.lazy(data-src='./assets/img/slider-person.png' )
                    //
                    //    .slider-top__descr
                    //        .slider-top__name Кредит наличными на любые цели
                    //        .slider-top__subtitle(data-swiper-parallax="-200")
                    //            .slider-top__text
                    //                p Кредит без страхования и комиссий
                    //                p Досрочное погашение кредита без штрафов и санкций
                    //        a(href="#" data-swiper-parallax="-300").slider-top__btn.btn.btn--spindrift подробнее о кредите
                    li.slider-top__item.swiper-slide
                        .slider-top__deco.slider-top__deco.scene(data-swiper-parallax="-200")
                            div(data-depth="0.1"  data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15")
                                include ../../images/slider-deco.svg
                        .slider-top__hero(data-swiper-parallax="-1000")
                            //img(src='./assets/img/keys.png')
                            img.lazy(data-src='./assets/img/slider-person.png')
                        .slider-top__descr
                            .slider-top__name Кредит наличными на любые цели
                            .slider-top__subtitle(data-swiper-parallax="-200")
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#" data-swiper-parallax="-300").slider-top__btn.btn.btn--spindrift узнать больше
                    li.slider-top__item.swiper-slide
                        .slider-top__deco.slider-top__deco_strawberry.scene(data-swiper-parallax="-200")
                            div(data-depth="0.1"  data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15")
                                include ../../images/slider-deco.svg
                        .slider-top__hero(data-swiper-parallax="-1000")
                            //img(src='./assets/img/keys.png')
                            img.lazy(data-src='./assets/img/keys.png')
                        .slider-top__descr
                            .slider-top__name Кредит наличными на любые цели 2
                            .slider-top__subtitle(data-swiper-parallax="-200")
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#" data-swiper-parallax="-300").slider-top__btn.btn.btn--spindrift узнать больше
                    li.slider-top__item.swiper-slide
                        .slider-top__deco.slider-top__deco_strawberry.scene(data-swiper-parallax="-200")
                            div(data-depth="0.1"  data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15")
                                include ../../images/slider-deco.svg
                        .slider-top__hero(data-swiper-parallax="-1000")
                            //img(src='./assets/img/keys.png')
                            img.lazy(data-src='./assets/img/keys.png')
                        .slider-top__descr
                            .slider-top__name Кредит 3
                            .slider-top__subtitle(data-swiper-parallax="-200")
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#" data-swiper-parallax="-300").slider-top__btn.btn.btn--spindrift подробнее
                .main-hero__dots.swiper-pagination
                .container.main-hero__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg


        .customer-calc.container
            .customer-calc__container
                .customer-calc__calc
                    .customer-calc__heading.heading.heading_l Рассчитайте кредит
                    #app
                .customer-calc__promo.promo
                    .promo__container(style="background-image: url('./assets/img/article-3.jpg')")
                        .promo__top
                            .promo__title Ипотечная копилка или кредит наличными под 9,9%
                            .promo__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                        a(href="#").btn.btn--white.promo__btn подробнее


        .card-overview
            .card-overview__container.container
                .card-overview__img
                    img(src='./assets/img/credit-card.png')
                .card-overview__text
                    .card-overview__heading Дебетовая карта
                    p Процент на&nbsp;остаток, кэшбэк до&nbsp;20% в&nbsp;месяц. Снимайте до&nbsp;300&nbsp;000&nbsp;₽ в&nbsp;месяц без комиссии. Ежемесячным процентом на&nbsp;остаток
                    .card-overview__info
                        .card-overview__info-item Решение по кредиту
                            .card-overview__number за 15 минут
                        .card-overview__info-item Срок кредитования
                            .card-overview__number от 1 до 5 лет
                        .card-overview__info-item Сумма кредита
                            .card-overview__number до 5 млн. рублей
                    .card-overview__buttons
                        a(href="#").slider-top__btn.btn.btn--black оформить карту
                        a(href="#").slider-top__btn.btn.btn--black-bordered подробнее о тарифах


        .articles-static
            .container.articles-static__container
                ul.articles-static__list
                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-3.jpg')")
                                .article-card__top
                                    .article-card__title Ипотечная копилка или кредит наличными под 9,9%
                                    .article-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                a(href="#").btn.btn--white.article-card__btn подробнее

                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-4.jpg')")
                                .article-card__top
                                    .article-card__title Как получить налоговые вычеты
                                    .article-card__text Пошаговая инструкция
                                a(href="#").btn.btn--white.article-card__btn подробнее
    include ../common/_footer.pug



