extends ../_template

block variables
    - var title = 'Интернет-банк';

block content
    .wrapper
        include ../common/_header.pug
        .main-hero
            .main-hero__container.swiper-container
                ul.main-hero__list.slider-top.swiper-wrapper
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/bg-business.jpg')")
                        .slider-top__descr
                            .slider-top__name Банк, который всегда с тобой!
                            .slider-top__subtitle
                                .slider-top__text
                                    p Управляй счетами и кредитами Дистанционно. Совершай платежи и переводы в мобильном банке.
                            a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/slider-2.jpg')")
                        .slider-top__descr
                            .slider-top__name Кредит наличными на любые цели 2
                            .slider-top__subtitle
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#").slider-top__btn.btn.btn--spindrift узнать больше
                    li.slider-top__item.swiper-slide

                        .slider-top__background(style="background-image: url('./assets/img/slider.jpg')")
                        .slider-top__descr
                            .slider-top__name Кредит 3
                            .slider-top__subtitle
                                .slider-top__text
                                    p Кредит без страхования и комиссий
                                    p Досрочное погашение кредита без штрафов и санкций
                            a(href="#").slider-top__btn.btn.btn--spindrift подробнее
                .main-hero__dots.swiper-pagination
                .container.main-hero__controls
                    .swiper-button-prev
                        .swiper-button__icon-left
                            include ../../images/right-arrow-slider.svg
                    .swiper-button-next
                        .swiper-button__icon-right
                            include ../../images/right-arrow-slider.svg




        .container.breadcrumbs
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Бизнесу
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Интернет-банк

        .info
            .info__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Описание
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Тарифы
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="3")
                        a.tabs-main__link(href="#") Вопросы и ответы
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="4")
                        a.tabs-main__link(href="#") Порядок подключения

            .info__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    .tab-scenes__item(data-section-tab-scene="1")
                        .tab-info
                            .tab-info__title.heading.heading_l Описание
                            .tab-info__section.numbered-steps.numbered-steps_top-m
                                    .numbered-steps__container.container
                                        .numbered-steps__list
                                            .numbered-steps__item
                                                .numbered-steps__num
                                                    .numbered-steps__circle.numbered-steps__circle_squared
                                                        .numbered-steps__value 1
                                                .numbered-steps__content
                                                    .numbered-steps__h1 Настоящие проекты
                                                    .numbered-steps__text
                                                        p Настоящий проект, от которого зависит работа всего отдела.
                                                        p Выводы аналитиков помогают компании принимать оптимальные решения
                                            .numbered-steps__item
                                                .numbered-steps__num
                                                    .numbered-steps__circle.numbered-steps__circle_squared
                                                        .numbered-steps__value 2
                                                .numbered-steps__content
                                                    .numbered-steps__h1 Анализ
                                                    .numbered-steps__text
                                                        p Настоящий проект, от которого зависит работа всего отдела.
                                                        p Выводы аналитиков помогают компании принимать оптимальные решения
                                            .numbered-steps__item
                                                .numbered-steps__num
                                                    .numbered-steps__circle.numbered-steps__circle_squared
                                                        .numbered-steps__value 3
                                                .numbered-steps__content
                                                    .numbered-steps__h1 Гарантии
                                                    .numbered-steps__text
                                                        p Настоящий проект, от которого зависит работа всего отдела.


                    li.tab-scenes__item.active(data-section-tab-scene="2")
                        .tab-info.accordion
                            .tab-info__title.heading.heading_l Тарифы

                            .tab-info__section
                                .tab-info__content
                                    .tab-info__table
                                        .tab-info__item
                                            .tab-info__left-item Мин. сумма кредита
                                            .tab-info__right-item 30 000 рублей
                                        .tab-info__item
                                            .tab-info__left-item Макс. сумма кредита
                                            .tab-info__right-item 300 000 рублей
                                        .tab-info__item
                                            .tab-info__left-item Срок кредитования
                                            .tab-info__right-item до 3 лет
                    li.tab-scenes__item(data-section-tab-scene="3")
                        .card
                            .card__left
                                .card__heading.heading.heading_l  Вопросы
                                ul.card__questions
                                    li.card__question
                                        a(href="#" data-scroll-link="1").card__link 1 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="2").card__link 2 Как оплатить кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="3").card__link 3 Как погасить кредит досрочно?
                                    li.card__question
                                        a(href="#" data-scroll-link="4").card__link 4 УМВД России по&nbsp;Рязанской области дает рекомендации: как не&nbsp;стать жертвой мошенников?
                                    li.card__question
                                        a(href="#" data-scroll-link="5").card__link 5 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="6").card__link 6 Как оплатить кредит?

                            .card__right
                                .card__heading.heading.heading_l  Ответы
                                .card__answers
                                    .card__subheading(data-scroll-to-element="1") 1 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="2") 2 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="3") 3 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.

                                    .card__subheading(data-scroll-to-element="4") 4 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="5") 5 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="6") 6 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.
                        .card-xs
                            .card-xs__h1.heading.heading_l.heading_bordered Вопросы
                            ul.accordion
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по кредиту и рассчитайте на калькуляторе примерный график Подберите подходящий кредит на нужные вам цели в Сбербанк Онлайн в разделе «Кредиты». Если у вас уже есть другие кредиты и вы хотите снизить платежи по ним, оформите рефинансирование. Если вам нужен кредит на жильё, смотрите раздел «Ипотечные кредиты».
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.


                    li.tab-scenes__item(data-section-tab-scene="4")
                        .tab-docs
                            .tab-docs__heading.heading.heading_l.heading_bordered Порядое подключения
                            ol
                                li Заявление-Анкета на&nbsp;получение кредита (по&nbsp;форме Банка)
                                li Паспорт (оригинал и&nbsp;копия всех страниц, в&nbsp;т.ч.&nbsp;и&nbsp;пустых);
                                li Страховое свидетельство обязательного пенсионного страхования (СНИЛС)
                                li Документы, подтверждающие финансовое состояние и&nbsp;трудовую занятость Заемщика/Поручителя
                                    span.tooltip
                                        span.tooltip_open
                                            include ../../images/info.svg
                                        span.tooltip_content
                                            span.tooltip_close
                                                include ../../images/cross_close.svg
                                            | Для клиентов, получающих заработную плату/пенсию на счет Прио-Внешторгбанка, указанные документы не является обязательным к предоставлению
                                li Документы на&nbsp;имущество, предоставляемое в&nbsp;залог (оригинал и&nbsp;копия)
                                li Копия кредитного договора либо аналогичный договор с&nbsp;иным названием, содержащий условия предоставления/обслуживания, порядок возврата (для кредитных/дебетовых карт с&nbsp;разрешенным овердрафтом)

        .access-ways
            .access-ways__container.container.accordion
                .heading.heading_l Способы доступа
                .access-ways__section.accordion__block
                    .access-ways__subtitle.accordion__action
                        .access-ways__sub-text Электронная подпись на USB-ключе eToken
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .access-ways__content.accordion__sliding-part
                        .access-ways__wrapper
                            .access-ways__left
                                img(src="./assets/img/int-access.jpg")
                            .access-ways__right
                                .access-ways__h2 USB-ключ eToken
                                .access-ways__text
                                    p Для входа в систему ДБО «Интернет-банк» и подтверждения операций можно использовать USB-ключ eToken, на который записана электронная подпись. Электронные USB-ключи eToken представляют собой компактные устройства, предназначенные для обеспечения информационной безопасности пользователей системы ДБО.
                .access-ways__section.accordion__block
                    .access-ways__subtitle.accordion__action
                        .access-ways__sub-text Электронная подпись на смарт-карте eToken
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .access-ways__content.accordion__sliding-part
                        .access-ways__wrapper
                            .access-ways__left
                                img(src="./assets/img/int-access.jpg")
                            .access-ways__right
                                .access-ways__h2 USB-ключ eToken
                                .access-ways__text
                                    p Для входа в систему ДБО «Интернет-банк» и подтверждения операций можно использовать USB-ключ eToken, на который записана электронная подпись. Электронные USB-ключи eToken представляют собой компактные устройства, предназначенные для обеспечения информационной безопасности пользователей системы ДБО.
                .access-ways__section.accordion__block
                    .access-ways__subtitle.accordion__action
                        .access-ways__sub-text Считыватель SafeTouch
                        .accordion__icon-trigger
                            include ../../images/down-arrow.svg
                    .access-ways__content.accordion__sliding-part
                        .access-ways__wrapper
                            .access-ways__left
                                img(src="./assets/img/int-access.jpg")
                            .access-ways__right
                                .access-ways__h2 USB-ключ eToken
                                .access-ways__text
                                    p Для входа в систему ДБО «Интернет-банк» и подтверждения операций можно использовать USB-ключ eToken, на который записана электронная подпись. Электронные USB-ключи eToken представляют собой компактные устройства, предназначенные для обеспечения информационной безопасности пользователей системы ДБО.

        .static-banner.static-banner_decored
            .static-banner__container.container
                .static-banner__left
                    .static-banner__h1 Мобильное приложение Прио-Внешторгбанк
                    .static-banner__text
                        p Ваш пульт управления банковскими сервисами.
                        p Скачайте бесплатно на свой телефон
                .static-banner__pic
                    img(src="./assets/img/static-banner-decored-pic.png")
                .download
                    ul.download__list
                        li.download__item
                            a(href="#").download__link
                                include ../../images/appstore.svg
                        li.download__item
                            a(href="#").download__link
                                include ../../images/gplay.svg

        .articles-static
            .container.articles-static__container
                ul.articles-static__list
                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-3.jpg')")
                                .article-card__top
                                    .article-card__title Ипотечная копилка или кредит наличными под 9,9%
                                    .article-card__text Пользуйтесь деньгами банка до&nbsp;50&nbsp;дней и&nbsp;не&nbsp;платите проценты.
                                a(href="#").btn.btn--white.article-card__btn подробнее

                    li.articles-static__item
                        .article-card
                            .article-card__container(style="background-image: url('./assets/img/article-4.jpg')")
                                .article-card__top
                                    .article-card__title Как получить налоговые вычеты
                                    .article-card__text Пошаговая инструкция
                                a(href="#").btn.btn--white.article-card__btn подробнее
        .documents
            .documents__container.container
                ul.documents__list
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                .documents__open-other
                    hr
                    .documents__text Все документы
    include ../common/_footer.pug


