extends ../_template

block variables
    - var title = 'Руководство банка';

block content
    .wrapper
        include ../common/_header.pug

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Ещё
            .breadcrumbs__item
                a(href="#").breadcrumbs__link О банке
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Прио-Внешторгбанк
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Руководство банка

        .container
            .debit-heading.heading.heading_l Руководство банка

        .management
            .management__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Руководство банка
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Совет директоров Прио-Внешторгбанка
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="3")
                        a.tabs-main__link(href="#") Информация о руководстве банка

            .management__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    li.tab-scenes__item.active(data-section-tab-scene="1")
                        .products.products_management
                            .products__container
                                ul.products__list
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Ганишин
                                                .prod-card__name.prod-card__name_last Роман Викторович
                                                .prod-card__text Председатель Правления
                                                .prod-card__hidden-descr-popup
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Окончил Московский государственный университет им. М. В. Ломоносова, получив степень магистра по математике и экономике.
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Волков
                                                .prod-card__name.prod-card__name_last Михаил Владимирович
                                                .prod-card__text Первый заместитель председателя Правления
                                                .prod-card__hidden-descr-popup
                                                    p fdfdfdffdfdfdРуководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Язев
                                                .prod-card__name.prod-card__name_last Алексей Алексеевич
                                                .prod-card__text Первый заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Дронов
                                                .prod-card__name.prod-card__name_last Геннадий Геннадьевич
                                                .prod-card__text Заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-woman.jpg")
                                            .prod-card__descr
                                                .prod-card__name Терентьева
                                                .prod-card__name.prod-card__name_last Наталья Григорьевна
                                                .prod-card__text Заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-woman.jpg")
                                            .prod-card__descr
                                                .prod-card__name Мишуткина
                                                .prod-card__name.prod-card__name_last Ирина Владимировна
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Винокуров
                                                .prod-card__name.prod-card__name_last Василий Владимирович
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Синёв
                                                .prod-card__name.prod-card__name_last Денис Сергеевич
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее


                        .tarifs
                            .tarifs__container
                                .tarifs__heading.heading.heading_l Информация о руководстве банка
                                .tarifs__text Единственным акционером (100% уставного капитала Банка) является компания ТиСиЭс Груп Холдинг ПиЭлСи (TCS Group Holding PLC) (Кипр).
                                .tarifs__doc.document-string
                                    a(href="#").document-string__container
                                        .document-string__pic
                                            img(src="./assets/img/download-icon.svg")
                                        .document-string__descr
                                            .document-string__heading Информация о лицах, входящих в состав органов управления
                                            .document-string__ext PDF, 753 KB
                    li.tab-scenes__item(data-section-tab-scene="2")
                        .products.products_management
                            .products__container
                                ul.products__list
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Ганишин
                                                .prod-card__name.prod-card__name_last Роман Викторович
                                                .prod-card__text Председатель Правления
                                                .prod-card__hidden-descr-popup
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Руководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                    p Окончил Московский государственный университет им. М. В. Ломоносова, получив степень магистра по математике и экономике.
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Волков
                                                .prod-card__name.prod-card__name_last Михаил Владимирович
                                                .prod-card__text Первый заместитель председателя Правления
                                                .prod-card__hidden-descr-popup
                                                    p fdfdfdffdfdfdРуководит операционной деятельностью Тинькофф Банка. До назначения операционным директором в июне 2012 г. занимал должность директора по технологиям Банка (с 2006 г.). До этого работал в банковском секторе, в том числе на должности начальника отдела управления проектами и оптимизации бизнес-процессов ЗАО «Райффайзенбанк Австрия».
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Язев
                                                .prod-card__name.prod-card__name_last Алексей Алексеевич
                                                .prod-card__text Первый заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Дронов
                                                .prod-card__name.prod-card__name_last Геннадий Геннадьевич
                                                .prod-card__text Заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-woman.jpg")
                                            .prod-card__descr
                                                .prod-card__name Терентьева
                                                .prod-card__name.prod-card__name_last Наталья Григорьевна
                                                .prod-card__text Заместитель председателя Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-woman.jpg")
                                            .prod-card__descr
                                                .prod-card__name Мишуткина
                                                .prod-card__name.prod-card__name_last Ирина Владимировна
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Винокуров
                                                .prod-card__name.prod-card__name_last Василий Владимирович
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее
                                    li.products__item.prod-card.prod-card_management
                                        a(href='#').prod-card__link.prod-card__link_management
                                            .prod-card__img
                                                img(src="./assets/img/management-man.jpg")
                                            .prod-card__descr
                                                .prod-card__name Синёв
                                                .prod-card__name.prod-card__name_last Денис Сергеевич
                                                .prod-card__text Член Правления
                                                .prod-card__bottom
                                                    .prod-card__link-bottom Подробнее


                        .tarifs
                            .tarifs__container
                                .tarifs__heading.heading.heading_l Информация о руководстве банка
                                .tarifs__text Единственным акционером (100% уставного капитала Банка) является компания ТиСиЭс Груп Холдинг ПиЭлСи (TCS Group Holding PLC) (Кипр).
                                .tarifs__doc.document-string
                                    a(href="#").document-string__container
                                        .document-string__pic
                                            img(src="./assets/img/download-icon.svg")
                                        .document-string__descr
                                            .document-string__heading Информация о лицах, входящих в состав органов управления
                                            .document-string__ext PDF, 753 KB
                    li.tab-scenes__item(data-section-tab-scene="3")
                        .tarifs
                            .tarifs__container.tarifs__container_management
                                .tarifs__heading.heading.heading_l Информация о руководстве банка
                                .tarifs__text Единственным акционером (100% уставного капитала Банка) является компания ТиСиЭс Груп Холдинг ПиЭлСи (TCS Group Holding PLC) (Кипр).
                                .tarifs__doc.document-string
                                    a(href="#").document-string__container
                                        .document-string__pic
                                            img(src="./assets/img/download-icon.svg")
                                        .document-string__descr
                                            .document-string__heading Информация о лицах, входящих в состав органов управления
                                            .document-string__ext PDF, 753 KB

    .overlay
        .products__popup.popup.popup_management
            .popup__container
                .popup__left
                .popup__right
                    .popup__name
                    .popup__name.popup__name_last
                    .popup__job
                    .popup__descr
            button(type="button").popup__close-btn
    include ../common/_footer.pug
