extends ../_template

block variables
    - var title = 'Новости';

block content
    .wrapper
        include ../common/_header.pug

        .breadcrumbs.breadcrumbs_marg.container
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Еще
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Новости

        .heading.heading_l.heading_inner.container Новости

        .search-news.container
            .search-news__wrapper
                form.search-news__form(action="" method="get" autocomplete="off")
                    input.search-news__input(type="text" name="search" placeholder='Поиск')
                    button(type='submit').search-news__button
                            include ../../images/search.svg

        .news
            .news__container.container
                a(href='#' style="background-image: url('./assets/img/large-banner.jpg')").news__large.large
                    .large__top.date-views
                        span.date-views__date 20.03.2019
                        span.date-views__eye
                            include ../../images/views-number.svg
                        span.date-views__views 2K

                    .large__bottom
                        .large__heading Без каких вещей вы&nbsp;не представляете свою жизнь?

                .news__little
                    a(href='#').positioning
                        .news__little.little.little_smaller-tablet
                            .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                            .little__bottom
                                .little__views.date-views.date-views_grey
                                    span.date-views__date 20.03.2019
                                    span.date-views__eye
                                        include ../../images/views-number.svg
                                    span.date-views__views 2K
                                .little__text-container
                                    .little__heading Изменение тарифов на&nbsp;снятие средств
                                    .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.

                a(href='#').news__middle.middle
                    .middle__top.date-views.date-views_grey
                        span.date-views__date 20.03.2019
                        span.date-views__eye
                            include ../../images/views-number.svg
                        span.date-views__views 2K
                    .middle__bottom
                        .middle__heading Прио-Внешторгбанк признали лучшим в&nbsp;работе со&nbsp;СМИ в&nbsp;2019 году
                        .middle__text.news-text Как заметил во&nbsp;время церемонии награждения генеральный директор Рязанского выпуска газеты &laquo;Комсомольская правда&raquo; Николай Мальцев, в&nbsp;дипломе хотя и&nbsp;значится оценка работы со&nbsp;СМИ в&nbsp;этом году, как правило она складывается годами. Для Прио-Внешторгбанка это высказывание справедливо в&nbsp;полной мере.
                        .middle__tags.tags Тэги:
                            .tags__item #суд
                            .tags__item #долги

                a(href='#' style="background-image: url('./assets/img/article-4.jpg')").news__pre-large.large
                    .large__top.date-views
                        span.date-views__date 20.03.2019
                        span.date-views__eye
                            include ../../images/views-number.svg
                        span.date-views__views 2K
                    .large__bottom
                        .large__heading.large__heading_smaller Без каких вещей вы&nbsp;не представляете свою жизнь?


                a(href='#').news__middle.middle
                    .middle__top.date-views.date-views_grey
                        span.date-views__date 20.03.2019
                        span.date-views__eye
                            include ../../images/views-number.svg
                        span.date-views__views 2K
                    .middle__bottom
                        .middle__heading Прио-Внешторгбанк признали лучшим в&nbsp;работе со&nbsp;СМИ в&nbsp;2019 году
                        .middle__text.news-text Как заметил во&nbsp;время церемонии награждения генеральный директор Рязанского выпуска газеты &laquo;Комсомольская правда&raquo; Николай Мальцев, в&nbsp;дипломе хотя и&nbsp;значится оценка работы со&nbsp;СМИ в&nbsp;этом году, как правило она складывается годами. Для Прио-Внешторгбанка это высказывание справедливо в&nbsp;полной мере.
                        .middle__tags.tags Тэги:
                            .tags__item #суд
                            .tags__item #долги

                a(href='#').news__littleContainer.little-sections
                    .little-sections__item.little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.
                    .little-sections__item.little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.

                a(href='#').news__afterMiddle.middle
                    .middle__top.date-views.date-views_grey
                        span.date-views__date 20.03.2019
                        span.date-views__eye
                            include ../../images/views-number.svg
                        span.date-views__views 2K
                    .middle__bottom
                        .middle__heading.middle__heading_smaller Прио-Внешторгбанк признали лучшим в&nbsp;работе со&nbsp;СМИ в&nbsp;2019 году
                        .middle__text.news-text Как заметил во&nbsp;время церемонии награждения генеральный директор Рязанского выпуска газеты &laquo;Комсомольская правда&raquo; Николай Мальцев, в&nbsp;дипломе хотя и&nbsp;значится оценка работы со&nbsp;СМИ в&nbsp;этом году, как правило она складывается годами. Для Прио-Внешторгбанка это высказывание справедливо в&nbsp;полной мере.
                        .middle__tags.tags Тэги:
                            .tags__item #суд
                            .tags__item #долги


            .news__little-cards-list.container
                a(href='#').news__little-card
                    .little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.
                a(href='#').news__little-card
                    .little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.
                a(href='#').news__little-card
                    .little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.
                a(href='#').news__little-card
                    .little
                        .little__top(style="background-image: url('./assets/img/little-pic.jpg')")
                        .little__bottom
                            .little__views.date-views.date-views_grey
                                span.date-views__date 20.03.2019
                                span.date-views__eye
                                    include ../../images/views-number.svg
                                span.date-views__views 2K
                            .little__text-container
                                .little__heading Изменение тарифов на&nbsp;снятие средств
                                .little__text.news-text С&nbsp;1&nbsp;августа 2019 года при снятии денежных средств с&nbsp;карты Сбербанка в&nbsp;офисах или банкоматах DenizBank.


        .pagination
            .pagination__container.container
                a(href='#').pagination__left-arr
                    include ../../images/news-right-arr.svg
                a(href='#').pagination__page.pagination__page_active 1
                a(href='#').pagination__page 2
                a(href='#').pagination__page 3
                a(href='#').pagination__page 4
                span.pagination__dots ...
                a(href='#').pagination__page 10
                a(href='#').pagination__right-arr
                    include ../../images/news-right-arr.svg


    include ../common/_footer.pug



