extends ../_template

block variables
    - var title = 'Samsung Pay';

block content
    .wrapper
        include ../common/_header.pug
        .sm-banner
            .container
                .sm-banner__container
                    .sm-banner__content
                        .sm-banner__heading Плати смартфоном с Samsung Pay
                        .sm-banner__text Плати везде, где принимают к оплате обычные банковские карты - с магнитной полоской или безконтактные.
                    .sm-banner__img
                        img(src="./assets/img/sm-banner-img.png")

        .sm-devices
            .sm-devices__container.container
                .sm-devices__heading.heading.heading_l Подключить можно карту Прио-Внешторгбанк Visa, Masterсard на следующих устройствах:
                .sm-devices__devices
                    .sm-devices__left
                        .sm-devices__item Galaxy S10e, S10, S10+, S9, S9+, S8, S8+, S7 edge, S7, S6 Edge+, S6*, S6* Edge
                        .sm-devices__item Galaxy Note10, Note10+, Note9, Note8, Note5
                        .sm-devices__item Galaxy A20*, A30*, A40, A50 128 Гб, A50 64 Гб*, A70
                        .sm-devices__item Galaxy Watch*, Galaxy Watch Active*
                    .sm-devices__right
                        .sm-devices__item Galaxy A9 2018*, A7 2018*, A8, A8+, A6*, A6+*, A7 2017, A5, A3 2017, A7 2016, A5 2016
                        .sm-devices__item Galaxy J6+*, J4+*, J7 2017, J5 2017
                        .sm-devices__item Gear S3 classic, frontier*
                        .sm-devices__item Gear Sport*
                .sm-devices__sup * только NFC. На данных мобильных устройствах Samsung оплата через Samsung Pay возможна только на терминалах, где принимаются бесконтактные банковские карты.

        .perspective.perspective_sm
            .perspective__container.container
                .perspective__h1.heading.heading_l Как получить кредит
                .perspective__list
                    .perspective__item.perspective__item_more-space
                        .perspective__pic
                            img(src='./assets/img/credit-ico-1.svg')
                        .perspective__bottom
                            .perspective__h2 Просто
                            .perspective__text Запустите Samsung Pay, подтвердите авторизацию отпечатком пальца и поднесите устройство к терминалу для оплаты
                    .perspective__item.perspective__item_more-space
                        .perspective__pic
                            img(src='./assets/img/credit-ico-2.svg')
                        .perspective__bottom
                            .perspective__h2 Безопасно
                            .perspective__text Во время платежа вместо номер карты используется токен — ваши данные надежно зашифрованы
                    .perspective__item.perspective__item_more-space
                        .perspective__pic
                            img(src='./assets/img/credit-ico-3.svg')
                        .perspective__bottom
                            .perspective__h2 Принимается везде
                            .perspective__text Samsung Pay можно использовать для оплаты в любых местах, где принимают банковские карты


        .sm-promo
            .container
                .sm-promo__container
                    .sm-promo__content
                        .sm-promo__heading Собственная технология MST
                        .sm-promo__text
                            p Samsung Pay позволяет оплачивать покупки на любых терминалах — не только тех, которые поддерживают бесконтактную оплату. Секрет в том, что кроме технологии NFC, Samsung задействует собственную технологию — MST (от англ. Magnetic Secure Transmission — магнитная безопасная передача).
                            p Смартфоны Samsung с поддержкой MST могут создавать магнитное поле, схожее с сигналом от магнитной полосы банковской карты, поэтому Samsung Pay работает на любых терминалах.
                    .sm-promo__img
                        img(src="./assets/img/sm-promo-pic.png")
                    .sm-promo__img.sm-promo__img_mob
                        img(src="./assets/img/promo-samsung.png")

        .how-to
            .container
                .how-to__heading.how-to__heading_samsung.heading.heading_l Как подключить Samsung Pay через мобильное приложение Прио-Внешторгбанк Онлайн
                .how-to__graphics.steps
                    .steps__item.steps__item_samsung
                        .steps__pic.steps__pic_samsung
                            include ../../images/sm-st-1.svg
                        .steps__content
                            .steps__heading.steps__heading_samsung Установите
                            .steps__text Установите приложение Прио-Внешторгбанк Онлайн, загрузите его в Google Play.
                    .steps__item.steps__item_samsung
                        .steps__pic.steps__pic_samsung
                            include ../../images/sm-st-2.svg
                        .steps__content
                            .steps__heading.steps__heading_samsung Запустите
                            .steps__text Запустите приложение, в главном меню найдите нужную карту и откройте подробную информацию о ней.
                    .steps__item.steps__item--3.steps__item_samsung
                        .steps__pic.steps__pic_samsung
                            include ../../images/sm-st-3.svg
                        .steps__content
                            .steps__heading.steps__heading_samsung Добавьте в Samsung Pay
                            .steps__text Вы увидите строку «Добавить в Samsung Pay» — нажимайте на неё и следуйте подсказкам.
                .how-to__comment Можно также подключить&thinsp;
                    a(href='#') в&nbsp;приложении Samsung Pay

        .perspective
            .perspective__container.container
                .perspective__h1.heading.heading_l Как оплачивать покупки:
                .perspective__list
                    .perspective__item.perspective__item_bigger
                        .perspective__pic
                            img(src='./assets/img/s-step-1.png')
                        .perspective__bottom
                            b 1.&nbsp;
                            | Проведите по экрану снизу&nbsp;вверх, чтобы запустить Samsung Pay
                    .perspective__item.perspective__item_bigger
                        .perspective__pic
                            img(src='./assets/img/s-step-2.png')
                        .perspective__bottom
                            b 2.&nbsp;
                            | Подтвердите авторизацию отпечатком пальца
                    .perspective__item.perspective__item_bigger
                        .perspective__pic
                            img(src='./assets/img/s-step-3.png')
                        .perspective__bottom
                            b 3.&nbsp;
                            | Поднесите устройство к&nbsp;терминалу для оплаты

        .sm-info
            .sm-info__container.container
                .sm-info__content
                    .sm-info__heading.heading.heading_l Удобный переход в Прио-Внешторгбанк Онлайн для перевода денег
                    .sm-info__text
                        p Отправляете деньги в приложении Samsung Pay другому клиенту Прио-Внешторгбанк?
                        p Перейдите одним касанием в Прио-Внешторгбанк Онлайн, даже если вы уже начали перевод в Samsung Pay: мы сохраним введённый номер телефона получателя и сумму.
                        p Перевод зачислится мгновенно, без комиссий внутри региона.*

        .sm-steps
            .sm-steps__container.container
                .sm-steps__heading.heading.heading_l Как перейти из Samsung Pay в&nbsp;Прио-Внешторгбанк Онлайн
                .sm-steps__list
                    .sm-steps__item
                        .sm-steps__text Убедитесь, что на вашем устройстве установлены и обновлены приложения Samsung Pay и «Прио-Внешторгбанк Онлайн».
                    .sm-steps__item
                        .sm-steps__text С экрана «Оплата» в приложении Samsung Pay Нажмите кнопку «Прио-Внешторгбанк Онлайн» над изображением карты для перехода в Мобильное приложение Прио-Внешторгбанк Онлайн.
                    .sm-steps__item
                        .sm-steps__text Если вы уже начали перевод в Samsung Pay по номеру телефона.Нажмите кнопку «Продолжите оформление в Прио-Внешторгбанк Онлайн» под изображением карты списания и завершите оформление перевода в Прио-Внешторгбанк Онлайн.
                    .sm-steps__item
                        .sm-steps__text Зачисление будет мгновенным — получатель сразу получит деньги на карту.



        .sm-acco
            .sm-acco_container.container
                .accordion
                    .sm-acco__title.heading.heading_l Часто задаваемые вопросы:

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Что такое Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text На каких устройствах работает Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Как по-другому подключить SamsungPay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Как начать использовать Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text С какими картами Прио-Внешторгбанк работает Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Как оплатить покупку в магазине с помощью Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Сколько стоит использование Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Где можно платить с помощью Samsung Pay?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    .sm-acco__section.accordion__block
                        .sm-acco__subtitle.accordion__action
                            .sm-acco__sub-text Нужно ли для оплаты с помощью Samsung Pay подключение к интернету?
                            .accordion__icon-trigger.sm-acco__trigger
                                include ../../images/down-arrow.svg
                        .sm-acco__content.accordion__sliding-part
                            .sm-acco__answer Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum





    include ../common/_footer.pug



