extends ../_template

block variables
    - var title = 'Результаты поиска';

block content
    .wrapper
        include ../common/_header.pug

        .heading.heading_l.heading_inner.heading_top-m.container Поиск

        .search-news.search-news_search-page.container
            .search-news__wrapper
                form.search-news__form(action="" method="get" autocomplete="off")
                    input.search-news__input(type="text" name="search" placeholder='Поиск')
                    button(type='submit').search-news__button
                        include ../../images/search.svg
            .search-news__under-line
                .search-news__checkbox
                    .check.check_large
                        input.check__control(type="checkbox" value='4444' id='9879' checked='true')
                        label.check__label(for="9879") Поиск в документах
                .search-news__info Нашел 17 тыс. ответов

        .search-results
            .search-results__container.container
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 1 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 2 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 3 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 4 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 5 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 6 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 7 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions
                .searach-results__item.search-result
                    .search-result__container
                        .search-result__heading 8 Подбор вкладов
                        .search-result__text
                            p Вклады. Каталог вкладов. Подобрать вклад.
                            p Вклады с повышенными ставками. Максимальный доход по вкладам для владельцев пакета услуг Сбербанк Первый.
                        a(href='#').search-result__link sberbank.ru/ru/person/contributions


        .pagination
            .pagination__container.container
                a(href='#').pagination__left-arr
                    include ../../images/news-right-arr.svg
                a(href='#').pagination__page.pagination__page_active 1
                a(href='#').pagination__page 2
                a(href='#').pagination__page 3
                a(href='#').pagination__page 4
                span.pagination__dots ...
                a(href='#').pagination__page 10
                a(href='#').pagination__right-arr
                    include ../../images/news-right-arr.svg


    include ../common/_footer.pug



