extends ../_template

block variables
    - var title = 'Sitemap';

block content
    .wrapper
        .header__bottom.header-bottom
            .header__menu-top.menu-top
                .container.menu-top__container
                    a(href="#").menu-top__logo
                        img.menu-top__logo-pic(src="assets/img/logo.svg")

                    .menu-top__online-bank
                        a(href="#").menu-top__btn.btn.btn--spindrift
                            .btn__icon
                                include ../../images/online-bank.svg
                            .btn__text Sitemap


        ul.container.sitemap
            li
                a(href='./index.html' target='_blank') 1. Главная ✓
            li
                a(href='./news.html' target='_blank') 2. Новости ✓
            li
                a(href='./customerCredit.html' target='_blank') 3. Потребительский кредит ✓
            li
                a(href='./article.html' target='_blank') 4. Статья ✓
            li
                a(href='./debitCard.html' target='_blank') 5. Дебетовые карты ✓
            li
                a(href='./exchangeRate.html' target='_blank') 6. Курс валют ✓
            li
                a(href='./management.html' target='_blank') 7. Менеджмент ✓
            li
                a(href='./career.html' target='_blank') 8. Карьера ✓
            li
                a(href='./work.html' target='_blank') 9. Работа ✓
            li
                a(href='./businessIp.html' target='_blank') 10. Бизнесу и ИП ✓
            li
                a(href='./404.html' target='_blank') 11. 404 ✓
            li
                a(href='./transfer.html' target='_blank') 12. Перевод на карту ✓
            li
                a(href='./vacancies.html' target='_blank') 13. Вакансии ✓
            li
                a(href='./startCareer.html' target='_blank') 14. Старт карьеры ✓
            li
                a(href='./bankDeposit.html' target='_blank') 15. Вклад Перспектива плюс ✓
            li
                a(href='./allTarifs.html' target='_blank') 16. Все тарифы ✓
            li
                a(href='./internetBank.html' target='_blank') 17. Интернет-банк ✓
            li
                a(href='./searchResults.html' target='_blank') 18. Результаты поиска ✓
            li
                a(href='./samsungPay.html' target='_blank') 19. Samsung Pay ✓
            li
                a(href='./atm.html' target='_blank') 20. Отделения и банкоматы ✓
            li
                a(href='./feedback.html' target='_blank') 21. Обратная связь ✓


