extends ../_template

block variables
    - var title = 'Начало карьеры';

block content
    .wrapper
        include ../common/_header

        .career-blocks
            .career-blocks__container.container
                .career-blocks__h1 Начало карьеры
                .career-blocks__left.career-blocks__highlight Прио-Внешторгбанк&nbsp;&mdash; это банк-партнёр, который ежедневно готов помогать каждому
                .career-blocks__right.career-blocks__text Прио-Внешторгбанк&nbsp;&mdash; это банк-партнёр, который ежедневно готов помогать каждому своему клиенту во&nbsp;всём, что связано с&nbsp;финансами, прилагать усилия к&nbsp;тому, чтобы всем вместе делать окружающий мир удобнее, современнее и&nbsp;добрее. Многие годы в&nbsp;своей работе и&nbsp;повседневной жизни мы&nbsp;руководствуемся принципом&nbsp;&mdash; мир денег для мира людей!

        //.banner-simple блок с баннером
        .request.request_incassacia.request_right-cropped
            .request__container.container(style="background-image: url('./assets/img/req-right-simple.jpg')")
                .request__card
                    .request__h1 Как сделать переплату меньше?
                    .request__text
                        p На переплату влияет только размер процентной ставки
                        br
                        p
                            b Без комиссии за выдачу
                        p Банк переведёт вам деньги на карту
        .how-to
            .container
                .how-to__heading.heading.heading_l Как получить кредит
                .how-to__graphics.steps
                    .steps__item.steps__item--1
                        .steps__pic
                            include ../../images/step-1.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text На сайте онлайн или в офисе банка​​​​​
                    //.steps__arrow
                    //    include ../../images/steps-line.svg
                    .steps__item.steps__item--2
                        .steps__pic
                            include ../../images/step-2.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text за 1 рабочий день
                    .steps__item.steps__item--3
                        .steps__pic
                            include ../../images/step-3.svg
                        .steps__content
                            .steps__heading Оставьте заявку
                            .steps__text Наличными в день одобрения кредита

        .card-profits
            .card-profits__container.container
                .card-profits__list
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-free.svg')
                        .card-profits__descr
                            .card-profits__heading Бесплатно
                            .card-profits__text Если пластиковая карта потеряется, ее можно моментально заблокировать и заказать выпуск новой.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-mobile.svg')
                        .card-profits__descr
                            .card-profits__heading Разумно
                            .card-profits__text Банковская карта помогает контролировать бюджет: в приложении можно отслеживать все покупки и прогнозировать траты.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-profit.svg')
                        .card-profits__descr
                            .card-profits__heading Выгодно
                            .card-profits__text Двойной доход: кэшбэк или мили за покупки и до 7% на остаток.
                    .card-profits__item
                        .card-profits__icon
                            img(src='./assets/img/icon-plane.svg')
                        .card-profits__descr
                            .card-profits__heading Удобно
                            .card-profits__text Дебетовая карта&nbsp;&mdash; практичное и&nbsp;надежное платежное средство для расчетов за&nbsp;рубежом.
        .numbered-steps
            .numbered-steps__container.container
                .numbered-steps__heading.heading.heading_l Реальный бизнес-опыт
                .numbered-steps__list
                    .numbered-steps__item
                        .numbered-steps__num
                            .numbered-steps__circle
                                .numbered-steps__value 1
                        .numbered-steps__content
                            .numbered-steps__h1 Настоящие проекты
                            .numbered-steps__text
                                p Настоящий проект, от которого зависит работа всего отдела.
                                p Выводы аналитиков помогают компании принимать оптимальные решения
                    .numbered-steps__item
                        .numbered-steps__num
                            .numbered-steps__circle
                                .numbered-steps__value 2
                        .numbered-steps__content
                            .numbered-steps__h1 Анализ
                            .numbered-steps__text
                                p Настоящий проект, от которого зависит работа всего отдела.
                                p Выводы аналитиков помогают компании принимать оптимальные решения
                    .numbered-steps__item
                        .numbered-steps__num
                            .numbered-steps__circle
                                .numbered-steps__value 3
                        .numbered-steps__content
                            .numbered-steps__h1 Гарантии
                            .numbered-steps__text
                                p Настоящий проект, от которого зависит работа всего отдела.
                                p Выводы аналитиков помогают компании принимать оптимальные решения
        .perspective
            .perspective__container.container
                .perspective__h1.heading.heading_l Какие перспективы?
                .perspective__list
                    .perspective__item
                        .perspective__pic
                            img(src='./assets/img/persp-icon.svg')
                        .perspective__h2 Обучение
                        .perspective__text На сайте онлайн или в офисе банка На сайте онлайн или в офисе банка

                    .perspective__item
                        .perspective__pic
                            img(src='./assets/img/persp-icon-1.svg')
                        .perspective__h2 Развитие
                        .perspective__text На сайте онлайн или в офисе банка На сайте онлайн или в офисе банка

                    .perspective__item
                        .perspective__pic
                            img(src='./assets/img/persp-icon-2.svg')
                        .perspective__h2 Карьерный рост
                        .perspective__text На сайте онлайн или в офисе банка На сайте онлайн или в офисе банка

        .pink-form
            .pink-form__container.container
                .pink-form__title Заявка на участие
                .pink-form__content
                    form(id="job-request" autocomplete="off").pink-form__form
                        .pink-form__text Экзамены уже начались. После регистрации можно сразу приступать к их прохождению в личном кабинете
                        .pink-form__input-wrapper
                            .pink-form__select
                                select.select2.pink-form__select2.select2_custom(type="search" name="select")
                                    option
                                    option(value="dev") Разработка
                                    option(value="des") Дизайн
                                    option(value="fin") Финансы
                                    option(value="hr") HR

                        .pink-form__input-wrapper
                            input.pink-form__input(type="text" name="username" id='username' placeholder='Фамилия и имя')
                        .pink-form__input-wrapper
                            input.pink-form__input.phone_number(type="text" name="numberInput" id='numberInput' placeholder='Телефон')
                        .pink-form__input-wrapper
                            input.pink-form__input(type="text" name="email" id='email' placeholder='Электронная почта')
                        .pink-form__dragdrop.dropzone(id="myDropzone")
                            .dz-message(data-dz-message)
                                span Вставьте документы (pdf, doc)
                        .pink-form__flex-wrap.pink-form__flex-wrap_70-30
                            .check
                                input.check__control(type="checkbox" value='5555' id='5' checked='true')
                                label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                a(href='#').check__link условия передачи информации.
                            button(type='submit' id="submit-all").btn.btn--spindrift.request__btn отправить заявку
                    .pink-form__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!

        .documents
            .documents__container.container
                ul.documents__list
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия
                    li.documents__item
                        a(href='#').documents__link.document
                            .document__info
                                .document__icon
                                    img(src="./assets/img/download-icon.svg")
                                .document__format Версия PDF
                            .document__name Условия предоставления кредитов
                .documents__open-other
                    hr
                    .documents__text Все документы

    include ../common/_footer
