extends ../_template

block variables
    - var title = 'Перевод с карты на карту';

block content
    .wrapper
        include ../common/_header.pug

        .container.breadcrumbs.breadcrumbs_marg
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Частным клиентам
            .breadcrumbs__item
                a(href="#").breadcrumbs__link Карты
            .breadcrumbs__item
                a(href="#").breadcrumbs__link.breadcrumbs__link_current Дебетовые карты

        .container
            .heading.heading_l Перевод с карты на карту
                .heading.heading_xs Между картами любых банков

        .transfer
            .transfer__tabs.tabs.tabs-main
                ul.tabs__list.container.tabs-main__list.tabs-main__list_flex
                    li.tabs__item.tabs-main__item.active(data-section-tab-trigger="1")
                        a.tabs-main__link(href="#") Главная
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="2")
                        a.tabs-main__link(href="#") Лимиты и комиссии
                    li.tabs__item.tabs-main__item(data-section-tab-trigger="3")
                        a.tabs-main__link(href="#") Помощь
                    li.tabs__item.tabs-main__item.tabs-main__item_last
                        .transfer__links
                            a(href='#').transfer__link-item Войти в сервис
                            a(href='#').transfer__link-item Зарегистрироваться
                            a(href='#').transfer__link-item Написать

            .transfer__tab-scenes.container.tab-scenes
                ul.tab-scenes__list
                    li.tab-scenes__item.active(data-section-tab-scene="1")
                        form(id="moneyTransfer" method="get" autocomplete="off").transfer__form

                            .transfer__heading На карту
                            .transfer__subheading Для совершения перевода ваша карта должна поддерживать технологию защиты&nbsp;
                                a(href='#').transfer__link.transfer__link_strawberry 3-D Secure

                            .transfer__cards
                                .credit-card
                                    .credit-card__title Данные отправителя
                                    .credit-card__body
                                        .credit-card__number
                                            .credit-card__input-wrapper
                                                label.credit-card__label(for='cardNumber') Номер карты
                                                input.credit-card__input(type="text" name="cardNumber" id='cardNumber' placeholder='XXXX XXXX XXXX XXXX')
                                        .credit-card__bottom-line
                                            .credit-card__input-wrapper.credit-card__input-wrapper_period
                                                label.credit-card__label(for='month') Срок действия
                                                input.credit-card__input(type="text" name="dateMonth" id='month' placeholder='ММ')
                                                span.credit-card__separator /
                                                input.credit-card__input(type="text" name="dateYear" id='year' placeholder='ГГ')

                                            .credit-card__cvv
                                                .credit-card__input-wrapper
                                                    label.credit-card__label(for='cvv') CVV/CVC
                                                        span.tooltip.tooltip_grey
                                                            span.tooltip_open
                                                                include ../../images/info.svg
                                                            span.tooltip_content
                                                                | Три цифры (код безопасности), расположенные на обратной стороне карты
                                                    input.credit-card__input(type="text" name="cvv" id='cvv' placeholder='XXX')

                                .credit-card
                                    .credit-card__title Данные получателя
                                    .credit-card__body
                                        .credit-card__number
                                            .credit-card__input-wrapper
                                                label.credit-card__label(for='cardNumberTo') Номер карты
                                                input.credit-card__input(type="text" name="cardNumberTo" id='cardNumberTo' placeholder='XXXX XXXX XXXX XXXX')

                            .transfer__bottom
                                .transfer__actions.actions-card
                                    .actions-card__input-wrapper
                                        label.actions-card__label(for='sumTransfer') Сумма перевода
                                        input.actions-card__input(type="text" name="sumTransfer" id='sumTransfer' placeholder='от 100 до 70 000')
                                        span.actions-card__rub RUB
                                    .actions-card__input-wrapper
                                        label.actions-card__label(for='sumTransferTotal') Итоговая сумма перевода
                                        input.actions-card__input.actions-card__input_black-border(disabled="true" type="text" name="sumTransferTotal" id='sumTransferTotal' placeholder='от 100 до 70 000')
                                        span.actions-card__rub RUB
                                    .actions-card__comission Комиссия:&nbsp;
                                        span.actions-card__sum 39
                                        span.actions-card__text &nbsp;RUB (1.5%, но не менее 39 RUB)
                                    .actions-card__checkboxes
                                        .check.check_large
                                            input.check__control(type="checkbox" value='4444' id='987' checked='true')
                                            label.check__label(for="987") Отправить чек на e-mail
                                        .check.check_large
                                            input.check__control(type="checkbox" value='4444' id='456' checked='true')
                                            label.check__label(for="456") Согласен с условиями&nbsp;
                                            a(href='#').check__link оферты
                                    .actions-card__btn
                                        button(type="submit").btn.btn--spindrift перевести
                                .transfer__info
                                    .transfer__support Служба поддержки: + 7 495 660-63-00
                                    .transfer__bot-logo-text
                                        .transfer__text Мы обрабатываем всю информацию о картах согласно международным стандартам безопасности
                                        .transfer__logos
                                            .transfer__logo
                                                img(src='./assets/img/transfer-logo-1.svg')
                                            .transfer__logo
                                                img(src='./assets/img/transfer-logo-2.svg')
                                            .transfer__logo
                                                img(src='./assets/img/transfer-logo-3.svg')
                                            .transfer__logo
                                                img(src='./assets/img/transfer-logo-4.svg')


                    li.tab-scenes__item(data-section-tab-scene="2")
                        .limits
                            h2.heading.heading_m Тарифы
                            p Комиссия за перевод взимается с отправителя перевода. Размер комиссии рассчитывается автоматически и отображается в форме перевода на этапе заполнения платежных данных. Обращаем ваше внимание, что Банк, выпустивший карту, может взимать дополнительную комиссию за операцию по карточным переводам. Для уточнения условий обслуживания вашей карты обращайтесь в свой Банк.
                            p
                                b Размер комиссии составляет:
                                    br
                                b 1,5%&nbsp;
                                | от суммы перевода, минимум 39 рублей.

                    li.tab-scenes__item(data-section-tab-scene="3")
                        .card
                            .card__left
                                .card__heading.heading.heading_m  Вопросы
                                ul.card__questions
                                    li.card__question
                                        a(href="#" data-scroll-link="1").card__link 1 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="2").card__link 2 Как оплатить кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="3").card__link 3 Как погасить кредит досрочно?
                                    li.card__question
                                        a(href="#" data-scroll-link="4").card__link 4 УМВД России по&nbsp;Рязанской области дает рекомендации: как не&nbsp;стать жертвой мошенников?
                                    li.card__question
                                        a(href="#" data-scroll-link="5").card__link 5 Как узнать статус заявки на&nbsp;кредит?
                                    li.card__question
                                        a(href="#" data-scroll-link="6").card__link 6 Как оплатить кредит?

                            .card__right
                                .card__heading.heading.heading_m  Ответы
                                .card__answers
                                    .card__subheading(data-scroll-to-element="1") 1 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="2") 2 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="3") 3 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.

                                    .card__subheading(data-scroll-to-element="4") 4 Как узнать статус заявки на&nbsp;кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                    .card__subheading(data-scroll-to-element="5") 5 Как оплатить кредит?
                                    p Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график платежей на&nbsp;странице кредита на&nbsp;любые цели. Или подберите нужный тип кредита в&nbsp;разделе &laquo;Кредиты&raquo;. В&nbsp;этом&nbsp;же разделе вы&nbsp;сможете рассчитать примерный график платежей и&nbsp;оформить заявку на&nbsp;кредит.

                                    .card__subheading(data-scroll-to-element="6") 6 Как погасить кредит досрочно?
                                    p Чтобы подать заявку на&nbsp;кредит в&nbsp;Прио-Внешторгбанке, зайдите в&nbsp;раздел &laquo;Кредиты&raquo; в&nbsp;верхнем меню.
                        .card-xs
                            .card-xs__h1.heading.heading_l.heading_bordered Вопросы
                            ul.accordion
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по&nbsp;кредиту и&nbsp;рассчитайте на&nbsp;калькуляторе примерный график Подберите подходящий кредит на&nbsp;нужные вам цели в&nbsp;Сбербанк Онлайн в&nbsp;разделе &laquo;Кредиты&raquo;. Если у&nbsp;вас уже есть другие кредиты и&nbsp;вы&nbsp;хотите снизить платежи по&nbsp;ним, оформите рефинансирование. Если вам нужен кредит на&nbsp;жильё, смотрите раздел &laquo;Ипотечные кредиты&raquo;.

                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как узнать статус заявки на кредит Как узнать статус заявки на кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Узнайте подробные условия по кредиту и рассчитайте на калькуляторе примерный график Подберите подходящий кредит на нужные вам цели в Сбербанк Онлайн в разделе «Кредиты». Если у вас уже есть другие кредиты и вы хотите снизить платежи по ним, оформите рефинансирование. Если вам нужен кредит на жильё, смотрите раздел «Ипотечные кредиты».
                                li.accordion__block.card-xs__item
                                    .accordion__action.card-xs__question Как оплатить кредит?
                                    .accordion__sliding-part
                                        .card-xs__answer Чтобы подать заявку на кредит в Прио-Внешторгбанке, зайдите в раздел «Кредиты» в верхнем меню.


    include ../common/_footer.pug
