extends ../_template

block variables
    - var title = 'Вакансии';

block content
    .wrapper
        include ../common/_header


        .career-banner.career-banner_mb(style="background-image: url('./assets/img/career_hero.jpg')")
            .career-banner__container.container
                .career-banner__descr
                    .career-banner__heading Специалист контактного центра
                    .career-banner__text Для нас твои идеи&nbsp;&mdash; вклад в&nbsp;прогресс
                    .career-banner__btn.btn.btn_large.btn--spindrift.vacancy__btn_popup откликнуться

        .container
            .heading.heading_l Наши вакансии
                .heading.heading_xs Активных вакансий: 6

        .vacancies
            .vacancies__container.container
                .vacancies__list
                    .vacancies__item.vacancy
                        input#card1.more(type='checkbox', aria-hidden='true')
                        .content
                            .front
                                .inner
                                    //label.button(for='card1', aria-hidden='true')
                                    //    | Details
                                    .vacancy__name Специалист контактного центра
                                    .vacancy__body
                                        .vacancy__left
                                            .vacancy__text
                                                p Шанс построить карьеру в компании-лидере банковского сектора
                                                p Стабильный доход + премии за хорошие результаты
                                                p Повышение квалификации и обучение за счет компании
                                                p Коллеги и наставники – настоящие профессионалы
                                            .vacancy__prons.prons
                                                .prons__list
                                                    .prons__item Гибкий график
                                                    .prons__item Льготное кредитование
                                                    .prons__item Дружная команда
                                                    .prons__item Насыщенная корпоративная жизнь

                                        .vacancy__right
                                            .vacancy__requirments.requirements
                                                .requirements__list
                                                    .requirements__item
                                                        .requirements__name Опыт работы
                                                        .requirements__value от 1-2 лет
                                                    .requirements__item
                                                        .requirements__name Зарплата
                                                        .requirements__value от 35 000 ₽
                                                    .requirements__item
                                                        .requirements__name Город
                                                        .requirements__value Рязань

                                            a(href="#").vacancy__docs Необходимые документы
                                    .vacancy__actions
                                        .vacancy__btn.vacancy__btn_popup.btn.btn--black откликнуться
                                        label.vacancy__btn.vacancy__btn_conditions.btn.btn--black-bordered(for='card1', aria-hidden='true') условия

                            .back
                                .inner
                                    .vacancy__heading О вакансии
                                    .vacancy__subheading Чем занимается отдел разработки
                                    ul.vacancy__list.vacancy__list_dots
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка архитектуры приложений, написание документации.
                                        li Разработка интеграционного ПО, перелив данных из одной системы в другую.
                                    .vacancy__subheading Требования к кандидату по C#
                                    ul.vacancy__list.vacancy__list_check
                                        li Знание языка С# — на отличном уровне, это основной инструмент
                                        li Знание нескольких технологий из списка: WinForms, ASP.NET WebForms, ADO.NET, .NET 4.0, Windows Services, WCF, WPF, MVVM, MVC
                                        li Опыт разработки клиент-серверных web- либо windows-приложений
                                        li Приветствуется опыт оптимизации кода для работы с большими объемами данных
                                        li Приветствуется опыт паттерного проектирования и разработки многопоточных приложений
                                    .vacancy__subheading Условия
                                    ul.vacancy__list.vacancy__list_check
                                        li Полный рабочий день;
                                        li График работы с 9 до 18;
                                        li Сверхурочно работаем редко, только по необходимости и обоюдному желанию;
                                        li Сроки бывают жесткие, но всегда известны заранее;
                                        li Есть возможность карьерного роста, а при наличии управленческих навыков - возможность дорасти до руководителя проектов.
                                    label.vacancy__btn.vacancy__btn_conditions.btn.btn--grey(for='card1', aria-hidden='true') назад

                    .vacancies__item.vacancy
                        input#card2.more(type='checkbox', aria-hidden='true')
                        .content
                            .front
                                .inner
                                    //label.button(for='card1', aria-hidden='true')
                                    //    | Details
                                    .vacancy__name Специалист контактного центра
                                    .vacancy__body
                                        .vacancy__left
                                            .vacancy__text
                                                p Шанс построить карьеру в компании-лидере банковского сектора
                                                p Стабильный доход + премии за хорошие результаты
                                                p Повышение квалификации и обучение за счет компании
                                                p Коллеги и наставники – настоящие профессионалы
                                            .vacancy__prons.prons
                                                .prons__list
                                                    .prons__item Гибкий график
                                                    .prons__item Льготное кредитование
                                                    .prons__item Дружная команда
                                                    .prons__item Насыщенная корпоративная жизнь

                                        .vacancy__right
                                            .vacancy__requirments.requirements
                                                .requirements__list
                                                    .requirements__item
                                                        .requirements__name Опыт работы
                                                        .requirements__value от 1-2 лет
                                                    .requirements__item
                                                        .requirements__name Зарплата
                                                        .requirements__value от 35 000 ₽
                                                    .requirements__item
                                                        .requirements__name Город
                                                        .requirements__value Рязань

                                            a(href="#").vacancy__docs Необходимые документы
                                    .vacancy__actions
                                        .vacancy__btn.vacancy__btn_popup.btn.btn--black откликнуться
                                        label.vacancy__btn.vacancy__btn_conditions.btn.btn--black-bordered(for='card2', aria-hidden='true') условия

                            .back
                                .inner
                                    .vacancy__heading О вакансии
                                    .vacancy__subheading Чем занимается отдел разработки
                                    ul.vacancy__list.vacancy__list_dots
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка архитектуры приложений, написание документации.
                                        li Разработка интеграционного ПО, перелив данных из одной системы в другую.
                                    .vacancy__subheading Требования к кандидату по C#
                                    ul.vacancy__list.vacancy__list_check
                                        li Знание языка С# — на отличном уровне, это основной инструмент
                                        li Знание нескольких технологий из списка: WinForms, ASP.NET WebForms, ADO.NET, .NET 4.0, Windows Services, WCF, WPF, MVVM, MVC
                                        li Опыт разработки клиент-серверных web- либо windows-приложений
                                        li Приветствуется опыт оптимизации кода для работы с большими объемами данных
                                        li Приветствуется опыт паттерного проектирования и разработки многопоточных приложений
                                    .vacancy__subheading Условия
                                    ul.vacancy__list.vacancy__list_check
                                        li Полный рабочий день;
                                        li График работы с 9 до 18;
                                        li Сверхурочно работаем редко, только по необходимости и обоюдному желанию;
                                        li Сроки бывают жесткие, но всегда известны заранее;
                                        li Есть возможность карьерного роста, а при наличии управленческих навыков - возможность дорасти до руководителя проектов.
                                    label.vacancy__btn.vacancy__btn_conditions.btn.btn--grey(for='card2', aria-hidden='true') назад
                    .vacancies__item.vacancy
                        input#card3.more(type='checkbox', aria-hidden='true')
                        .content
                            .front
                                .inner
                                    //label.button(for='card1', aria-hidden='true')
                                    //    | Details
                                    .vacancy__name Специалист контактного центра
                                    .vacancy__body
                                        .vacancy__left
                                            .vacancy__text
                                                p Шанс построить карьеру в компании-лидере банковского сектора
                                                p Стабильный доход + премии за хорошие результаты
                                                p Повышение квалификации и обучение за счет компании
                                                p Коллеги и наставники – настоящие профессионалы
                                            .vacancy__prons.prons
                                                .prons__list
                                                    .prons__item Гибкий график
                                                    .prons__item Льготное кредитование
                                                    .prons__item Дружная команда
                                                    .prons__item Насыщенная корпоративная жизнь

                                        .vacancy__right
                                            .vacancy__requirments.requirements
                                                .requirements__list
                                                    .requirements__item
                                                        .requirements__name Опыт работы
                                                        .requirements__value от 1-2 лет
                                                    .requirements__item
                                                        .requirements__name Зарплата
                                                        .requirements__value от 35 000 ₽
                                                    .requirements__item
                                                        .requirements__name Город
                                                        .requirements__value Рязань

                                            a(href="#").vacancy__docs Необходимые документы
                                    .vacancy__actions
                                        .vacancy__btn.vacancy__btn_popup.btn.btn--black откликнуться
                                        label.vacancy__btn.vacancy__btn_conditions.btn.btn--black-bordered(for='card3', aria-hidden='true') условия

                            .back
                                .inner
                                    .vacancy__heading О вакансии
                                    .vacancy__subheading Чем занимается отдел разработки
                                    ul.vacancy__list.vacancy__list_dots
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка клиент-серверных приложений для сотрудников банка и для внешних клиентов.
                                        li Разработка архитектуры приложений, написание документации.
                                        li Разработка интеграционного ПО, перелив данных из одной системы в другую.
                                    .vacancy__subheading Требования к кандидату по C#
                                    ul.vacancy__list.vacancy__list_check
                                        li Знание языка С# — на отличном уровне, это основной инструмент
                                        li Знание нескольких технологий из списка: WinForms, ASP.NET WebForms, ADO.NET, .NET 4.0, Windows Services, WCF, WPF, MVVM, MVC
                                        li Опыт разработки клиент-серверных web- либо windows-приложений
                                        li Приветствуется опыт оптимизации кода для работы с большими объемами данных
                                        li Приветствуется опыт паттерного проектирования и разработки многопоточных приложений
                                    .vacancy__subheading Условия
                                    ul.vacancy__list.vacancy__list_check
                                        li Полный рабочий день;
                                        li График работы с 9 до 18;
                                        li Сверхурочно работаем редко, только по необходимости и обоюдному желанию;
                                        li Сроки бывают жесткие, но всегда известны заранее;
                                        li Есть возможность карьерного роста, а при наличии управленческих навыков - возможность дорасти до руководителя проектов.
                                    label.vacancy__btn.vacancy__btn_conditions.btn.btn--grey(for='card3', aria-hidden='true') назад


        .how-to
            .container
                .how-to__heading.heading.heading_l Как стать частью команды:
                .how-to__graphics.steps
                    .steps__item.steps__item_wider
                        .steps__pic.steps__pic_desk
                            include ../../images/step-1.svg
                        .steps__pic-small
                            include ../../images/step-1-small.svg
                        .steps__content
                            .steps__heading Откликнуться
                            .steps__text Откликнуться на вакансию на сайте или на ресурсах Суперджоб или HeadHunter, прикрепить резюме
                    //.steps__arrow
                    //    include ../../images/steps-line.svg
                    .steps__item.steps__item_wider
                        .steps__pic.steps__pic_desk
                            include ../../images/step-2.svg
                        .steps__pic-small
                            include ../../images/step-2-small.svg
                        .steps__content
                            .steps__heading Дождаться
                            .steps__text Дождаться звонка специалиста по управлению персоналом. Обычно это происходит в течение 2-х недель.
                    .steps__item.steps__item--3.steps__item_wider
                        .steps__pic.steps__pic_desk
                            include ../../images/step-3.svg
                        .steps__pic-small
                            include ../../images/step-3-small.svg
                        .steps__content
                            .steps__heading Пройти
                            .steps__text Наличными в день одобрения кредита
        .container.vacancies-text Если не нашли подходящую вакансию — просто присылайте резюме. Возможно, именно сейчас мы обдумываем вакансию, которая подойдет именно вам.

        .request.request_right.request_no-b-m.request_dropzoned
            .request__container.container(style="background-image: url('./assets/img/req-vacancies.jpg')")
                .request__card
                    //form.dropzone(action="/upload-target")
                    form(id="request" autocomplete="off" action="/upload" enctype="multipart/form-data" method="get").request__form
                        .request__title Оставьте заявку
                        .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                        .request__input-container
                            .request__input-wrapper
                                input.request__input(type="text" name="username" id='username' placeholder='ФИО')
                            .request__flex-wrap
                                .request__input-wrapper
                                    input.request__input(type="text" name="numberInput" id="phone_number" placeholder='Телефон').phone_number
                                .request__input-wrapper
                                    input.request__input(type="text" name="emailInput" id="email" placeholder='E-mail')
                            .request__input-wrapper
                                input.request__input(type="text" name="socials" id="socials" placeholder='Ссылка на социальные сети')

                            .request__dropzone.dropzone(id="myDropzone")
                                .dz-message(data-dz-message)
                                    span Перетащите или&nbsp;
                                        span.dz-message__underline загрузите резюме
                                        | &nbsp;(pdf, doc)

                                .dropzone__url.request__input-wrapper
                                    input#resume_url_address.request__input.request__input_url(type='text', value='', name='resume_url_address', placeholder="Или вставьте ссылку на резюме hh.ru или superjob.ru")
                                    //span.input-bar
                                    //label.dropzone__url-label Или вставьте ссылку на резюме hh.ru или superjob.ru

                                //a.dz-remove(href='javascript:undefined;', data-dz-remove) elkfkfkf

                                //.dz-remove(data-dz-remove)
                                    include ../../images/cross_close.svg


                                //.dz-clickable
                                //div(id="dropzoned")
                                    //.dz-preview.dz-file-preview
                                    //    .dz-details
                                    //        .dz-filename
                                    //            span(data-dz-name='')
                                    //        .dz-size(data-dz-size='')
                                    //        img(data-dz-thumbnail='')
                                    //    .dz-progress
                                    //        span.dz-upload(data-dz-uploadprogress='')
                                    //    .dz-success-mark
                                    //        span ✔
                                    //    .dz-error-mark
                                    //        span ✘
                                    //    .dz-error-message
                                    //        span(data-dz-errormessage='')
                            //.request__input-wrapper.request__input-wrapper_link-resume
                            //    input.request__input(type="text" name="portfolioLink" id="portfolio_link" placeholder='Или вставьте ссылку на резюме hh.ru или superjob.ru')
                            .request__flex-wrap.request__flex-wrap_70-30
                                .request__input-wrapper
                                    .check
                                        input.check__control(type="checkbox" value='5555' id='5' checked='true')
                                        label.check__label(for="5") Я&nbsp;принимаю&nbsp;
                                        a(href='#').check__link условия передачи информации.
                                    button(type='submit' id="submit-all").btn.btn--spindrift.request__btn отправить заявку
                                .request__input-wrapper
                                    .request__text-socials Подписаться:
                                    .request__socials.socials.socials_dark
                                        ul.socials__list
                                            li.socials__item
                                                a(href="#").socials__link
                                                    include ../../images/fb.svg
                                            li.socials__item
                                                a(href="#").socials__link
                                                    include ../../images/ok.svg
                                            li.socials__item
                                                a(href="#").socials__link
                                                    include ../../images/vk.svg
                                            li.socials__item
                                                a(href="#").socials__link
                                                    include ../../images/youtube.svg
                    .request__thankyou.thankyou-form
                        .thankyou-form__img
                            include ../../images/form-icon-tankyou.svg
                        .thankyou-form__heading Спасибо за оставленную заявку
                        .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!
    .overlay
        .products__popup.popup.popup_vacancies
            .popup__container
                form(id="Vrequest" autocomplete="off" action="/upload" enctype="multipart/form-data" method="get").request__form
                    .request__title Оставьте заявку
                    .request__subtitle Оставьте заявку онлайн и мы свяжемся с вами в ближайшее время
                    .request__input-container
                        .request__input-wrapper
                            input.request__input(type="text" name="username" id='Vusername' placeholder='ФИО')
                        .request__flex-wrap
                            .request__input-wrapper
                                input.request__input(type="text" name="numberInput" id="Vphone_number" placeholder='Телефон').phone_number
                            .request__input-wrapper
                                input.request__input(type="text" name="emailInput" id="Vemail" placeholder='E-mail')
                        .request__input-wrapper
                            input.request__input(type="text" name="socials" id="Vsocials" placeholder='Ссылка на социальные сети')

                        .request__dropzone.dropzone(id="VmyDropzone")
                            .dz-message(data-dz-message)
                                span Перетащите или&nbsp;
                                    span.dz-message__underline загрузите резюме
                                    | &nbsp;(pdf, doc)

                            .dropzone__url.request__input-wrapper
                                input#Vresume_url_address.request__input.request__input_url(type='text', value='', name='resume_url_address', placeholder="Или вставьте ссылку на резюме hh.ru или superjob.ru")

                        .request__flex-wrap.request__flex-wrap_70-30
                            .request__input-wrapper
                                .check
                                    input.check__control(type="checkbox" value='5555' id='522' checked='true')
                                    label.check__label(for="522") Я&nbsp;принимаю&nbsp;
                                    a(href='#').check__link условия передачи информации.
                                button(type='submit' id="Vsubmit-all").btn.btn--spindrift.request__btn отправить заявку
                            .request__input-wrapper
                                .request__text-socials Подписаться:
                                .request__socials.socials.socials_dark
                                    ul.socials__list
                                        li.socials__item
                                            a(href="#").socials__link
                                                include ../../images/fb.svg
                                        li.socials__item
                                            a(href="#").socials__link
                                                include ../../images/ok.svg
                                        li.socials__item
                                            a(href="#").socials__link
                                                include ../../images/vk.svg
                                        li.socials__item
                                            a(href="#").socials__link
                                                include ../../images/youtube.svg
                .request__thankyou.thankyou-form
                    .thankyou-form__img
                        include ../../images/form-icon-tankyou.svg
                    .thankyou-form__heading Спасибо за оставленную заявку
                    .thankyou-form__text В ближайшее время с Вами свяжется наш специалист!
            button(type="button").popup__close-btn
    include ../common/_footer
