extends ../_template

block variables
    - var title = 'Работа в банке';

block content
    .wrapper
        include ../common/_header.pug

        .palette
            .palette__container.container
                .palette__left
                    a(href='#').palette__top.article-photo.article-photo_work
                        .article-photo__pic(style="background-image: url('./assets/img/work-1.jpg')")
                            .article-photo__text
                                | Наши ценности
                    a(href='#').palette__bot.article-photo_work
                        .article-photo__pic(style="background-image: url('./assets/img/work-2.jpg')")
                            .article-photo__text
                                | Начало карьеры
                .palette__right
                    a(href='#').palette__top.article-photo_work
                        .article-photo__pic(style="background-image: url('./assets/img/work-3.jpg')")
                            .article-photo__text
                                | Вакансии
                    a(href='#').palette__bot.article-photo_work
                        .article-photo__pic(style="background-image: url('./assets/img/work-4.jpg')")
                            .article-photo__text
                                | Финтех


    include ../common/_footer.pug
