.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(1200px) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;
  }

  &__col {
    &--download {
      @include media(1200px) {
        width: 50%;
        margin-bottom: 35px;
      }
    }
    &--socials {
      @include media(1200px) {
        order: 3;
        width: 100%;
      }
    }
    &--pay {
      @include media(1200px) {
        order: 2;
        width: 50%;
      }
      @include phone {
        margin-bottom: 35px;
      }
    }
    @include phone {
      width: 100% !important;
    }
  }

}
