.footer-contacts {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  @include tablets {
    flex-direction: column-reverse;
    align-items: initial;
    margin-bottom: 25px;
  }

  &__address {
    width: 74%;
    padding-right: 170px;

    @include tablets {
      width: 100%;
      padding-right: 0;
      max-width: 675px;
    }
  }

  &__number {
    flex-shrink: 0;
    font-size: 27px;
    font-weight: 600;
    width: 266px;
    text-align: right;

    @include tablets {
      text-align: left;
      margin-bottom: 17px;
    }

    @include phone {
      font-size: 22px;
    }

    a {
      color: $white;
      transition: 0.4s;

      &:hover {
        color: $spindrift;
      }
    }
  }
}
