.footer-nav {

  &__list {
    display: flex;
  }

  &__item {
    width: 25%;
    padding-right: 45px;

    &:nth-child(2) {
      width: 50%;
    }

    &:last-child {
      padding-right: 0;
      width: 25%;
    }

    @include tablets {
      display: none;
    }

    @include phone {
      margin-right: 0;
    }
  }

  &__item--2col {
    display: none;

    @include tablets {
      display: initial;
      width: 50% !important;

    }
  }

  &__menu-item {
    margin-bottom: 24px;
  }

  &__menu-link {
    color: $black;
    font-size: 16px;
    line-height: 19px;
    transition: 0.4s;

    @include phone {
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      color: $spindrift;
    }
  }
}
