.footer-additional {
  padding: 0 112px;

  @include tablets {
    padding: 0 54px 17px;
    border-bottom: none;
  }

  @include phone {
    padding: 0 15px 17px;
  }

  &__text {
    margin-bottom: 9px;
  }

  &__link {
    color: $white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $spindrift;
    }
  }
}
