.footer {
  background-color: $black;
  position: relative;

  img {
    display: block;
  }
  svg {
    display: block;
  }

  &__top {
    background-color: #F5F7F7;
  }

  &__bottom {
    color: $white;
    font-size: 14px;
    line-height: 16px;
    padding-top: 23px;
    padding-bottom: 24px;

    @include tablets {
      padding-top: 34px;

      .container {
        padding: 0;
      }
    }

  }
}
