.footer-info {
  padding: 0 112px 17px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-bottom: 22px;

  @include media(1200px) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  @include tablets {
    padding: 0 54px 17px;
    border-bottom: none;
  }

  @include phone {
    padding: 0 15px 17px;
  }


}
