.light-footer {
  display: flex;
  justify-content: space-between;
  padding: 47px 164px;

  @include media(1320px) {
    padding: 47px 53px;
  }

  @include tablets {
    padding: 47px 53px;
  }

  @include phone {
    flex-wrap: wrap;
    padding: 37px 16px;
  }

  &__nav {
    width: 60%;

    @include tablets {
      width: 70%;
    }

    @include phone {
      order: 2;
      width: 100%;
    }
  }

  &__currencies {
    width: 40%;
    display: flex;
    position: relative;
    justify-content: flex-end;

    @include tablets {
      width: 22%;
      flex-direction: column-reverse;
    }
    @include phone {
      width: 100%;
      flex-direction: row-reverse;
      margin-bottom: 33px;
    }
  }

  &__to-top {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: calc(100% - 40px);
    cursor: pointer;

    @include tablets {
      bottom: 40px;
    }

    svg {
      transition: 0.4s;
      rect {
      }
      path {
        transition: 0.4s;
      }
    }

    &:hover {
      svg {
        fill: $spindrift;
        rect {
          stroke: $spindrift;
        }
        path {
          stroke: $white;
        }
      }
    }
  }

  &__currency {
    @include phone {
      width: 50%;
    }
  }

  &__insured {
    display: block;
    margin-right: 42px;

    &:hover {
      cursor: default;
    }

    img {
      transition: 0.4s;
      filter: grayscale(4) contrast(1.8);

      &:hover {
        cursor: pointer;
        filter: none;
      }
    }

    @include phone {
      margin-right: 0;
      width: 50%;
    }
  }

  &__insured-pic {
    max-width: 82px;
  }

}
