.pay {
  &__list {
    display: flex;
    align-items: center;

    @include media(1200px) {
      justify-content: flex-end;
    }

    @include phone {
      justify-content: space-between;
    }
  }
  &__item {
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    svg {
      path {
        transition: 0.2s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $spindrift;
        }
      }
    }
  }
}
