.socials {
  &__list {
    display: flex;
    align-items: center;

    @include phone {
      justify-content: space-between;
    }
  }
  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      max-width: 24px;
    }
  }
  &__link {
    @include media(1200px) {
      padding: 11px;
      border: 1px solid #FFFFFF;
      border-radius: 6px;
      display: block;
    }
    svg {
      path {
        transition: 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $spindrift;
          fill: $spindrift;
        }
      }
    }
  }

  &_dark {
    .socials {
      &__item {
        margin-right: 8px;
      }

      &__list {
        justify-content: center;
      }
      &__link {
        display: block;
        border: 1px solid #E7E7E7;
        border-radius: 6px;

        padding: 6px 8px 3px;

        svg {
          path {
            stroke: #848484;
            fill: #848484;
          }
        }

        &:hover {
          svg {
            path {
              stroke: $spindrift;
              fill: $spindrift;
            }
          }
        }
      }
    }
  }
}
