.date-views {
  display: flex;
  color: white;
  font-weight: 500;

  &_grey {
    color: rgba(#000, 0.4);

    .date-views__eye {
      svg {
        path {
          fill: rgba(#000, 0.4);
        }

        circle {
          fill: rgba(#000, 0.4);
        }
      }
    }
  }

  &__date {
    margin-right: 15px;
  }

  &__eye {
  }

  &__views {
    position: relative;
    padding-left: 6px;

  }
}
