.large {
  background-color: #C4C4C4;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 420px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
  border-radius: 6px;
  overflow: hidden;

  padding: 26px 28px;


  @include tablets {
    margin-bottom: 27px;
  }

  @include phone {
    padding: 26px 20px 16px 14px;
  }


  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(196, 196, 196, 0.3) 40% ,rgba(255, 255, 255, 0) 90%);

  }

  &__container {
    height: 100%;
    z-index: 2;
    padding: 26px 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__top {
    z-index: 1;
  }

  &__bottom {
    margin-top: auto;
    z-index: 1;
  }

  &__heading {
    max-width: 811px;
    color: white;
    font-weight: 600;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: -0.02em;

    @include phone {
      font-size: 28px;
      line-height: 30px;
    }

    &_smaller {
      font-size: 30px;
      line-height: 35px;
    }
  }
}
