.little-sections {
  display: flex;

  @include phone {
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    margin-right: 16px;

    @include phone {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
