.positioning {
  display: flex;
  width: 100%;
}

.little {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  overflow: hidden;

  @include tablets {
    width: 100%;
    min-height: 408px;
    margin-bottom: 27px;
  }

  @include phone {
    width: 100%;
    min-height: 420px;
    margin-bottom: 27px;
  }

  &_smaller-tablet {
    @include tablets {
      min-height: 364px;

      .little__top {
        height: 56%;
      }

      .little__bottom {
        height: 44%;
      }
    }

    @include phone {
      .little__top {
        height: 48%;
      }

      .little__bottom {
        height: 52%;
      }
    }
  }

  &__top {
    width: 100%;
    height: 48%;
    background-image: url("../img/large-banner.jpg");
    background-color: #C4C4C4;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__bottom {
    border: 1px solid #E7E7E7;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    width: 100%;
    height: 52%;
    padding: 19px 15px;
    display: flex;
    flex-direction: column;

  }

  &__text-container {
    margin-top: auto;
  }

  &__text {
    max-height: 77px;
    overflow: hidden;

    @include tablets {
      max-height: 57px;
    }

    @include tablets {
      max-height: 77px;
    }

  }

  &__views {
    margin-bottom: 19px;
  }

  &__heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 14px;
    color: #000;

    @include media(1213px) {
        font-size: 20px;
      line-height: 23px;
    }

    @include phone {
      font-size: 22px;
      line-height: 25px;
    }
  }
}
