.middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border: 1px solid #E7E7E7;
  border-radius: 6px;
  overflow: hidden;

  padding: 24px 27px 41px 28px;

  transition: 0.4s;

  @include tablets {
    min-height: 364px;
    margin-bottom: 27px;
  }

  @include phone {
    padding: 32px 15px;
  }

  &__top {
    margin-bottom: 29px;
  }

  &__text {
    margin-bottom: 26px;
  }


  &__heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #000;
    margin-bottom: 19px;

    &_smaller {
      max-width: 78%;

      @include tablets {
        max-width: 100%;
      }
    }

    @include phone {
      font-size: 22px;
      line-height: 25px;
    }

  }
}
