.news {
  margin-bottom: 46px;

  @include tablets {
    margin-bottom: 3px;
  }

  @include phone {
    margin-bottom: 0;
  }

  &__container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-row-gap: 15px;
    grid-column-gap: 16px;

    grid-template-areas:
      "largeBlock largeBlock largeBlock largeBlock largeBlock largeBlock largeBlock largeBlock largeBlock littleBlock littleBlock littleBlock"
      "middleBlock middleBlock middleBlock middleBlock middleBlock preLargeBlock preLargeBlock preLargeBlock preLargeBlock preLargeBlock preLargeBlock preLargeBlock"
      "littleContainer littleContainer littleContainer littleContainer littleContainer littleContainer afterMiddle afterMiddle afterMiddle afterMiddle afterMiddle afterMiddle";


    @include tablets {
      display: block;
    }
  }

  &__little {
    display: flex;
    grid-area: littleBlock;
  }

  &__middle {
    grid-area: middleBlock;
  }

  &__large {
    grid-area: largeBlock;
  }

  &__pre-large {
    grid-area: preLargeBlock;
  }

  &__littleContainer {
    grid-area: littleContainer;
  }

  &__afterMiddle {
    grid-area: afterMiddle;
  }






  &__little-cards-list {
    display: flex;

    @include tablets {
      flex-wrap: wrap;
      margin-left: -16px;
    }

    @include phone {
      display: block;
    }
  }

  &__little-card {
    display: flex;
    width: 25%;
    margin-right: 16px;
    min-height: 420px;

    @include tablets {
      width: calc(50% - 16px);
      display: flex;
      margin-left: 16px;
      margin-right: 0;
    }

    @include phone {
      width: calc(100% - 16px);
    }

    &:nth-child(2n) {
      @include tablets {
        margin-right: 0;
      }

    }

    &:last-child {
      margin-right: 0;

    }
  }




}
