.news-text {
  font-size: 16px;
  line-height: 24px;
  color: #000;

  @include media(1203px) {
    font-size: 14px;
    line-height: 17px;
  }

  @include phone {
    font-size: 16px;
    line-height: 19px;
  }
}
