.pagination {
  font-size: 16px;
  color: #000;
  margin-bottom: 59px;

  @include tablets {
    margin-bottom: 37px;
  }

  @include phone {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-arr {
    margin-right: 19px;
    margin-top: 3px;
    svg {
      transform: rotate(180deg);
    }
  }

  &__right-arr {
    margin-top: 3px;
    margin-left: 1px;

  }

  &__page {
    display: block;
    color: #000;
    margin-right: 18px;
    text-decoration: underline;
    text-decoration-color: black;
    transition: 0.4s;

    &:hover {
      text-decoration-color: transparent;
      transition: 0.4s;
    }

    &:last-child {
      margin-right: 0;
    }

    &_active {
      color: #ffffff;
      position: relative;
      text-decoration: none;
      font-weight: 600;

      margin-right: 13px;

      padding: 1px 7px;
      min-width: 24px;
      min-height: 24px;
      display: flex;
      justify-content: center;

      background-color: $spindrift;
      border-radius: 50%;
    }
  }

  &__dots {
    color: #000;
    margin-right: 18px;
  }

}
