.search-news {
  margin-bottom: 52px;

  &_search-page {
    margin-bottom: 67px;

    @include tablets {
      margin-bottom: 58px;
    }
    @include phone {
      margin-bottom: 31px;
    }
  }

  &_atm {
    margin-bottom: 40px;

    @include phone {
      pointer-events: none;
      opacity: 0;
      margin-bottom: 26px;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      background: white;
      z-index: 4;
      padding-top: 23px;
      padding-bottom: 160px;
      transition: 0.3s ease-out;

      &.active {
        opacity: 1;
        pointer-events: auto;
        transition: 0.3s ease-out;
      }
    }


  }

  @include tablets {
    margin-bottom: 48px;
  }

  &__wrapper {
    position: relative;
    &_bot-m {
      margin-bottom: 39px;

      @include tablets {
        margin-bottom: 27px;
      }
    }


  }
  &__input {
    border-radius: 6px !important;
    border: 1px solid #E7E7E7;
    padding: 20px 50px 20px 30px;
    position: relative;
    width: 100%;
    font-size: 16px;
    outline: none;
    color: rgba(black, 0.5);

    @include placeholder {
      font-size: 16px;
    }
  }

  &__button {
    position: absolute;
    top: 34%;
    cursor: pointer;

    right: 0;
    background-color: transparent;
    border: none;
    outline: none;

    width: 26px;
    padding: 0;
    margin: 0 16px 0 0;

    &:hover {
      svg {
        transition: 0.4s;
        transform: scale(1.5);
      }
    }

    svg {
      transition: 0.4s;
      transform: scale(1.3);
      fill: $spindrift;
      path {
        fill: $spindrift;
      }
    }
  }

  &__under-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;

    @include phone {
      margin-top: 10px;
      flex-direction: column-reverse;
      justify-content: initial;
      align-items: initial;
    }
  }

  &__info {
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;

    @include phone {
      margin-bottom: 35px;
    }
  }

  &__checkboxes {
    display: flex;

    @include phone {
      display: block;
    }

    .check {
      margin-bottom: 12px;
    }
  }

  &__right {
    display: flex;

    @include tablets {
      display: none;
    }

    @include phone {

    }

    &_mob {
      display: none;
      @include tablets {
        display: flex;
      }

      @include phone {
        display: block;
      }
    }
  }

  &__three-check {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }


  &__left {
    padding-right: 50px;
    border-right: 1px solid rgba(#c4c4c4, 0.5);
    margin-right: 50px;

    @include phone {
      padding-right: 0;
      padding-bottom: 21px;
      margin-bottom: 21px;
      border: none;
      border-bottom: 1px solid rgba(#c4c4c4, 0.5);
      margin-right: 0;
      width: 100%;
    }
  }

  &__two-check {
    margin-right: 56px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__back {
    display: none;
    margin-bottom: 29px;
    color: #000;

    &:hover {
      color: $spindrift;

      svg {
        path {
          stroke: $spindrift;
        }
      }
    }

    svg {
      transform: rotate(180deg);
      margin-right: 6px;
    }

    @include phone {
      display: block;
    }
  }

  &__btn {
    display: none;
    width: 100%;
    margin-top: 26px;

    @include phone {
      display: flex;
    }
  }

}
