.article-under-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;

  &.container {
    padding-right: 125px;
    @include tablets {
      padding-right: 16px;
    }
  }

  @include tablets {
    margin-bottom: 28px;
  }
  @include phone {
    display: block;
    margin-bottom: 20px;
  }

  &__user {
    width: 85%;

    @include tablets {
      width: 80%;
    }
    @include phone {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__tags {
    width: 15%;

    @include tablets {
      width: 20%;
    }

    @include phone {
      width: 100%;
    }
  }
}
