.article-photo {
  position: relative;
  margin-bottom: 20px;
  transition: 0.4s ease-out;

  &_work {
    border: 1px solid transparent;
    border-radius: 6px;
    &:hover {
      transition: 0.4s ease-out;
      box-shadow: 0 18px 32px rgba(0, 47, 103, 0.23);

    }
    .article-photo {
      &__pic {
        width: 100%;
        padding: 24px 39px;
        min-height: auto;

        @include tablets {
          padding: 29px 23px;
        }

        @include phone {
          padding: 16px 15px;
        }
      }

      &__text {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        @include tablets {
          font-size: 28px;
        }

        @include tablets {
          font-size: 22px;
        }
      }
    }
  }

  &__pic {
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 420px;

    border-radius: 6px;

    display: flex;
    align-items: flex-end;

    position: relative;
    padding: 20px 46px;

    @include tablets {
      min-height: 298px;
    }

    @include phone {
      min-height: 342px;
      padding: 16px 24px 37px 16px;
    }

    &:after {
      border-radius: 6px;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__text {
    max-width: 811px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: relative;
    z-index: 1;

    @include tablets {
      font-size: 38px;
      line-height: 44px;
      max-width: 642px;
    }

    @include phone {
      font-size: 28px;
      line-height: 32px;
      max-width: none;
    }
  }
}
