.article {

  .heading_l {
    margin-bottom: 20px;
  }

  &.container {
    padding-right: 125px;
    @include tablets {
      padding-right: 16px;
    }
  }

  &.container {
    padding-bottom: 47px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 25px;
  }


  ol {
    padding-inline-start: 16px;

    @include tablets {
      padding-inline-start: 16px;
    }
  }
  ol li {
    list-style: decimal;
    margin-bottom: 20px;
    font-size: 17px;
    padding-left: 4px;

    @include tablets {
      font-size: 4px;
    }

    @include phone {
      margin-bottom: 12px;
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    margin-bottom: 40px;
    display: flex;

    @include phone {
      display: block;
    }
  }

  &__text {
    width: 85%;
    padding-right: 128px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include tablets {
      padding-right: 50px;
      width: 80%;
    }

    @include phone {
      width: 100%;
      padding-right: 0;
    }
  }

  &__ref {
    width: 15%;
    font-size: 16px;
    line-height: 19px;
    color: #808080;

    @include tablets {
      width: 20%;
    }

    @include phone {
      width: 100%;
    }
  }

  &__ref-name {
    display: block;
  }

  &__link {
    color: #000;
    text-decoration: underline;
    text-decoration-color: black;
    transition: 0.4s ease-out;

    &_bold {
      font-weight: 500;
    }

    &:hover {
      text-decoration-color: transparent;
      transition: 0.4s ease-out;
    }
  }

  &__date {
    font-size: 16px;
    margin-bottom: 12px;
    color: #808080;
  }
}
