.large-slider {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 72px;

  &__container {
    position: relative;
    min-height: 368px;
    width: 94%;
    padding: 0;

    @include tablets {
      padding: 0;
      min-height: 300px;
    }

    @include phone {
      padding: 0;
      min-height: 176px;
    }
  }

  &__photo-list {
  }
  &__photo-item {
    border-radius: 6px;
    overflow: hidden;
  }
  &__photo {
    min-height: 368px;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;

    @include tablets {
      min-height: 300px;
    }

    @include phone {
      min-height: 176px;
    }
  }


  &__controls {

    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    @include tablets {
      position: static;
      justify-content: center;
      transform: none;
      margin-top: 22px;
    }

    @include phone {
      margin-top: 22px !important;
    }


    .swiper-button-large-next, .swiper-button-large-prev {
      outline: none;
      &:hover {
        cursor: pointer;
        svg {
          path{
            fill: #b9b9b9;


            @include phone {
              fill: black;
            }
          }
        }
      }
    }

    .swiper-button__icon-left, .swiper-button__icon-right {
      width: 20px;
      height: 20px;

      @include tablets {
        margin-left: 0;
      }

      svg {
        width: 20px;
        height: 20px;
        path {
          transition: 0.4s;
        }
      }

    }
    .swiper-button__icon-left {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);

      svg {
        width: 20px;
        height: 20px;
      }

      @include phone {
        margin-left: 0;
      }

    }
    .swiper-button__icon-right {

      @include phone {
        margin-right: 0;
      }
    }

    .swiper-button-large-next {
      position: absolute;
      right: 29px;

      @include tablets {
        position: static;
      }
    }

    .swiper-button-large-prev {
      position: absolute;
      left: 29px;

      @include tablets {
        position: static;
        margin-right: 30px;
      }

    }

    @include phone {
      position: relative;
      margin: 0 auto;
      max-width: 82px;
    }
  }

}
