.user {
  display: flex;
  align-items: center;

  &__pic {

    background: url("../img/article-photo.jpg"), #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 51px;
    width: 51px;
    border-radius: 50%;
  }

  &__name {
    font-weight: 600;
    font-size: 17px;
    margin-left: 16px;
    color: #000;
  }
}
